.about-page-heading {
    color: #2f2f2f;
    font-family: "Kairos W04 Extended Bold";
    font-size: 80px;
    text-align: center;
}
.about {
    background-color: aqua;
}
.about-main {
    background-color: #e7e7e7;
}
.mission-statement {
    font-family: "Moveo Sans w00 Bold";
    text-align: center;
    font-size: 80px;
    padding: 10px;
}
.about-para {
    font-family: "Moveo Sans w00 Regular";
    font-size: 30px;
    text-align: center;
    margin: 60px;
    width: auto;
}
.jobs-done {
    background-color: blue;
}
.over-job {
    font-family: "Moveo Sans w00 Bold";
    font-size: 60px;
    color:#c7c7c7;
    padding: 50px;
    text-align: center;
}
.material-worx-info {
    background-color: black;
    display: inline-block;
    text-align: center;
}
.material-worx-about {
    color:#7aebff;
    font-size: 60px;
    padding: 30px;
    font-family: "Moveo Sans w00 Bold";
}
.material-statement {
    color:#7aebff;
    font-size: 30px;
    font-family: "Moveo Sans w00 regular";
    padding: 30px;
}