.invoice {
    background-color: aqua;
    padding: 15px;
    padding-bottom: 20px;
}
.invoice-main {
    background-color: #e7e7e7;
}
.about-invoice-heading {
    color: #2f2f2f;
    font-family: "Kairos W04 Extended Bold";
    font-size: 80px;
    text-align: center;
}
.invoice-statement {
    font-family: "Moveo Sans w00 Bold";
    text-align: center;
    font-size: 80px;
    padding: 10px;

}
.invoice-form {
    border-color: #000;
    border-width: 4px;
    background-color: #cccbcb;
    border-style: solid;
    border-radius: 10px;
    margin: 10px;
    width: auto;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: 20px;
}
.name-invoice, 
.company-invoice,
.email-phone-invoice {
    background-color: #cccbcb;
    margin: 10px;
    width: auto;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: 20px;
}
.name-invoice-label, 
.company-invoice-label,
.email-invoice-label {
    padding: 50px;
    color: #000;
    font-family: "Moveo Sans w00 Bold";
    text-align: center;
    font-size: 80px;
    font-style: inherit;
    height: auto;
}
.name-invoice-form {
    font-family: "Moveo Sans w00 Regular";
    margin: 10px;
    margin-right: 0;
    position: relative;
    padding-left: 15px;
    display: flex;
    height: auto;
}
.first-invoice-name, .last-invoice-name,
.email-invoice-name,
.phone-invoice-form {
    font-family: "Moveo Sans w00 Regular";
    margin: 10px;
    margin-right: 0;
    position: relative;
    padding-left: 15px;
    display: flex;
    height: auto;
}
.first-invoice-label-name, 
.last-invoice-label-name, 
.company-invoice-label-name,
.email-invoice-label-name,
.phone-invoice-label-name {
    font-family: "Highway Gothic Narrow";
    font-style: normal;
    margin: 0;
    color: #226daf;
    padding-left: 10px;
    font-size: 70px;
}
.first-invoice-input, 
.last-invoice-input, 
.company-invoice-input,
.email-invoice-input,
.phone-invoice-input {
    padding: 10px;
    color: #0f375a;
    font-size: 50px;
    margin-bottom: 20px;
    height: auto;
}