.about-page-heading {
    color: #2f2f2f;
    font-family: "Kairos W04 Extended Bold";
    font-size: 80px;
    text-align: center;
}
.about {
    background-color: aqua;
}
.about-main {
    background-color: #e7e7e7;
}
.mission-statement {
    font-family: "Moveo Sans w00 Bold";
    text-align: center;
    font-size: 80px;
    padding: 10px;
}
.about-para {
    font-family: "Moveo Sans w00 Regular";
    font-size: 30px;
    text-align: center;
    margin: 60px;
    width: auto;
}
.jobs-done {
    background-color: blue;
}
.over-job {
    font-family: "Moveo Sans w00 Bold";
    font-size: 60px;
    color:#c7c7c7;
    padding: 50px;
    text-align: center;
}
.material-worx-info {
    background-color: black;
    display: inline-block;
    text-align: center;
}
.material-worx-about {
    color:#7aebff;
    font-size: 60px;
    padding: 30px;
    font-family: "Moveo Sans w00 Bold";
}
.material-statement {
    color:#7aebff;
    font-size: 30px;
    font-family: "Moveo Sans w00 regular";
    padding: 30px;
}

@media screen and (min-width: 1200px) and (max-width: 1800px) and (orientation: landscape) {
    .about-page-heading {
        font-size: 6rem;
    }
    .mission-statement {
        font-size: 3rem;
    }
    .about-para {
        font-size: 1.5rem;
        margin: 0;
    }
    .over-job {
        font-size: 2rem;
        padding: 0;
    }
    .material-worx-about {
        font-size: 40px;
    }
    .material-statement {
        font-size: 1.5rem;
        padding: 0;
    }
}
@media screen and (max-width: 1200px) and (orientation: landscape) {
    .about-page-heading {
        font-size: 5rem;
    }
    .mission-statement {
        font-size: 3rem;
    }
    .about-para {
        font-size: 1.5rem;
        margin: 0;
    }
    .over-job {
        font-size: 2rem;
        padding: 0;
    }
    .material-worx-about {
        font-size: 40px;
    }
    .material-statement {
        font-size: 1.5rem;
        padding: 0;
    }
}
@media screen and (max-width: 1200px) and (orientation: portrait) {
    .about-page-heading {
        font-size: 5rem;
    }
    .mission-statement {
        font-size: 2.5rem;
    }
    .about-para {
        font-size: 1.5rem;
        margin: 0;
    }
    .over-job {
        font-size: 2rem;
        padding: 0;
    }
    .material-worx-about {
        font-size: 50px;
    }
    .material-statement {
        font-size: 1.5rem;
        padding: 0;
    }
}
@media screen and (min-width: 320px) and (max-width: 640px) and (orientation: portrait) {
    .about-page-heading {
        font-size: 3rem;
    }
    .mission-statement {
        font-size: 2.2rem;
    }
    .about-para {
        font-size: 1.2rem;
        margin: 0;
    }
    .over-job {
        font-size: 1.8rem;
        padding: 0;
    }
    .material-worx-about {
        font-size: 40px;
    }
    .material-statement {
        font-size: 1.2rem;
        padding: 0;
    }
}
@media screen and (max-width: 320px) and (orientation: landscape) {
    .about-page-heading {
        font-size: 2rem;
    }
    .mission-statement {
        font-size: 2rem;
    }
    .about-para {
        font-size: 1rem;
        margin: 0;
    }
    .over-job {
        font-size: 1.5rem;
        padding: 0;
    }
    .material-worx-about {
        font-size: 40px;
    }
    .material-statement {
        font-size: 1rem;
        padding: 0;
    }
}
@media screen and (max-width: 320px) and (orientation: portrait) {
    .about-page-heading {
        font-size: 2rem;
    }
    .mission-statement {
        font-size: 2rem;
    }
    .about-para {
        font-size: 1rem;
        margin: 0;
    }
    .over-job {
        font-size: 1.5rem;
        padding: 0;
    }
    .material-worx-about {
        font-size: 40px;
    }
    .material-statement {
        font-size: 1rem;
        padding: 0;
    }
}
