/* ================================
   ================================
   TOP OF THE ADHESIVE PAGE
   ================================
   ================================ */
   .page-dry-container {
    padding: 80px 0 40px 0;
    position: relative;
    overflow: hidden;
    padding-top: 300px;
    background-color: #b4feff;
  }

  .dry-name-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

.dry-description {
    color: #000;
    font-family: "Kairos W04 Extended Bold";
    font-size: 100px;
    text-align: center;
  }

  /* ================================
   ================================
    PHOTO GALLERY
   ================================
   ================================ */
   .photo-gal-dry {
    background-color: #8fafff;
  }

  /* ================================
   ================================
    ADHESIVE SECTION FORM
   ================================
   ================================ */
   .dry-set {
    padding-top: 10px;
    background-color: #e7e7e7;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .page-section {
    padding-bottom: 3.5rem;
}
.dry-form-info {
    margin: 10px;
    width: 100%;
}
  .dry-app-box {
    margin-top: 10px;
    text-align: center;
    font-size: 50px;
  }
  .log-re {
    margin: 40px;
    text-align: center;
    font-size: 50px;
  }
.dry-fill {
    margin: 40px;
    text-align: center;
    font-size: 35px;
}
.dry-notice,.logo-notice {
    color: #194fb4;
}
.dry-warn {
    font-size: 30px;
    margin: 5%;
    color: #000
}
.logo-warn {
    font-size: 30px;
    margin-top: 0%;
    color: #000
}
.dry-actual {
    width: 90%;
    margin: 50px;

}
/* ================================
   Larger Labels for Adhesive Section
   ================================ */
.first-dry-name-label, 
.dry-company-label, 
.emailphone-dry-label,
.address-dry-label,
.size-dry-label,
.message-dry-label,
.place-dry-label,
.finish-dry-label,
.dry-file-label {
  margin-bottom: 50px;
  padding: 50px;
  font-size: 50px;
  font-style: inherit;
}

/* ================================
   Grouped input sections
   ================================ */
  .first-dry-dry-input {
    margin: 40px;
    display: flex;
  }
  .emailphone-dry-input, 
  .address-dry-input-container, 
  .size-dry-section {
    margin: 10px;
    display: flex;
  }


  /* ================================
   Grouped Labels and Input Box Styling
   ================================ */
   .last-dry-name {
    font-family: "Moveo Sans w00 Regular";
    font-style: normal;
    margin: 0;
    padding-left: 10px;
    font-size: 20px;
  }
  .dry-company-name-input, 
  .address-dry-input,
  .email-dry-input,
  .dry-phone-name-input,
  .length-dry-section,
  .width-dry-section,
  .place-dry-section, 
  .finish-dry-section,
  .file-dry-section {
    font-family: "Moveo Sans w00 Regular";
    margin: 50px;
    margin-right: 0;
    position: relative;
    padding-left: 15px;
    display: flex;
  }

  .address-dry-inputing, 
  .city-dry-input,
  .phone-dry {
    font-family: "Moveo Sans w00 Regular";
    font-style: normal;
    margin: 0;
    padding-left: 10px;
    font-size: 20px;
  }
  .state-dry-input,  
  .zip-dry-input{
    font-family: "Moveo Sans w00 Regular";
    margin: 0px;
    margin-right: 0;
    position: relative;
  }


/* ================================
   Small Label Styling
   ================================ */
 .first-dry-label-name, 
  .last-dry-label-name,
  .company-dry-name,
  .email-dry-name,
  .phone-dry-label,
  .addr-dry-label, 
  .city-dry-label,
  .state-dry-label,
  .zip-dry-label,
  .length-label, 
  .width-label,
  .place-label,
  .finish-label,
  .dry-logo {
    font-family: "Moveo Sans w00 Regular";
    font-style: normal;
    margin: 0;
    padding-left: 10px;
    font-size: 20px;
  }
  

/* ================================
   Input Box Styling
   ================================ */
   .firstname-dry-name-input,
   .lastname-dry-name-input, 
   .company-dry-name-input,
   .email-dry-box,
   .phone-dry-box,
   .address-dry-box, 
   .city-dry-box,
   .state-dry-box,
   .zip-dry-box,
   .length-dry-box, 
   .width-dry-box,
   .length-select,
   .width-select, 
   .place-select,
   .finish-select {
     padding: 10px;
     font-size: 20px;
     margin-bottom: 20px;
   }

/* ================================
   Drywall Image Section
   ================================ */
   .place-flex-container {
    display: flex;
    justify-content: space-between; /* Adjusts space between items */
    align-items: center; /* Aligns items vertically */
    flex-wrap: nowrap; /* Ensures the items stay on one line */
}

.place-img-container {
    flex: 1;
    text-align: center; /* Centers the text under each image */
}

.place-img {
    width: 330px;
    height: 200px;
    object-fit: contain; /* Fits the image inside the box without cropping, leaving empty space if necessary */
}

.place-examples {
  margin: 25px;
}
  /* ================================
   Adhesive Message Styling
   ================================ */
  .message-dry-note {
    font-style: normal;
    text-align: center;
    text-emphasis: none;
    margin: 0px;
    font-size: 20px;
    font-family: "Moveo Sans W00 Regular";
    padding-top: 30px;
  }
  
  .message-dry-text {
    font-style: normal;
    text-align: left;
    text-emphasis: none;
    margin-left: 40px;
    font-size: 20px;
    font-family: "Moveo Sans W00 Regular";
    width: 100%;
    height: 300px;
  }

    
/* ================================
   Submit Button Styling
   ================================ */
   .submit-size {
    background-color: #0f375a;
    position: relative;
    font-size: 30px;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 200px;
    color: #fff;
  }  
  .choose-logo-contain {
    display: flex;
    align-items: center;
}
.file-dry-label, .remove-dry-file-button {
    display: flex;
    background-color: #0f375a;
    color: #fff;
    padding: 10px 20px;
    font-size: 2rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.file-dry-label input[type=file] {
    display: none;
}
  .submit-dry {
    background-color: #0f375a;
    position: relative;
    font-size: 30px;
    text-align: center;
    color: #fff;
    margin: 5 auto;
    display: block;
    width: 100%;
    color: #fff;
  }
  .submit-size:hover, 
  .submit-dry:hover,
  .file-dry-label:hover,
  .remove-dry-file-button:hover {
    background-color: #226daf;
  }