@font-face {
    font-family: "Kairos W04 Extended Bold";
    src: url("https://db.onlinewebfonts.com/t/719c54498fe1a1ad6c8102d0d9bdb292.eot");
    src: url("https://db.onlinewebfonts.com/t/719c54498fe1a1ad6c8102d0d9bdb292.eot?#iefix")format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/719c54498fe1a1ad6c8102d0d9bdb292.woff2")format("woff2"),
    url("https://db.onlinewebfonts.com/t/719c54498fe1a1ad6c8102d0d9bdb292.woff")format("woff"),
    url("https://db.onlinewebfonts.com/t/719c54498fe1a1ad6c8102d0d9bdb292.ttf")format("truetype"),
    url("https://db.onlinewebfonts.com/t/719c54498fe1a1ad6c8102d0d9bdb292.svg#Kairos W04 Extended Bold")format("svg");
  }
  
  @font-face {
    font-family: "Kairos W01 Extended Medium";
    src: url("https://db.onlinewebfonts.com/t/120dd7d3bdc7d3614c6bebe41d4d7911.eot");
    src: url("https://db.onlinewebfonts.com/t/120dd7d3bdc7d3614c6bebe41d4d7911.eot?#iefix")format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/120dd7d3bdc7d3614c6bebe41d4d7911.woff2")format("woff2"),
    url("https://db.onlinewebfonts.com/t/120dd7d3bdc7d3614c6bebe41d4d7911.woff")format("woff"),
    url("https://db.onlinewebfonts.com/t/120dd7d3bdc7d3614c6bebe41d4d7911.ttf")format("truetype"),
    url("https://db.onlinewebfonts.com/t/120dd7d3bdc7d3614c6bebe41d4d7911.svg#Kairos W01 Extended Medium")format("svg");
  }
  
  @font-face {
    font-family: "Moveo Sans W00 Regular";
    src: url("https://db.onlinewebfonts.com/t/0bce49d73e94815c847c3100a1a9831d.eot");
    src: url("https://db.onlinewebfonts.com/t/0bce49d73e94815c847c3100a1a9831d.eot?#iefix")format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/0bce49d73e94815c847c3100a1a9831d.woff2")format("woff2"),
    url("https://db.onlinewebfonts.com/t/0bce49d73e94815c847c3100a1a9831d.woff")format("woff"),
    url("https://db.onlinewebfonts.com/t/0bce49d73e94815c847c3100a1a9831d.ttf")format("truetype"),
    url("https://db.onlinewebfonts.com/t/0bce49d73e94815c847c3100a1a9831d.svg#Moveo Sans W00 Regular")format("svg");
  }
  @font-face {
    font-family: "Highway Gothic Narrow";
    src: url("https://db.onlinewebfonts.com/t/f1d461b4bad8f8aac1730a9e629e702d.eot");
    src: url("https://db.onlinewebfonts.com/t/f1d461b4bad8f8aac1730a9e629e702d.eot?#iefix")format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/f1d461b4bad8f8aac1730a9e629e702d.woff2")format("woff2"),
    url("https://db.onlinewebfonts.com/t/f1d461b4bad8f8aac1730a9e629e702d.woff")format("woff"),
    url("https://db.onlinewebfonts.com/t/f1d461b4bad8f8aac1730a9e629e702d.ttf")format("truetype"),
    url("https://db.onlinewebfonts.com/t/f1d461b4bad8f8aac1730a9e629e702d.svg#Highway Gothic Narrow")format("svg");
  }
  @font-face {
    font-family: "Moveo Sans W00 Bold";
    src: url("https://db.onlinewebfonts.com/t/82baa4951eee7df05175ada4cb171e35.eot");
    src: url("https://db.onlinewebfonts.com/t/82baa4951eee7df05175ada4cb171e35.eot?#iefix")format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/82baa4951eee7df05175ada4cb171e35.woff2")format("woff2"),
    url("https://db.onlinewebfonts.com/t/82baa4951eee7df05175ada4cb171e35.woff")format("woff"),
    url("https://db.onlinewebfonts.com/t/82baa4951eee7df05175ada4cb171e35.ttf")format("truetype"),
    url("https://db.onlinewebfonts.com/t/82baa4951eee7df05175ada4cb171e35.svg#Moveo Sans W00 Bold")format("svg");
}
    
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* Simplify Body Styling */
body {
    font-family: Arial, sans-serif;
    background-color: #f8f8f8;
    color: #333;
    line-height: 1.6;
    margin: 0;
}
.btn, .btn:link, .btn:visited {
    text-decoration: none;
    padding: 1rem 2rem;
    border-radius: 5px;
    background-color: #0f375a;
    color: #fff;
    text-align: center;
    display: inline-block;
    margin: 1rem;
    transition: background-color 0.3s ease;
    font-size: 1.2rem;
    cursor: pointer;
}
.btn:hover {
    background-color: #226daf;
}
.btn--full {
    width: 100%;
    max-width: 250px;
    margin: 10px auto;
}
.material-main {
    width: 100%;
}
.main-material-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #000;
}
.sign-quote, 
.decal-quote, 
.banner-quote, 
.t-shirt-quote, 
.window-quote,
.building-quote,
.fleet-quote {
    background-color: #0f375a;
    position: relative;
    font-size: 2rem; /* Adjust size as needed */
    color: #fff;
    padding: 1rem 2rem; /* Adjust padding for a better fit */
    text-align: center;
    width: fit-content;
    border-radius: 5px;
    font-family: "Kairos W04 Extended Bold";
    cursor: pointer;
}
.sign-quote:hover, 
.decal-quote:hover, 
.banner-quote:hover, 
.t-shirt-quote:hover, 
.window-quote:hover,
.building-quote:hover,
.fleet-quote:hover {
    background-color: #226daf;
}
.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}
.contact-info a:hover {
    color: #226daf;
  }
  
  .home-web-button {
    background-color: #07476d;
    color: #fff;
    font-size: 1.5rem;
    padding: 15px 30px;
    border-radius: 5px;
    border: none;
    display: inline-block;
    margin-top: 20px;
    cursor: pointer;
  }
  
  .home-web-button:hover {
    background-color: #0051ff;
  }
.subheading {
    font-size: 2rem;
    margin-bottom: 10px;
    color: #ffffff;
}
.material-box {
    content: normal;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    box-sizing: border-box;
    padding: 0;
    width: 1000px;
    border-radius: 10px;
    margin: auto;
}


.material-image {
    background-color: rgb(255, 255, 255);
    text-align: center;
    width: 100%;
    height: auto;

}

.material-slogan {
    font-size: 2rem;
    text-align: center;
    color: #07476D;
}
.material-descript {
    text-align: center;
    font-size: 1.2rem;
    color: #333;
    line-height: 1.5;
}

.custom-sign-button-arrow-down {
    background-color: #b4feff;
    position: relative;
    font-size: 60px;
    margin-bottom: 30px;
    display: block; /* Ensure block-level element */
    border-radius: 5px;
    border-color: #fff;
    color: #07476D;
    font-family: "Kairos W04 Extended Bold";
    padding: 20px;
    text-align: center;
}


.image-sign-material-container, 
.image-decal-material-container,
.image-banner-material-container {
    display: block;
    flex-wrap: wrap; /* Allow wrapping to the next row */
  }
 

.material-video-banner {    
position: relative;
}

.material-page-video-banner {
    position: relative;
    width: 100%;
    height: 45rem;
    object-fit: cover;
    z-index: 0;
}
.material-name-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    text-align: center;
}
.material-name-container img {
    max-width: 900px;
    width: 100%;
    height: auto;
}
.scenes {
    background-color: aqua;

}
.material-page-heading {
    color: #2f2f2f;
    font-family: "Kairos W04 Extended Bold";
    font-size: clamp(24px, 5vw, 80px);
    text-align: center;
}

.material-decal-video-banner {  
    position: relative;
    display: block;
    margin: auto;
    object-fit: cover;
    width: 80%;
    height: 440px;
    text-align: center;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 0;
    overflow: hidden;
}
.material-page-banner {
    background-color: rgb(163, 213, 247);
}
.window-frost-example-container {
    margin: auto;
    margin-top: 40px;
    margin-bottom: 40px;
}
.material-flexing {
    border-color: #000;
  border-width: 4px;
  background-color: #ffffff;
  border-style: solid;
  border-radius: 10px;
  width: auto;
  height: 100%;
}

.google-map-home {
    width: 100%;
    border: none;
}
.map-home-container {
    border-color: #000;
    border-width: 4px;
    background-color: #ffffff;
    border-style: solid;
    border-radius: 10px;
    width: auto;

}
  .contact-materialX {
    font-family: "Kairos W04 Extended Bold", Arial, sans-serif;
    font-size: 2.5rem;
    color: #07476d;
    margin-bottom: 10px;
  }
  .contact-descript {
    font-family: Arial, sans-serif;
    font-size: 1.2rem;
    color: #333;
    margin-bottom: 20px;
  }
.bryson-contact-link {
    font-family: "Kairos W04 Extended Bold";
    font-size: 10px;
    color: #042370;
    margin-top: 20px;
    text-align: center;
}
.will-contact {
    font-family: "Moveo Sans W00 Bold", Arial, sans-serif;
    font-size: 1.5rem;
    color: #07476d;
    margin-bottom: 10px;
  }
.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Two columns for most sections */
    gap: 30px;
    justify-items: center;
  }
  .custom-fleet-graphics {
    grid-column: 1 / -1; /* Spans both columns */
    justify-self: center;
  }
.contact-william-info {
    font-family: "Moveo Sans W00 Bold";
    font-size: 40px;
    color: #1841aa;
    margin-top: 20px;
    text-align: center;
}
.photo-mx-note {
    font-size: 50px;
    text-align: center;
    font-family: "Kairos W04 Extended Bold";
}
.section-mx-featured {
    background-color: #e2ebff;
}
.section-how {
    position: relative;
    padding: 30px 0;
    text-align: center;
    z-index: 1;
  }
  .section-how::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../assets/MX Photos/btr.jpg'); /* Background image */
    background-size: cover;
    background-position: center;
    background-color: #000;
    opacity: 0.5; /* Set opacity for the background image */
    z-index: -1; /* Ensure the background is behind the content */
  }

.step-number {
    font-size: 2rem;
    font-weight: bold;
    color: #07476D;
    margin-bottom: 10px;
}
.heading-tertiary {
    font-size: 3rem;
    line-height: 1.2;
    margin-bottom: 3.2rem;
}
.heading-primary, .heading-tertiary {
    font-weight: 700;
    color: #333;
    letter-spacing: -.5px;
    font-size: 2rem;
}
.heading-secondary {
    font-size: 1.5rem;
    margin-bottom: 30px;
    color: #dedede;
}
.material-installation {
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    width: 100%;
    text-align: center;
}

.material-installation h2 {
    font-size: 28px;
    margin-bottom: 20px;
}

.services {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.installation, .maintenance {
    flex: 1;
    padding: 20px;
    max-width: 400px;
}

.installation h3, .maintenance h3 {
    font-size: 24px;
    margin-bottom: 10px;
}

.installation p, .maintenance p {
    font-size: 16px;
    margin-bottom: 10px;
}

.installation ul, .maintenance ul {
    list-style: none;
    padding: 0;
}

.installation ul li, .maintenance ul li {
    background: #e0e0e0;
    margin: 5px 0;
    padding: 10px;
    border-radius: 5px;
}

.custom-signage,
.decals-stickers-home,
.custom-banner,
.custom-t-shirts,
.custom-windowing,
.custom-building-graphics,
.custom-fleet-graphics {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}


.step-description {
    font-size: 1rem;
    line-height: 1.6;
    padding: 0 20px;
}

.img-btn-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 1; /* Ensure this is above the circles */
}

/* Ensure that images adjust their size proportionally */
.react-photo-gallery--gallery {
    width: 100% !important; /* Force the width to always be 100% of the container */
    height: auto !important; /* Force maintaining the aspect ratio */
    object-fit: cover !important; /* Ensures the image covers its container */
}
.step-text-box {
    margin-bottom: 20px;
    text-align: center;
}
.step-img {
    width: 180px; /* Fixed width for all circular images */
    height: 180px; /* Fixed height for all circular images */
    border-radius: 50%;
    object-fit: cover;
    border: 10px solid #c7eef8;
    padding: 10px;
  }
  
.step-sign-img,
.step-decal-img,
.step-banner-img, 
.step-shirt-img, 
.step-window-img, 
.step-frost-img, 
.step-building-img,
.step-fleet-img {
    width: 100%;
    height: auto;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    object-fit: cover;
}
.step-img-box {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }
.working-two {
    width: 100%;
    height: auto;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    object-fit: cover;
    border: 5px solid #003366;
    padding: 5px;
    background-color: #66b2ff;
}
.gallery {
    display: flex
    ;
        justify-content: center;
        gap: 10px;
        margin: 20px auto 0;
        align-items: center;
        max-width: 1000px;
}

  .website-img-container, .photo-gal-dry, .photo-gal-apparel, .photo-gal-window, .photo-fleet-gal-fleet, .mx-banner-gallery-container, .photo-gal-building, .photo-gal-frost, .photo-gal-sign, .photo-gal-decal {
    background-color: #e9e9e9;;
  }
  .gallery-item {
    flex: 1;
    max-width: 45%;
    margin: 10px; /* Adjust this for more or less spacing */
}

  .gallery-item img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 8px;
}
  .gallery-item img:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease;
    cursor: pointer;
  }
  .navigation-buttons {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    gap: 15px;
  }
  .modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modal-content {
  position: relative;
  max-width: 90%;
  max-height: 90%;
}

.modal-content img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.close-button {
  position: absolute;
  top: -20px;
  right: -20px;
  background: white;
  color: black;
  font-size: 24px;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  padding: 0.2em 0.5em;
}

  .gallery-mx-navigation-arrow-left, 
  .gallery-mx-navigation-arrow-right {
      background-color: #0051ff;
      position: relative;
      font-size: 60px;
      margin-bottom: 30px;
      margin: 0 auto;
      display: block;
      width: fit-content;
      color: #fff;
      font-family: "Kairos W04 Extended Bold";
  }
  .contacting-container {
    width: 100%;
    display: flex;
  }
  @media screen and (min-width: 320px) and (max-width: 640px) and (orientation: portrait) {
    .material-img {
        width: 100%;
    }
    .material-page-heading {
        font-size: 30px;
    }
    .material-page-video-banner {
        width: 100%;
        height: auto;
    }
    .material-slogan {
        font-size: 30px;
        padding: 10px;
        width: 100%;
    }
    .material-descript {
        text-align: center;
        font-size: 20px;
        line-height: 30px;
    }
    .main-material-container {
        width: 100%;
    }
    .material-box {
        width: 90%;
    }
    .custom-sign-h1, 
    .custom-decal-h1, 
    .custom-banner-h1, 
    .custom-tshirts-h1, 
    .custom-window-frost-h1, 
    .custom-drywall-h1, 
    .custom-graphic-h1 {
        margin-top: 10px;
        font-size: 20px;
    }
    .custom-sign-h2, 
    .custom-decal-h2, 
    .custom-banner-h2, 
    .custom-tshirts-h2, 
    .custom-window-frost-h2, 
    .custom-drywall-h2, 
    .custom-graphic-h2 {
        font-size: 20px;
    }
    .custom-sign-img, .custom-decal-img, .custom-banner-img {
        width: 70%;
        margin: 5px;
    }
    .step-sign-img, .step-banner-img, .step-shirt-img, .step-window-img, .step-fleet-img  {
        width: 110%;
        padding: 20px;
        border: 30px solid #c7eef8;;
        display: block;
    }
    .step-decal-img {
        width: 107%;
        padding: 20px;
        border: 35px solid #c7eef8;
        display: block;
    }
    
    .step-frost-img, .step-building-img {
        width: 110%;
        padding: 20px;
        border: 35px solid #c7eef8;
        display: block;
    }
    .custom-sign-button-arrow-down, .custom-sign-button-arrow-up {
        font-size: 60px;
        padding: 5px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .photo-mx-note {
        font-size: 30px;
    }
    .section-mx-featured {
        margin: 0 auto;
        align-items: center;
    }
.container {
    padding: 0;
}
.subheading {
    margin: 0;
    font-size: 40px;
}
.home-web-button {
    font-size: 20px;
    padding: 0;
}
.step-text-box {
    width: 100%;
    display: block;
    text-align: center;
}
.step-number {
    font-size: 120px;
}
.custom-signage, .decals-stickers-home, .custom-banner, .custom-t-shirts, .custom-windowing, .custom-building-graphics, .custom-fleet-graphics {
    display: block;
}
.sign-quote, .decal-quote, .banner-quote, .t-shirt-quote, .window-quote, .building-quote, .fleet-quote {
    font-size: 15px;
    padding: 0px;
}
.step-description {
    font-size: 20px;
    line-height: 1;
}
.heading-primary, .heading-tertiary {
    font-size: 30px;
    margin-bottom: auto;
}
.heading-secondary {
    font-size: 22px;
}
.section-how {
    padding: 10px;
}
.contact-materialX {
    font-size: 35px;
}
.contacting-container {
    display: block;
  }
  .material-name-container {
    max-width:450px;
    width: 100%;
}
}
  @media screen and (max-width: 1138px) and (orientation: portrait){
    .material-img {
        width: 100%;
    }
    .material-page-heading {
        font-size: 30px;
    }
    .material-page-video-banner {
        width: 100%;
        height: auto;
    }
    .material-slogan {
        font-size: 30px;
        padding: 10px;
        width: 100%;
    }
    .material-descript {
        text-align: center;
        font-size: 20px;
        line-height: 30px;
    }
    .main-material-container {
        width: 100%;
    }
    .material-box {
        width: 90%;
    }
    .custom-sign-h1, 
    .custom-decal-h1, 
    .custom-banner-h1, 
    .custom-tshirts-h1, 
    .custom-window-frost-h1, 
    .custom-drywall-h1, 
    .custom-graphic-h1 {
        margin-top: 10px;
        font-size: 20px;
    }
    .custom-sign-h2, 
    .custom-decal-h2, 
    .custom-banner-h2, 
    .custom-tshirts-h2, 
    .custom-window-frost-h2, 
    .custom-drywall-h2, 
    .custom-graphic-h2 {
        font-size: 20px;
    }
    .custom-sign-img, .custom-decal-img, .custom-banner-img {
        width: 70%;
        margin: 5px;
    }


    
    .step-frost-img, .step-building-img {
        width: 110%;
        padding: 20px;
        border: 35px solid #c7eef8;
        display: block;
    }
    .custom-sign-button-arrow-down, .custom-sign-button-arrow-up {
        font-size: 60px;
        padding: 5px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .photo-mx-note {
        font-size: 30px;
    }
    .section-mx-featured {
        margin: 0 auto;
        align-items: center;
    }
.container {
    padding: 0;
}
.subheading {
    margin: 0;
    font-size: 40px;
}
.home-web-button {
    font-size: 20px;
    padding: 0;
}
.step-text-box {
    width: 100%;
    display: block;
    text-align: center;
}
.step-number {
    font-size: 120px;
}

.sign-quote, .decal-quote, .banner-quote, .t-shirt-quote, .window-quote, .building-quote, .fleet-quote {
    font-size: 15px;
    padding: 0px;
}
.step-description {
    font-size: 20px;
    line-height: 1;
}
.heading-primary, .heading-tertiary {
    font-size: 30px;
    margin-bottom: auto;
}
.heading-secondary {
    font-size: 22px;
}
.section-how {
    padding: 10px;
}
.contact-materialX {
    font-size: 35px;
}
.react-photo-gallery--gallery {
    display: block;
}

/* Ensure the container adapts well to landscape mode */
.gallery-mx-container {
    width: 100%; /* Full width of the parent container */
    max-width: 100vw; /* Ensure no overflow on wide landscape screens */
    margin: 0 auto; /* Center the gallery */
}

/* If needed, adjust heights or paddings */
.gallery-mx-container {
    padding: 0 10px;
}
}
  @media screen  and (max-width: 1200px) and (orientation: portrait) {
    .material-img {
        width: 100%;
    }
    .material-page-heading {
        font-size: 30px;
    }
    .material-page-video-banner {
        width: 100%;
        height: auto;
    }
    .material-slogan {
        font-size: 20px;
        padding: 10px;
        width: 100%;
    }
    .material-descript {
        text-align: center;
        font-size: 15px;
        line-height: 20px;
    }
    .main-material-container {
        width: 100%;
    }
    .material-box {
        width: 90%;
    }
    .custom-sign-h1, 
    .custom-decal-h1, 
    .custom-banner-h1, 
    .custom-tshirts-h1, 
    .custom-window-frost-h1, 
    .custom-drywall-h1, 
    .custom-graphic-h1 {
        margin-top: 10px;
        font-size: 20px;
    }
    .custom-sign-h2, 
    .custom-decal-h2, 
    .custom-banner-h2, 
    .custom-tshirts-h2, 
    .custom-window-frost-h2, 
    .custom-drywall-h2, 
    .custom-graphic-h2 {
        font-size: 20px;
    }
    .custom-sign-img, .custom-decal-img, .custom-banner-img {
        width: 70%;
        margin: 5px;
    }

    .step-sign-img,
    .step-decal-img,
    .step-banner-img, 
    .step-shirt-img, 
    .step-window-img, 
    .step-frost-img, 
    .step-building-img,
    .step-fleet-img,
    .step-frost-img, .step-building-img {
        width: 100%;
        padding: 20px;
        border: 35px solid #c7eef8;
        display: block;
    }
    .custom-sign-button-arrow-down, .custom-sign-button-arrow-up {
        font-size: 60px;
        padding: 5px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .photo-mx-note {
        font-size: 30px;
    }
    .section-mx-featured {
        margin: 0 auto;
        align-items: center;
    }
.container {
    padding: 0;
}
.subheading {
    margin: 0;
    font-size: 40px;
}
.home-web-button {
    font-size: 20px;
    padding: 0;
}
.step-text-box {
    width: 100%;
    display: block;
    text-align: center;
}
.step-number {
    font-size: 120px;
}

.sign-quote, .decal-quote, .banner-quote, .t-shirt-quote, .window-quote, .building-quote, .fleet-quote {
    font-size: 15px;
    padding: 0px;
}
.step-description {
    font-size: 20px;
    line-height: 1;
}
.heading-primary, .heading-tertiary {
    font-size: 30px;
    margin-bottom: auto;
}
.heading-secondary {
    font-size: 22px;
}
.section-how {
    padding: 10px;
}
.contact-materialX {
    font-size: 35px;
}
.react-photo-gallery--gallery {
    display: block;
}

/* Ensure the container adapts well to landscape mode */
.gallery-mx-container {
    width: 100%; /* Full width of the parent container */
    max-width: 100vw; /* Ensure no overflow on wide landscape screens */
    margin: 0 auto; /* Center the gallery */
}
.material-name-container {
    max-width: 475px;
    width: 100%;
}
/* If needed, adjust heights or paddings */
.gallery-mx-container {
    padding: 0 10px;
}
}
  @media screen and (max-width: 1200px) and (orientation: landscape) {
    .material-img {
        width: 100%;
    }
    .material-page-heading {
        font-size: 30px;
    }
    .material-page-video-banner {
        width: 100%;
        height: 60vh;
    }
    .material-slogan {
        font-size: 30px;
        padding: 10px;
        width: 100%;
    }
    .material-descript {
        text-align: center;
        font-size: 20px;
        line-height: 30px;
    }
    .main-material-container {
        width: 100%;
    }
    .material-box {
        width: 90%;
    }
    .custom-sign-h1, 
    .custom-decal-h1, 
    .custom-banner-h1, 
    .custom-tshirts-h1, 
    .custom-window-frost-h1, 
    .custom-drywall-h1, 
    .custom-graphic-h1 {
        margin-top: 10px;
        font-size: 20px;
    }
    .custom-sign-h2, 
    .custom-decal-h2, 
    .custom-banner-h2, 
    .custom-tshirts-h2, 
    .custom-window-frost-h2, 
    .custom-drywall-h2, 
    .custom-graphic-h2 {
        font-size: 20px;
    }
    .custom-sign-img, .custom-decal-img, .custom-banner-img {
        width: 70%;
        margin: 5px;
    }

    .step-sign-img,
    .step-decal-img,
    .step-banner-img, 
    .step-shirt-img, 
    .step-window-img, 
    .step-frost-img, 
    .step-building-img,
    .step-fleet-img,
    .step-frost-img, .step-building-img {
        width: 100%;
        padding: 20px;
        border: 35px solid #c7eef8;
        display: block;
    }
    .custom-sign-button-arrow-down, .custom-sign-button-arrow-up {
        font-size: 60px;
        padding: 5px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .photo-mx-note {
        font-size: 30px;
    }
    .section-mx-featured {
        margin: 0 auto;
        align-items: center;
    }
.container {
    padding: 0;
}
.subheading {
    margin: 0;
    font-size: 40px;
}
.home-web-button {
    font-size: 20px;
    padding: 0;
}
.step-text-box {
    width: 100%;
    display: block;
    text-align: center;
}
.step-number {
    font-size: 120px;
}

.sign-quote, .decal-quote, .banner-quote, .t-shirt-quote, .window-quote, .building-quote, .fleet-quote {
    font-size: 15px;
    padding: 0px;
}
.step-description {
    font-size: 20px;
    line-height: 1;
}
.heading-primary, .heading-tertiary {
    font-size: 30px;
    margin-bottom: auto;
}
.heading-secondary {
    font-size: 22px;
}
.section-how {
    padding: 10px;
}
.contact-materialX {
    font-size: 35px;
}
.react-photo-gallery--gallery {
    display: block;
}

/* Ensure the container adapts well to landscape mode */
.gallery-mx-container {
    width: 100%; /* Full width of the parent container */
    max-width: 100vw; /* Ensure no overflow on wide landscape screens */
    margin: 0 auto; /* Center the gallery */
}

/* If needed, adjust heights or paddings */
.gallery-mx-container {
    padding: 0 10px;
}
.material-name-container {
    max-width:475px;
    width: 100%;
}
}
@media screen and (max-width: 320px) and (orientation: portrait) {
    .material-img {
        width: 100%;
    }

    .material-page-video-banner {
        width: 100%;
        height: auto;
    }
    .main-material-container {
        width: 100%;
    }
    .material-box {
        width: 90%;
    }
    .custom-sign-h1, 
    .custom-decal-h1, 
    .custom-banner-h1, 
    .custom-tshirts-h1, 
    .custom-window-frost-h1, 
    .custom-drywall-h1, 
    .custom-graphic-h1 {
        margin-top: 10px;
        font-size: 20px;
    }
    .custom-sign-h2, 
    .custom-decal-h2, 
    .custom-banner-h2, 
    .custom-tshirts-h2, 
    .custom-window-frost-h2, 
    .custom-drywall-h2, 
    .custom-graphic-h2 {
        font-size: 20px;
    }
    .custom-sign-img, .custom-decal-img, .custom-banner-img {
        width: 70%;
        margin: 5px;
    }
    .step-sign-img, .step-banner-img, .step-shirt-img, .step-window-img, .step-fleet-img  {
        width: 120%;
        padding: 5px;
        border: 20px solid #c7eef8;
        display: block;
    }
    .step-decal-img, .step-frost-img, .step-building-img {
        width: 100%;
        padding: 5px;
        border: 20px solid #c7eef8;
        display: block;
    }
    .custom-sign-button-arrow-down, .custom-sign-button-arrow-up {
        font-size: 60px;
        padding: 5px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .photo-mx-note {
        font-size: 30px;
    }
    .section-mx-featured {
        display: flex;
        margin: 0 auto;
        align-items: center;
    }
    .container {
        padding: 0;
    }
    .subheading {
        margin: 0;
        font-size: 36px;
    }
    .home-web-button {
        font-size: 20px;
        padding: 0;
    }
    .step-text-box {
        width: 100%;
        display: block;
        text-align: center;
    }
    .step-number {
        font-size: 100px;
    }
    .custom-signage, 
    .decals-stickers-home, 
    .custom-banner, 
    .custom-t-shirts, 
    .custom-windowing, 
    .custom-building-graphics, 
    .custom-fleet-graphics {
        display: block;
    }
    .sign-quote, 
    .decal-quote, 
    .banner-quote, 
    .t-shirt-quote, 
    .window-quote, 
    .building-quote, 
    .fleet-quote {
        font-size: 12px;
        padding: 0px;
    }
    .step-description {
        font-size: 17px;
        line-height: 1;
    }
    .heading-primary, 
    .heading-tertiary {
        font-size: 25px;
        margin-bottom: auto;
    }
    .heading-secondary {
        font-size: 20px;
    }
    .section-how {
        padding: 10px;
    }
    .contact-materialX {
        font-size: 1.4rem;
    }
    .contact-descript {
        font-size: 1rem;
    }
    .material-name-container {
        max-width:200px;
        width: 100%;
    }
    
    .will-contact {
        font-size: 1.3rem;
    }
    .contacting-container {
        display: block;
      }
}
@media screen and (max-width: 320px) and (orientation: landscape) {
    .material-img {
        width: 100%;
    }

    .material-page-video-banner {
        width: 100%;
        height: auto;
    }
    .main-material-container {
        width: 100%;
    }
    .material-box {
        width: 90%;
    }
    .custom-sign-h1, 
    .custom-decal-h1, 
    .custom-banner-h1, 
    .custom-tshirts-h1, 
    .custom-window-frost-h1, 
    .custom-drywall-h1, 
    .custom-graphic-h1 {
        margin-top: 10px;
        font-size: 20px;
    }
    .custom-sign-h2, 
    .custom-decal-h2, 
    .custom-banner-h2, 
    .custom-tshirts-h2, 
    .custom-window-frost-h2, 
    .custom-drywall-h2, 
    .custom-graphic-h2 {
        font-size: 20px;
    }
    .custom-sign-img, .custom-decal-img, .custom-banner-img {
        width: 70%;
        margin: 5px;
    }
    .step-sign-img, .step-banner-img, .step-shirt-img, .step-window-img, .step-fleet-img  {
        width: 120%;
        padding: 5px;
        border: 20px solid #c7eef8;
        display: block;
    }
    .step-decal-img, .step-frost-img, .step-building-img {
        width: 100%;
        padding: 5px;
        border: 20px solid #c7eef8;
        display: block;
    }
    .custom-sign-button-arrow-down, .custom-sign-button-arrow-up {
        font-size: 60px;
        padding: 5px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .photo-mx-note {
        font-size: 30px;
    }
    .section-mx-featured {
        display: flex;
        margin: 0 auto;
        align-items: center;
    }
    .container {
        padding: 0;
    }
    .subheading {
        margin: 0;
        font-size: 36px;
    }
    .home-web-button {
        font-size: 20px;
        padding: 0;
    }
    .step-text-box {
        width: 100%;
        display: block;
        text-align: center;
    }
    .step-number {
        font-size: 100px;
    }
    .custom-signage, 
    .decals-stickers-home, 
    .custom-banner, 
    .custom-t-shirts, 
    .custom-windowing, 
    .custom-building-graphics, 
    .custom-fleet-graphics {
        display: block;
    }
    .sign-quote, 
    .decal-quote, 
    .banner-quote, 
    .t-shirt-quote, 
    .window-quote, 
    .building-quote, 
    .fleet-quote {
        font-size: 12px;
        padding: 0px;
    }
    .step-description {
        font-size: 17px;
        line-height: 1;
    }
    .heading-primary, 
    .heading-tertiary {
        font-size: 25px;
        margin-bottom: auto;
    }
    .heading-secondary {
        font-size: 20px;
    }
    .section-how {
        padding: 10px;
    }
    .contact-materialX {
        font-size: 1.4rem;
    }
    .contact-descript {
        font-size: 1rem;
    }
    .material-name-container {
        max-width:200px;
        width: 100%;
    }
    
    .will-contact {
        font-size: 1.3rem;
    }
    .contacting-container {
        display: block;
      }
      .gallery {
        margin: 0 auto;
        max-width: 1000px;
    }
}
