@font-face {
    font-family: "Kairos W04 Extended Bold";
    src: url("https://db.onlinewebfonts.com/t/719c54498fe1a1ad6c8102d0d9bdb292.eot");
    src: url("https://db.onlinewebfonts.com/t/719c54498fe1a1ad6c8102d0d9bdb292.eot?#iefix")format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/719c54498fe1a1ad6c8102d0d9bdb292.woff2")format("woff2"),
    url("https://db.onlinewebfonts.com/t/719c54498fe1a1ad6c8102d0d9bdb292.woff")format("woff"),
    url("https://db.onlinewebfonts.com/t/719c54498fe1a1ad6c8102d0d9bdb292.ttf")format("truetype"),
    url("https://db.onlinewebfonts.com/t/719c54498fe1a1ad6c8102d0d9bdb292.svg#Kairos W04 Extended Bold")format("svg");
  }
  
  @font-face {
    font-family: "Kairos W01 Extended Medium";
    src: url("https://db.onlinewebfonts.com/t/120dd7d3bdc7d3614c6bebe41d4d7911.eot");
    src: url("https://db.onlinewebfonts.com/t/120dd7d3bdc7d3614c6bebe41d4d7911.eot?#iefix")format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/120dd7d3bdc7d3614c6bebe41d4d7911.woff2")format("woff2"),
    url("https://db.onlinewebfonts.com/t/120dd7d3bdc7d3614c6bebe41d4d7911.woff")format("woff"),
    url("https://db.onlinewebfonts.com/t/120dd7d3bdc7d3614c6bebe41d4d7911.ttf")format("truetype"),
    url("https://db.onlinewebfonts.com/t/120dd7d3bdc7d3614c6bebe41d4d7911.svg#Kairos W01 Extended Medium")format("svg");
  }
  
  @font-face {
    font-family: "Moveo Sans W00 Regular";
    src: url("https://db.onlinewebfonts.com/t/0bce49d73e94815c847c3100a1a9831d.eot");
    src: url("https://db.onlinewebfonts.com/t/0bce49d73e94815c847c3100a1a9831d.eot?#iefix")format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/0bce49d73e94815c847c3100a1a9831d.woff2")format("woff2"),
    url("https://db.onlinewebfonts.com/t/0bce49d73e94815c847c3100a1a9831d.woff")format("woff"),
    url("https://db.onlinewebfonts.com/t/0bce49d73e94815c847c3100a1a9831d.ttf")format("truetype"),
    url("https://db.onlinewebfonts.com/t/0bce49d73e94815c847c3100a1a9831d.svg#Moveo Sans W00 Regular")format("svg");
  }
  @font-face {
    font-family: "Highway Gothic Narrow";
    src: url("https://db.onlinewebfonts.com/t/f1d461b4bad8f8aac1730a9e629e702d.eot");
    src: url("https://db.onlinewebfonts.com/t/f1d461b4bad8f8aac1730a9e629e702d.eot?#iefix")format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/f1d461b4bad8f8aac1730a9e629e702d.woff2")format("woff2"),
    url("https://db.onlinewebfonts.com/t/f1d461b4bad8f8aac1730a9e629e702d.woff")format("woff"),
    url("https://db.onlinewebfonts.com/t/f1d461b4bad8f8aac1730a9e629e702d.ttf")format("truetype"),
    url("https://db.onlinewebfonts.com/t/f1d461b4bad8f8aac1730a9e629e702d.svg#Highway Gothic Narrow")format("svg");
  }
  @font-face {
    font-family: "Moveo Sans W00 Bold";
    src: url("https://db.onlinewebfonts.com/t/82baa4951eee7df05175ada4cb171e35.eot");
    src: url("https://db.onlinewebfonts.com/t/82baa4951eee7df05175ada4cb171e35.eot?#iefix")format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/82baa4951eee7df05175ada4cb171e35.woff2")format("woff2"),
    url("https://db.onlinewebfonts.com/t/82baa4951eee7df05175ada4cb171e35.woff")format("woff"),
    url("https://db.onlinewebfonts.com/t/82baa4951eee7df05175ada4cb171e35.ttf")format("truetype"),
    url("https://db.onlinewebfonts.com/t/82baa4951eee7df05175ada4cb171e35.svg#Moveo Sans W00 Bold")format("svg");
}
    
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* Simplify Body Styling */
body {
    font-family: Arial, sans-serif;
    background-color: #f8f8f8;
    color: #333;
    line-height: 1.6;
    margin: 0;
}
.btn, .btn:link, .btn:visited, .logo-link, .home-web-button {
    text-decoration: none;
    padding: 1rem 2rem;
    border-radius: 5px;
    background-color: rgb(117, 112, 100);
    color: #fff;
    text-align: center;
    display: inline-block;
    margin: 1rem;
    transition: background-color 0.3s ease;
    font-size: 1.2rem;
    cursor: pointer;
}
.btn:hover {
    background-color: rgb(163, 156, 136);
}
.btn--full {
    width: 100%;
    max-width: 250px;
    margin: 10px auto;
}
.material-main {
    width: 100%;
}
.section-home-service {
        background-color: #fdf2e9;
    display: flex;
    width: 100%;
    height: auto;
}
.section-mx-featured {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.material-website-container {
    background-color: #b9b1ab;
}
.logo-subheading {
  font-size: 1.2rem;
  color: #29201a;
}
.material-logo-buttons {
    display: flex;
    flex-wrap: wrap;
    align-self:center ;
    justify-content: space-around;
   }
   .custom-sign-logo-button, .decals-stickers-logo-button, 
   .banner-logo-button, .t-shirt-logo-button, .window-logo-button, .drywall-logo-button, .fleet-logo-button 
    {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      background-color: rgb(214,204,179);
      color: rgb(87, 80, 63);
      text-align: center;
      border-radius: 5px;
      border-color: #000;
      border-style: solid;
      text-decoration: none;
      font-family: "Moveo Sans W00 Bold";
      cursor: pointer;
      transition: all 0.3s;
      height: 160px;
      padding: 1rem;
      width: 100%;
      max-width: 140px;
      box-sizing: border-box;
  }
  .custom-sign-logo-button img, .decals-stickers-logo-button img, 
  .banner-logo-button img, .t-shirt-logo-button img, .window-logo-button img, .drywall-logo-button img, .fleet-logo-button img {
    width: 35px;

    margin-bottom: 10px;
  }
  .custom-sign-logo-button:hover, .decals-stickers-logo-button:hover,
  .banner-logo-button:hover, .t-shirt-logo-button:hover, .window-logo-button:hover, .drywall-logo-button:hover, .fleet-logo-button:hover {
    background-color: rgb(246, 235, 206);
  }
  .custom-sign-logo-button span,
  .decals-stickers-logo-button span,
  .banner-logo-button span,
  .t-shirt-logo-button span,
  .window-logo-button span,
  .drywall-logo-button span,
  .fleet-logo-button span {
    line-height: 1.2;
    font-size: 0.9rem;
}
.custom-sign-logo-button p,
.decals-stickers-logo-button p,
.banner-logo-button p,
.t-shirt-logo-button p,
.window-logo-button p,
.drywall-logo-button p,
.fleet-logo-button p {
  font-size: 0.67rem;
  color: #333;
  margin-top: 5px;
  line-height: 1.3;
}
.logo-text {
  font-size: 2rem;
  color: #29201a;
}
.logo-home-description {
  font-size: 1rem;
  color: #333;
}

.main-material-container {
width: 100%;
    padding: 0 10px;
    border: none;
    text-align: center;
    flex: 1;
    background-color: #999999;
}
.logo-container {
    flex: 1;
    width: 100%;
    padding: 0 10px;
    border: none;
    text-align: center;
}
.container {
    width: 100%;
    margin: 0 auto;
    background-color: #f8f8f8;
}
.map-home-container {
    width: 100%;
    height: 200px;
    border: none;
    overflow: visible;
}
.jobs-done-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
    background-color: #ccc;
    padding: 50px;
}
.job-year-content, .sign-content, .decal-content {
    display: flex;
    flex-direction: column;
    flex: 1;
}
.established-year, .sign-established, .decal-established {
        font-size: 6rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 600;
    color: rgb(101, 93, 70);
    text-align: center;
    margin-bottom: 1.6rem;
}
.sign-established-text, .decal-established-text, .established-year-text {
        font-size: 3rem;
    line-height: 1.8;
    text-align: center;
}
  .logo-container-content {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    max-width: 800px;
  }
  .new-logo-img-home {
        width: 20%;
    height: auto;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    object-fit: fill;
    border: 5px solid #29201a;
    padding: 4px;
    background-color: #ffddc8;
  }
.subheading {
    font-size: 2rem;
    color: #ffffff;
}
.material-box {
    content: normal;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    box-sizing: border-box;
    padding: 0;
    width: 1000px;
    border-radius: 10px;
    margin: auto;
}


.material-image {
    background-color: rgb(255, 255, 255);
    text-align: center;
    width: 100%;
    height: auto;

}

.material-slogan {
    font-size: 2rem;
    text-align: center;
    color: #07476D;
}
.material-descript {
    text-align: center;
    font-size: 1.2rem;
    color: #333;
    line-height: 1.5;
}

.custom-sign-button-arrow-down {
    background-color: #757064;
    position: relative;
    font-size: 60px;
    margin-bottom: 30px;
    display: block; /* Ensure block-level element */
    border-radius: 5px;
    border-color: #fff;
    color: #fff;
    font-family: "Kairos W04 Extended Bold";
    padding: 20px;
    text-align: center;
}


.image-sign-material-container, 
.image-decal-material-container,
.image-banner-material-container {
    display: block;
    flex-wrap: wrap; /* Allow wrapping to the next row */
  }
 

.material-video-banner {    
position: relative;
    padding: 300px 0 40px;
    overflow: hidden;
}

.material-page-video-banner {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 0;
}
.material-name-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    text-align: center;
}
.material-name-container img {
    max-width: 900px;
    width: 100%;
    height: auto;
}

.material-decal-video-banner {  
    position: relative;
    display: block;
    margin: auto;
    object-fit: cover;
    width: 80%;
    height: 440px;
    text-align: center;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 0;
    overflow: hidden;
}
.window-frost-example-container {
    margin: auto;
    margin-top: 40px;
    margin-bottom: 40px;
}
.google-map-home {
    width: 100%;
    border: none;
}
.map-home-container {
    border-color: #000;
    border-width: 4px;
    background-color: #ffffff;
    border-style: solid;
    border-radius: 10px;
    width: auto;

}
  .contact-descript {
    font-family: Arial, sans-serif;
    font-size: 1.1rem;
    color: #333;
    margin-bottom: 20px;
  }
.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Two columns for most sections */
    gap: 30px;
    justify-items: center;
  }
  .custom-fleet-graphics {
    grid-column: 1 / -1; /* Spans both columns */
    justify-self: center;
  }
.photo-mx-note, .map-home-note {
    text-align: center;
    font-size: 3rem;
}

.heading-tertiary {
    font-size: 3rem;
    line-height: 1.2;
    margin-bottom: 3.2rem;
}
.heading-primary, .heading-tertiary {
    font-weight: 700;
    color: #333;
    letter-spacing: -.5px;
    font-size: 2rem;
}
.heading-secondary {
    font-size: 1.5rem;
    margin-bottom: 30px;
    color: #dedede;
}
.material-installation {
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    width: 100%;
    text-align: center;
}

.material-installation h2 {
    font-size: 28px;
    margin-bottom: 20px;
}

.services {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.installation, .maintenance {
    flex: 1;
    padding: 20px;
    max-width: 400px;
}

.installation h3, .maintenance h3 {
    font-size: 24px;
    margin-bottom: 10px;
}

.installation p, .maintenance p {
    font-size: 16px;
    margin-bottom: 10px;
}

.installation ul, .maintenance ul {
    list-style: none;
    padding: 0;
}

.installation ul li, .maintenance ul li {
    background: #e0e0e0;
    margin: 5px 0;
    padding: 10px;
    border-radius: 5px;
}

.custom-signage,
.decals-stickers-home,
.custom-banner,
.custom-t-shirts,
.custom-windowing,
.custom-building-graphics,
.custom-fleet-graphics {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}


.step-description {
    font-size: 1rem;
    line-height: 1.6;
    padding: 0 20px;
}

.img-btn-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 1; /* Ensure this is above the circles */
}

/* Ensure that images adjust their size proportionally */
.react-photo-gallery--gallery {
    width: 100% !important; /* Force the width to always be 100% of the container */
    height: auto !important; /* Force maintaining the aspect ratio */
    object-fit: cover !important; /* Ensures the image covers its container */
}
.step-text-box {
    margin-bottom: 20px;
    text-align: center;
}
.step-img {
    width: 180px; /* Fixed width for all circular images */
    height: 180px; /* Fixed height for all circular images */
    border-radius: 50%;
    object-fit: cover;
    border: 10px solid #c7eef8;
    padding: 10px;
  }
  
.step-sign-img,
.step-decal-img,
.step-banner-img, 
.step-shirt-img, 
.step-window-img, 
.step-frost-img, 
.step-building-img,
.step-fleet-img {
    width: 100%;
    height: auto;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    object-fit: cover;
}
.step-img-box {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }
.working-two {
    width: 100%;
    height: auto;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    object-fit: cover;
    border: 5px solid #003366;
    padding: 5px;
    background-color: #66b2ff;
}
.gallery {
    display: flex
    ;
        justify-content: center;
        gap: 10px;
        margin: 20px auto 0;
        align-items: center;
        max-width: 1000px;
}

  .website-img-container, .photo-gal-dry, .photo-gal-apparel, .photo-gal-window, .photo-fleet-gal-fleet, .mx-banner-gallery-container, .photo-gal-building, .photo-gal-frost, .photo-gal-sign, .photo-gal-decal {
    background-color: #e9e9e9;;
  }
  .gallery-item {
    flex: 1;
    max-width: 45%;
    margin: 10px; /* Adjust this for more or less spacing */
}

  .gallery-item img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 8px;
}
  .gallery-item img:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease;
    cursor: pointer;
  }
  .navigation-buttons, .modal-buttons {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    gap: 15px;
  }
  .modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modal-content {
  position: relative;
  max-width: 35%;
}
.modal-download-button {
    background-color: #757064;
    border: none;
    cursor: pointer;
    font-size: 1rem;
    padding: 10px 10px;
    border-radius: 5%;
    color: #fff;
    transition: background-color .3s;
  }
.modal-download-button:hover {
    background-color: #a39c88;
    cursor: pointer;
  }
.modal-content img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.close-button {
  position: absolute;
  top: -20px;
  right: -20px;
  background: white;
  color: black;
  font-size: 24px;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  padding: 0.2em 0.5em;
}
  .gallery-mx-navigation-arrow-left, 
  .gallery-mx-navigation-arrow-right,
  .modal-nav-button {
      background-color: #757064;
    border: none;
    cursor: pointer;
    font-size: 24px;
    padding: 10px;
    border-radius: 50%;
    color: #fff;
    transition: background-color .3s;
  }
  .gallery-mx-navigation-arrow-left:hover, 
  .gallery-mx-navigation-arrow-right:hover,
  .modal-nav-button:hover {
    background-color: #a39c88;
    cursor: pointer;
  }
  .contacting-container {
    width: 100%;
    background-color: #fdf2e9;
    display: flex;
  }
  @media screen and (min-width: 1200px) and (max-width: 1800px) {
 .material-img {
        width: 100%;
    }
    .material-main {
        width: auto;
    }

    .material-video-banner {
        width: 100%;
        height: 10vh;
    }
    .material-page-heading {
        font-size: 30px;
    }
    .material-page-video-banner {
        width: 100%;
        height: auto;
    }
    .material-slogan {
        font-size: 30px;
        padding: 10px;
        width: 100%;
    }
    .material-descript {
        text-align: center;
        font-size: 20px;
        line-height: 30px;
    }
    .main-material-container {
        width: 100%;
        padding: 0.5rem 0.8rem;
    }
    .material-box {
        width: 90%;
    }
    .subheading {
        font-size: 2rem;
    }
    .heading-secondary {
        font-size: 1rem;
        margin-bottom: 0;
    }
    .custom-sign-logo-button, 
    .decals-stickers-logo-button, 
    .banner-logo-button, 
    .t-shirt-logo-button, 
    .window-logo-button, 
    .drywall-logo-button, 
    .fleet-logo-button {
        max-width: 90px;
        height: 220px;
    }
 .custom-sign-logo-button img, 
 .decals-stickers-logo-button img, 
 .banner-logo-button img, 
 .t-shirt-logo-button img, 
 .window-logo-button img, 
 .drywall-logo-button img, 
 .fleet-logo-button img {
    width: 35px;
 }
 .custom-sign-logo-button span, 
 .decals-stickers-logo-button span, 
 .banner-logo-button span, 
 .t-shirt-logo-button span, 
 .window-logo-button span, 
 .drywall-logo-button span, 
 .fleet-logo-button span {
    font-size: 0.95rem;
 }
 .custom-sign-logo-button p, 
 .decals-stickers-logo-button p, 
 .banner-logo-button p, 
 .t-shirt-logo-button p, 
 .window-logo-button p, 
 .drywall-logo-button p, 
 .fleet-logo-button p  {
    font-size: 0.7rem;
 }
 .logo-text {
    font-size: 1.8rem;
 }
 .logo-subheading  {
    font-size: 1.2rem;
 }
 .logo-home-description {
    font-size: 0.9rem;
 }
 .logo-link, .home-web-button {
    font-size: 1.2rem;
    padding: 0.5rem 1rem;
    margin: 0.5rem;
 }
 .logo-container-content {
    max-width: 600px;
 }
 .jobs-done-container {
    padding: 10px;
 }
 .contact-materialX {
    font-size: 1.5rem;
 }
 .contact-descript {
    font-size: 1rem;
 }
 .contact-info {
    margin-top: 0;
    font-size: 0;
 }
 .new-logo-img-home  {
    width: 30%;
 }
 .photo-mx-note {
    font-size: 2rem;
 }
.established-year, .sign-established, .decal-established {
            font-size: 3rem;
        margin: 0 auto;
 }
 .sign-established-text, .decal-established-text, .established-year-text {
    font-size: 1.2rem;
 }
 .material-installation h2 {
    font-size: 1.5rem;
    padding: 10px;
 }
 .modal-content {
    width: 37%;
    max-width: fit-content;
 }
 .container {
    padding: 0.3rem;
 }
 .material-installation {
    padding: 0.5rem;
 }
 .installation h3, .maintenance h3 {
    font-size: 1.1rem;
 }
 .installation p, .maintenance p {
    font-size: 0.8rem;
 }
 .installation ul li, .maintenance ul li {
    font-size: 0.8rem;
    padding: 0.3rem;
 }
 .installation, .maintenance {
    padding: 0.5rem 0.9rem;
 }
  }
  @media screen and (max-width: 1200px) {
    .material-img {
        width: 100%;
    }
    .material-main {
        width: auto;
    }

    .material-video-banner {
        width: 100%;
        height: 5vh;
        padding:   100px 0;
    }
    .material-page-heading {
        font-size: 30px;
    }
    .material-page-video-banner {
        width: 100%;
        height: auto;
    }
    .material-slogan {
        font-size: 30px;
        padding: 10px;
        width: 100%;
    }
    .material-descript {
        text-align: center;
        font-size: 20px;
        line-height: 30px;
    }
    .main-material-container {
        width: 100%;
    }
    .material-box {
        width: 90%;
    }
    .subheading {
        font-size: 1.5rem;
    }
    .heading-secondary {
        font-size: 0.8rem;
        margin-bottom: 0;
    }
    .custom-sign-logo-button, 
    .decals-stickers-logo-button, 
    .banner-logo-button, 
    .t-shirt-logo-button, 
    .window-logo-button, 
    .drywall-logo-button, 
    .fleet-logo-button {
        max-width: 50px;
        height: 150px;
    }
 .custom-sign-logo-button img, 
 .decals-stickers-logo-button img, 
 .banner-logo-button img, 
 .t-shirt-logo-button img, 
 .window-logo-button img, 
 .drywall-logo-button img, 
 .fleet-logo-button img {
    width: 20px;
 }
 .custom-sign-logo-button span, 
 .decals-stickers-logo-button span, 
 .banner-logo-button span, 
 .t-shirt-logo-button span, 
 .window-logo-button span, 
 .drywall-logo-button span, 
 .fleet-logo-button span {
    font-size: 0.6rem;
 }
 .custom-sign-logo-button p, 
 .decals-stickers-logo-button p, 
 .banner-logo-button p, 
 .t-shirt-logo-button p, 
 .window-logo-button p, 
 .drywall-logo-button p, 
 .fleet-logo-button p  {
    font-size: 0.48rem;
 }
 .logo-text {
    font-size: 1.5rem;
 }
 .logo-subheading  {
    font-size: 0.8rem;
 }
 .logo-home-description {
    font-size: 0.6rem;
 }
 .logo-link, .home-web-button {
    font-size: 1rem;
    padding: 0.5rem 1rem;
    margin: 0.5rem;
 }
 .logo-container-content {
    max-width: 400px;
 }
 .jobs-done-container {
    padding: 10px;
 }
 .contact-materialX {
    font-size: 1.5rem;
 }
 .contact-descript {
    font-size: 1rem;
 }
 .contact-info {
    margin-top: 0;
    font-size: 0;
 }
 .new-logo-img-home  {
    width: 30%;
 }
 .photo-mx-note {
    font-size: 2rem;
 }
.established-year, .sign-established, .decal-established {
            font-size: 2.5rem;
        margin: 0 auto;
 }
 .sign-established-text, .decal-established-text, .established-year-text {
    font-size: 1rem;
 }
 .material-installation h2 {
    font-size: 1.5rem;
    padding: 10px;
 }
 .modal-content {
    width: 90%;
    max-width: fit-content;
 }
 .container {
    padding: 0.3rem;
 }
 .material-installation {
    padding: 0.5rem;
 }
 .installation h3, .maintenance h3 {
    font-size: 1.1rem;
 }
 .installation p, .maintenance p {
    font-size: 0.8rem;
 }
 .installation ul li, .maintenance ul li {
    font-size: 0.8rem;
    padding: 0.3rem;
 }
 .installation, .maintenance {
    padding: 0.5rem 0.9rem;
 }
 .material-name-container {
    max-width: 475px;
    width: 80%;
 }
}
@media screen and (min-width: 320px) and (max-width: 640px) and (orientation: portrait) {
        .material-video-banner {
        padding: 90px;
    }
    .section-home-service {
        display: block;
    }
    .logo-container-content {
        display: block;
    }
    .subheading {
        font-size: 1.5rem;
    }
    .heading-secondary {
        font-size: 1rem;
    }
    .material-logo-buttons {
        gap: 10px;
    }
    .custom-sign-logo-button, .decals-stickers-logo-button, .banner-logo-button, .t-shirt-logo-button, .window-logo-button, .drywall-logo-button, .fleet-logo-button {
        max-width: 120px;
    }
    .custom-sign-logo-button img, .decals-stickers-logo-button img, .banner-logo-button img, .t-shirt-logo-button img, .window-logo-button img, .drywall-logo-button img, .fleet-logo-button img {
        width: 37%;
    }
     .custom-sign-logo-button span, 
 .decals-stickers-logo-button span, 
 .banner-logo-button span, 
 .t-shirt-logo-button span, 
 .window-logo-button span, 
 .drywall-logo-button span, 
 .fleet-logo-button span {
    font-size: 0.8rem;
 }
 .custom-sign-logo-button p, 
 .decals-stickers-logo-button p, 
 .banner-logo-button p, 
 .t-shirt-logo-button p, 
 .window-logo-button p, 
 .drywall-logo-button p, 
 .fleet-logo-button p  {
    font-size: 0.6rem;
 }
 .main-material-container {
    padding: 0.5rem 0.7rem;
 }
    .material-name-container img {
        max-width: fit-content;
    }
    .material-page-video-banner {
        height: 100%;
    }
.gallery-item {
    width: 100%;
    height: auto;
    max-width: 100%;
}
.modal-content {
    width: 90%;
    max-width: fit-content;
}
.jobs-done-container {
           padding: 0;
        display: block;
}
.job-year-content, .sign-content, .decal-content  {
            display: block;
        padding: 15px;
}
.established-year, .sign-established, .decal-established {
            font-size: 3rem;
        margin: 0;
}
.sign-established-text, .decal-established-text, .established-year-text {
    font-size: 1rem;
}
.material-installation h2 {
    font-size: 1.5rem;
}
.modal-buttons {
    width: 100%;
}
.close-button {
    font-size: 1rem;
    top: -10px;
}
}
@media screen and (max-width: 320px) and (orientation: portrait) {
.material-video-banner {
    padding: 90px;
}
.section-home-service {
    display: block;
}
.logo-container-content {
    display: block;
}
.subheading {
    font-size: 1.5rem;
}
.heading-secondary {
    font-size: 1rem;
}
.material-logo-buttons {
    gap: 10px;
}
.custom-sign-logo-button, .decals-stickers-logo-button, .banner-logo-button, .t-shirt-logo-button, .window-logo-button, .drywall-logo-button, .fleet-logo-button {

    max-width: 120px;
}
.custom-sign-logo-button img, .decals-stickers-logo-button img, .banner-logo-button img, .t-shirt-logo-button img, .window-logo-button img, .drywall-logo-button img, .fleet-logo-button img {
    width: 37%;
    height: auto;
}
.logo-text {
    font-size: 1.5rem;
}
.logo-subheading {
    font-size: 1rem;
}
.logo-home-description {
    font-size: 0.8rem;
}
.new-logo-img-home {
    width: 70%;
    height: auto;
}
.contact-materialX {
    font-size: 1.2rem;
}
.contact-descript {
    font-size: 0.8rem;
}
.will-contact {
    font-size: 1rem;
}
.contact-info {
    font-size: 0.8rem;
    margin: 0
}
.btn, .btn:link, .btn:visited {
    font-size: 1rem;
}
.gallery {
    flex-direction: column;
}
.gallery-item {
    width: 100%;
    height: auto;
    max-width: 100%;
}
.modal-content {
    width: 70%;
    max-width: fit-content;
}
.jobs-done-container {
           padding: 0;
        display: block;
}
.job-year-content, .sign-content, .decal-content  {
            display: block;
        padding: 15px;
}
.established-year, .sign-established, .decal-established {
            font-size: 3rem;
        margin: 0;
}
.sign-established-text, .decal-established-text, .established-year-text {
    font-size: 1rem;
}
.material-installation h2 {
    font-size: 1.5rem;
}
.modal-buttons {
    width: 100%;
}
.close-button {
    font-size: 1rem;
    top: -10px;
}
}
@media screen and (max-width: 320px) and (orientation: landscape) {
.material-video-banner {
    padding: 90px;
}
.section-home-service {
    display: block;
}
.logo-container-content {
    display: block;
}
.subheading {
    font-size: 1.5rem;
}
.heading-secondary {
    font-size: 1rem;
}
.material-logo-buttons {
    gap: 10px;
}
.custom-sign-logo-button, .decals-stickers-logo-button, .banner-logo-button, .t-shirt-logo-button, .window-logo-button, .drywall-logo-button, .fleet-logo-button {

    max-width: 120px;
}
.custom-sign-logo-button img, .decals-stickers-logo-button img, .banner-logo-button img, .t-shirt-logo-button img, .window-logo-button img, .drywall-logo-button img, .fleet-logo-button img {
    width: 37%;
    height: auto;
}
.logo-text {
    font-size: 1.5rem;
}
.logo-subheading {
    font-size: 1rem;
}
.logo-home-description {
    font-size: 0.8rem;
}
.new-logo-img-home {
    width: 70%;
    height: auto;
}
.contact-materialX {
    font-size: 1.2rem;
}
.contact-descript {
    font-size: 0.8rem;
}
.will-contact {
    font-size: 1rem;
}
.contact-info {
    font-size: 0.8rem;
    margin: 0
}
.btn, .btn:link, .btn:visited {
    font-size: 1rem;
}
.gallery {
    flex-direction: column;
}
.gallery-item {
    width: 100%;
    height: auto;
    max-width: 100%;
}
.modal-content {
    width: 35%;
    max-width: fit-content;
}
.jobs-done-container {
           padding: 0;
        display: block;
}
.job-year-content, .sign-content, .decal-content  {
            display: block;
        padding: 15px;
}
.established-year, .sign-established, .decal-established {
            font-size: 3rem;
        margin: 0;
}
.sign-established-text, .decal-established-text, .established-year-text {
    font-size: 1rem;
}
.material-installation h2 {
    font-size: 1.5rem;
}
.modal-buttons {
    width: 100%;
}
.close-button {
    font-size: 1rem;
    top: -10px;
}
}
