.invoice {
    background-color: aqua;
    padding: 15px;
    padding-bottom: 20px;
}
.invoice-main {
    background-color: #e7e7e7;
}
.invoice-actual {
    border-color: #000;
  border-width: 4px;
  background-color: #cccbcb;
  border-style: solid;
  border-radius: 10px;
}
.invoice-displays {
    display: grid;
  grid-template-columns: 1fr 1fr;
}
.map-invoice-container  {
    width: 100%;
    height: auto;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    object-fit: cover;
    border: 5px solid #003366;
    padding: 5px;
    background-color: #66b2ff;
}
.google-map-invoice {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 120%;
    padding: 20px;
    box-sizing: border-box;
    position: relative;
    margin-bottom: 1rem;
}
.about-invoice-heading {
    color: #2f2f2f;
    font-family: "Kairos W04 Extended Bold";
    font-size: 80px;
    text-align: center;
}
.invoice-statement {
    font-family: "Moveo Sans w00 Bold";
    text-align: center;
    font-size: 80px;
    padding: 10px;
}
.invoice-form {
    width: auto;
    margin: 50px;
    height: auto;
}
.name-invoice, 
.company-invoice,
.email-phone-invoice {
    border-color: #000;
  border-width: 4px;
  background-color: #cccbcb;
  border-style: solid;
  border-radius: 10px;
  margin: 10px;
  width: auto;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column; /* Stack items vertically */
  padding: 20px;
}
.invoice-statement-description {
    color: #000;
    font-size: 50px;
}
.invoice-statement-description2 {
    color: #000;
    margin-top: 5px;
    font-size: 25px;
}
.invoice-statement-description3 {
    color: #000;
    margin-top: 5px;
    font-size: 25px;
}
.invoice-warn {
    color: #194fb4;
    height: auto;
}
.name-invoice-label {
    padding: 50px;
    color: #000;
    font-family: "Moveo Sans w00 Bold";
    display: block;
    text-align: center;
    font-size: 80px;
    font-style: inherit;
    height: auto;
}
.name-invoice-form {
    font-family: "Moveo Sans w00 Regular";
    margin: 10px;
    margin-right: 0;
    position: relative;
    padding-left: 15px;
    display: flex;
    height: auto;
}
.first-invoice-name, .last-invoice-name,
.email-invoice-name,
.phone-invoice-form {
    font-family: "Moveo Sans w00 Regular";
    margin: 10px;
    margin-right: 0;
    position: relative;
    padding-left: 15px;
    display: flex;
    height: auto;
}
.first-invoice-label-name, 
.last-invoice-label-name, 
.company-invoice-label-name,
.email-invoice-label-name,
.phone-invoice-label-name,
.name-card-label,
.expiration-invoice-label,
.cvv-invoice-label {
    font-family: "Highway Gothic Narrow";
    font-style: normal;
    margin: 0;
    color: #226daf;
    padding-left: 10px;
    font-size: 70px;
}
.first-invoice-input, 
.last-invoice-input, 
.company-invoice-input,
.email-invoice-input,
.phone-invoice-input,
.card-input-name,
.cvv-invoice-input,
.expiration-invoice-input {
    padding: 10px;
    color: #0f375a;
    font-size: 50px;
    margin-bottom: 20px;
    height: auto;
}
