@import url(https://db.onlinewebfonts.com/c/82baa4951eee7df05175ada4cb171e35?family=Moveo+Sans+W00+Bold);
@import url(https://db.onlinewebfonts.com/c/82302682c00aba868f6ae01a375b10ac?family=Moveo+Sans+SemiExt+W00+Bold);
/* ================================
   ================================
   TOP OF THE logo PAGE
   ================================
   ================================ */
  /* Form Container */
.logo-form-container {
  background-color: #ffffff;
  padding: 20px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  margin: 20px auto;
  max-width: 900px;
}

.logo-description {
  font-size: 4rem;
  color: #000000;
  text-align: center;
  font-family: "Moveo Sans w00 Bold";
  margin-bottom: 30px;
}
/* ================================
   Logo Buttons
   ================================ */
   

/* Section Headers */
.logo-app-box {
  font-size: 32px;
  color: rgb(66, 57, 31);
  text-align: center;
  margin-bottom: 10px;
}

.logo-fill {
  font-size: 20px;
  color: rgb(141, 126, 91);
  text-align: center;
  margin-bottom: 30px;
}

/* Input Fields */
input[type="text"], input[type="number"], select, textarea {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

/* Label Styling */

/* Buttons */
.submit-logos, .remove-logo, .file-logo-label,
.remove-logo-file-button {
  background-color: rgb(117, 112, 100);
    color: #fff;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    text-align: center;
    font-size: 1rem;
    cursor: pointer;
}
.submit-logo {
  display: flex;
  font-size: 1rem;
  justify-content: center;
}
.submit-s:hover, .remove-logo:hover {
  background-color: #226daf;
}
.logo-warn, .logo-warn {
  font-size: 15px;
  margin: 0;
  text-align: center;
}
.logo-logo-label {
  font-size: 1rem;
  margin: 10px;
  height: auto;
  text-align: center;
}
.printing-logo-h2 {
  font-size: 1rem;
  margin-bottom: 10px;
}
.logo-notice {
  color: #194fb4;
}
/* Error and Success Messages */
.error-message, .submission-error-message {
  color: red;
  font-size: 14px;
  text-align: center;
  margin-top: 5px;
}
.message-logo-note {
  font-size: 1rem
}
.message-logo-text {
  font-size: 1rem;
  height: 20rem;
  font-family: Arial, Helvetica, sans-serif;
}
.submission-message {
  color: green;
  font-size: 18px;
  text-align: center;
  margin-top: 20px;
}

/* Input Group Styling */
.name-section-logo,
.company-logo-section,
.emailphone-logo-section,
.address-logo-section,
.logo-file-section,
.print-logo-note,
.logo-message-container,
.vehicle-type-logo-section,
.vehicle-size-logo-section,
.door-size-logo-section,
.finishing-logo-section {
  background-color: #f1f1f1;
  padding: 20px;
  border-radius: 5px;
  margin-bottom: 20px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.518);
}

.logo-file-label, .remove-logo-file-button {
  border: none;
  margin-top: 10px;
  display: inline-block;
}

.file-logo-label input[type=file] {
  display: none;
}
.photo-logo-mx-note {
  font-size: 3rem;
  text-align: center;
  font-family: "Moveo Sans w00 Bold";
}
.logo-finish-img-section {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Three equal columns */
  gap: 20px; /* Adds space between the columns */
  padding: 10px;
  height: auto;
}

.matte-img-logo, .gloss-img-logo, .ra-img-logo {
  text-align: center; /* Centers the image and text within each div */
  height: auto;
}

.matte-img, .gloss-img, .ORAFOL-img {
  max-width: 100%; /* Ensures the images do not exceed their container's width */
  height: auto; /* Maintains the image's aspect ratio */
}
.vehicle-list, .vehicle-driver-size-li, 
.vehicle-passenger-size-li,
.door-list, .finishing-item,
.selected-logo-files-list {
  list-style: none;
  padding: 0;
  font-size: 1.52rem;
  text-align: center;
  font-weight: bold;
  margin: 0;
}
.submit-vehicle, .driver-submit-,
.driver-remove-submit-size,
.driver-submit-size,
.passenger-submit-size, .passenger-remove-submit-size,
.door-length-submit-size,
.door-remove-length-submit-size,
.remove-finishing,
.submit-finishing, 
.submit-logo{
  background-color: #0f375a;
    color: #fff;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    text-align: center;
    font-size: 1rem;
    cursor: pointer;
}
@media screen and (min-width: 1200px) and (max-width: 1800px) and (orientation: landscape) {
  .first-name-logo-input, 
  .emailphone-logo-input, 
  .logo-company-name-input, 
  .address-logo-input, 
  .email-logo-input, 
  .logo-phone-name-input, 
  .length-logo-section, 
  .width-logo-section, 
  .file-logo-section {
    display: block;
  }
}
@media screen and (max-width: 1200px) and (orientation: landscape) {
  .logo-description {
  font-size: 4rem;
}
.photo-logo-mx-note {
  font-size: 2.2rem;
}
.name-section-logo,
 .company-logo-section,
 .emailphone-logo-section,
 .address-logo-section,
 .vehicle-type-logo-section,
 .vehicle-size-logo-section,
 .door-size-logo-section,
 .finishing-logo-section,
 .logo-file-section,
 .logo-message-container {
  display: block;
  padding: 0;
  margin-top: 10px;
 }
.first-name-logo-input, 
.emailphone-logo-input, 
.logo-company-name-input, 
.address-logo-input, 
.email-logo-input, 
.logo-phone-name-input, 
.length-logo-section, 
.width-logo-section, 
.file-logo-section {
display: block;
}
.first-name-logo-input, 
.emailphone-logo-input, 
.logo-company-name-input, 
.address-logo-input, 
.email-logo-input, 
.logo-phone-name-input, 
.length-logo-section, 
.width-logo-section, 
.file-logo-section {
padding-left: 0;
}

.logo-form-info {
margin: 0;
}
.logo-app-box {
font-size: 1.9rem;
}
.logo-fill {
margin: 10px;
      font-size: 1rem;
}
.logo-set {
display: block;
}
.logo-actual {
margin: 0;
}
.added-logo-list {
  font-size: 1.6rem;
}
.added-logos-li {
  list-style: none;
}
.logo-type-p,  
.logo-size-p, 
.logo-side-p,
.logo-finish-p, 
.logo-quantity-p, 
.logo-acrylic-color-p,
.logo-acm-color-p, 
.logo-thickness-p {
font-size: 1.2rem;

}
.page-logo-banner {
padding-top: 30px; /* Reduce padding */
}
}
  @media screen and (max-width: 1200px) and (orientation: portrait) {
    .logo-description {
    font-size: 2.2rem;
  }
  .photo-logo-mx-note {
    font-size: 2rem;
  }
  .name-section-logo,
   .company-logo-section,
   .emailphone-logo-section,
   .address-logo-section,
   .vehicle-type-logo-section,
   .vehicle-size-logo-section,
   .door-size-logo-section,
   .finishing-logo-section,
   .logo-file-section,
   .logo-message-container {
    display: block;
    padding: 0;
    margin-top: 10px;
   }
.first-name-logo-input, 
.emailphone-logo-input, 
.logo-company-name-input, 
.address-logo-input, 
.email-logo-input, 
.logo-phone-name-input, 
.length-logo-section, 
.width-logo-section, 
.file-logo-section {
  display: block;
}

.firstname-logo-name-input, 
.lastname-logo-name-input, 
.company-logo-name-input, 
.email-logo-box, 
.phone-logo-box, 
.address-logo-box, 
.city-logo-box, 
.state-logo-box, 
.zip-logo-box, 
.logo-type-input, 
.logo-size-input, 
.border-logo-box,
.logo-sides-input, 
.logo-side-select, 
.logo-length-input, 
.logo-length-select, 
.logo-width-input, 
.logo-width-select, 
.finish-logo-select,
.logo-thickness-select, 
.logo-acm-color-select, 
.logo-acrylic-color-select, 
.logo-quantity-input {
  font-size: 1.1rem;
}
.first-name-logo-input, 
.emailphone-logo-input, 
.logo-company-name-input, 
.address-logo-input, 
.email-logo-input, 
.logo-phone-name-input, 
.length-logo-section, 
.width-logo-section, 
.file-logo-section {
  padding-left: 0;
}
.logo-type-input,
.finish-logo-select {
  font-size: 12px;
}
.logo-form-info {
  margin: 0;
}
.logo-app-box {
  font-size: 1.5rem;
}
.logo-fill {
  margin: 10px;
        font-size:1rem;
}
.logo-set {
  display: block;
}
.logo-warn {
  font-size: 0.8rem;
}
.logo-actual {
  margin: 0;
}
.added-logo-list {
  font-size: 1.2rem;
}
.logo-type-p, 
.logo-size-p, 
.logo-side-p,
.logo-finish-p, 
.logo-quantity-p, 
.logo-acrylic-color-p,
.logo-acm-color-p, 
.logo-thickness-p {
  font-size: 1.1rem;
}
.page-logo-banner {
  padding-top: 20px; /* Reduce padding */
}
.message-logo-note, .printing-logo-h2 {
  font-size: 0.8rem;
  text-align: center;
}
.logo-finish-img-section {
  display: block;
}
}
  @media screen and (max-width: 320px) and (orientation: portrait) {
    .main-logo-graphics {
      display: block;
    }
    .page-logo-banner {
      padding-top: 10px; /* Reduce padding */
    }
    .logo-description {
      font-size: 1.5rem; /* Reduce font size */
      padding: 0px; /* Add padding to avoid content touching the edges */
      margin: 0;
    }
    
    .logo-form-info {
      margin: 0;
    }
    .logo-app-box {
      font-size: 1rem;
    }
    .logo-fill {
      margin: 10px;
      font-size: 0.6rem;
    }
    .logo-actual {
      margin: 0;
    }
    .logo-set {
      display: block;
    }
    .type-logo-section {
      padding: 0;
    }
    .added-logos-li {
      list-style: none;
    }
.logo-type-input {
  font-size: 0.5rem;
}
.added-logo-list {
  font-size: 1rem;
  
}
.logo-type-p, 
.logo-size-p, 
.logo-side-p,
.logo-finish-p, 
.logo-quantity-p, 
.logo-acrylic-color-p,
.logo-acm-color-p, 
.logo-thickness-p {
  font-size: 0.7rem;
  margin: auto;
}
.submit-logos, 
.remove-logo, 
.submit-logo,
.new-logo-logo-button {
  font-size: 1rem;
}
.logo-message-container {
  margin-top: 10px;
}
.message-logo-label {
  margin-bottom: 0;
  margin-top: 10px;
  padding: 0;
  
}
.first-name-logo-input
.emailphone-logo-input, 
.address-logo-input-container, 
.size-logo-section,
.size-door-logo-section {
  margin: 0;
  display: block;
}
.last-logo-name {
  padding-left: 0;
}
.firstname-logo-name-input, 
.lastname-logo-name-input, 
.company-logo-name-input, 
.email-logo-box, .phone-logo-box, 
.address-logo-box, 
.city-logo-box, 
.state-logo-box,
.zip-logo-box,
.logo-size-input, 
.border-logo-box, 
.logo-sides-input, 
.logo-side-select, 
.logo-length-input, 
.logo-length-select, 
.logo-width-input, 
.logo-width-select, 
.finish-logo-select, 
.logo-thickness-select, 
.logo-acm-color-select, 
.logo-acrylic-color-select, 
.logo-quantity-input 
 {
  font-size: 12px;
}
.model-logo-box {
  font-size: 6px;
}
.logo-company-label {
  font-size: 18px;
  padding: 0;
}
.logo-finish-img-section {
  display: block;
}
.finish-logo-select {
  font-size: 7px;
}
.logo-warn {
  font-size: 0.6rem;
  padding-top: 10%;
  margin: 0;
  text-align: center;
}
.logo-company-name-input {
  margin: 10px;
  padding-left: 0;
  display: block;
}
.company-logo-input {
  padding-left: 0px;
}
.emailphone-logo-input, 
.address-logo-input-container, 
.size-logo-section {
  margin: 0px;
  display: block;
}
.logo-company-name-input, 
.address-logo-input, 
.email-logo-input, 
.logo-phone-name-input, 
.length-logo-section, 
.width-logo-section, 
.place-logo-section, 
.finish-logo-section, 
.file-logo-section, 
.border-logo-section,
.type-logo-section {
  margin: 0px;
  display: block;
  padding-left: 0;
}
.address-logo-inputing, 
.city-logo-input, 
.phone-logo {
  padding-left: 0px;
}

.size-driver-logo-note, .size-passenger-logo-note {
  font-size: 26px;
}
.driver-length-section, 
.driver-width-section, 
.passenger-length-section, 
.passenger-side-width, 
.length-door-logo-section, 
.width-door-logo-section {
  display: block;
}
.size-logo-label {
  font-size: 20px;
}
.submit-size {
  margin-left: 0;
  font-size: 15px;
  text-align: center;
}
.choose-logo-contain {
  display: block;
  text-align: center;
}
.file-logo-label, .remove-logo-file-button {
  font-size: 1rem;
  display: block;
}

.message-logo-text {
  margin-left: 0;
  text-align: center;
}
.submit-logo {
  font-size: 20px;
}
.btn-logo-submit {
  padding: 0;
  margin-top: 10px;
  width: 100%;
}
.photo-logo-mx-note {
  font-size: 1rem;
}
.message-logo-note {
  font-size: 0.6rem;
}
.logo-logo-label {
  width: auto;
}
.printing-logo-h2 {
  font-size: 0.6rem;
}
  }
  @media screen and (max-width: 320px) and (orientation: landscape) {
    .main-logo-graphics {
      display: block;
    }
    .page-logo-banner {
      padding-top: 10px; /* Reduce padding */
    }
    .logo-description {
      font-size: 1.5rem; /* Reduce font size */
      padding: 0px; /* Add padding to avoid content touching the edges */
      margin: 0;
    }
    
    .logo-form-info {
      margin: 0;
    }
    .logo-app-box {
      font-size: 1rem;
    }
    .logo-fill {
      margin: 10px;
      font-size: 0.6rem;
    }
    .logo-actual {
      margin: 0;
    }
    .logo-set {
      display: block;
    }
    .type-logo-section {
      padding: 0;
    }
    .added-logos-li {
      list-style: none;
    }
.logo-type-input {
  font-size: 0.5rem;
}
.added-logo-list {
  font-size: 1rem;
  
}
.logo-type-p, 
.logo-size-p, 
.logo-side-p,
.logo-finish-p, 
.logo-quantity-p, 
.logo-acrylic-color-p,
.logo-acm-color-p, 
.logo-thickness-p {
  font-size: 0.7rem;
  margin: auto;
}
.submit-logos, 
.remove-logo, 
.submit-logo,
.new-logo-logo-button {
  font-size: 1rem;
}
.logo-message-container {
  margin-top: 10px;
}
.message-logo-label {
  margin-bottom: 0;
  margin-top: 10px;
  padding: 0;
  
}
.first-name-logo-input
.emailphone-logo-input, 
.address-logo-input-container, 
.size-logo-section,
.size-door-logo-section {
  margin: 0;
  display: block;
}
.last-logo-name {
  padding-left: 0;
}
.firstname-logo-name-input, 
.lastname-logo-name-input, 
.company-logo-name-input, 
.email-logo-box, .phone-logo-box, 
.address-logo-box, 
.city-logo-box, 
.state-logo-box,
.zip-logo-box,
.logo-size-input, 
.border-logo-box, 
.logo-sides-input, 
.logo-side-select, 
.logo-length-input, 
.logo-length-select, 
.logo-width-input, 
.logo-width-select, 
.finish-logo-select, 
.logo-thickness-select, 
.logo-acm-color-select, 
.logo-acrylic-color-select, 
.logo-quantity-input 
 {
  font-size: 12px;
}
.model-logo-box {
  font-size: 6px;
}
.logo-company-label {
  font-size: 18px;
  padding: 0;
}
.logo-finish-img-section {
  display: block;
}
.finish-logo-select {
  font-size: 7px;
}
.logo-warn {
  font-size: 0.6rem;
  padding-top: 10%;
  margin: 0;
  text-align: center;
}
.logo-company-name-input {
  margin: 10px;
  padding-left: 0;
  display: block;
}
.company-logo-input {
  padding-left: 0px;
}
.emailphone-logo-input, 
.address-logo-input-container, 
.size-logo-section {
  margin: 0px;
  display: block;
}
.logo-company-name-input, 
.address-logo-input, 
.email-logo-input, 
.logo-phone-name-input, 
.length-logo-section, 
.width-logo-section, 
.place-logo-section, 
.finish-logo-section, 
.file-logo-section, 
.border-logo-section,
.type-logo-section {
  margin: 0px;
  display: block;
  padding-left: 0;
}
.address-logo-inputing, 
.city-logo-input, 
.phone-logo {
  padding-left: 0px;
}

.size-driver-logo-note, .size-passenger-logo-note {
  font-size: 26px;
}
.driver-length-section, 
.driver-width-section, 
.passenger-length-section, 
.passenger-side-width, 
.length-door-logo-section, 
.width-door-logo-section {
  display: block;
}
.size-logo-label {
  font-size: 20px;
}
.submit-size {
  margin-left: 0;
  font-size: 15px;
  text-align: center;
}
.choose-logo-contain {
  display: block;
  text-align: center;
}
.file-logo-label, .remove-logo-file-button {
  font-size: 1rem;
  display: block;
}

.message-logo-text {
  margin-left: 0;
  text-align: center;
}
.submit-logo {
  font-size: 20px;
}
.btn-logo-submit {
  padding: 0;
  margin-top: 10px;
  width: 100%;
}
.photo-logo-mx-note {
  font-size: 1rem;
}
.message-logo-note {
  font-size: 0.6rem;
}
.material-logo-buttons  {
 margin: 0;
}
.logo-logo-label {
  width: auto;
}
.printing-logo-h2 {
  font-size: 0.6rem;
}
  }
