@import url(https://db.onlinewebfonts.com/c/82baa4951eee7df05175ada4cb171e35?family=Moveo+Sans+W00+Bold);
@import url(https://db.onlinewebfonts.com/c/82302682c00aba868f6ae01a375b10ac?family=Moveo+Sans+SemiExt+W00+Bold);
/* ================================
   ================================
   TOP OF THE apparel PAGE
   ================================
   ================================ */
  /* Form Container */
.apparel-form-container {
  background-color: #ffffff;
  padding: 20px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  margin: 20px auto;
  max-width: 900px;
}
.photo-mx-apparel-note {
  font-size: 3rem;
  text-align: center;
  font-family: "Moveo Sans w00 Bold";
}

.apparel-description {
  font-size: 4rem;
  color: #000000;
  text-align: center;
  font-family: "Moveo Sans w00 Bold";
  margin-bottom: 30px;
}
/* Section Headers */
.apparel-app-box {
  font-size: 32px;
  color: rgb(66, 57, 31);
  text-align: center;
  margin-bottom: 10px;
}

.apparel-fill {
  font-size: 20px;
  color: rgb(141, 126, 91);
  text-align: center;
  margin-bottom: 30px;
}

/* Input Fields */
input[type="text"], input[type="number"], select, textarea {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

/* Label Styling */

/* Buttons */
.submit-apparel {
  display: flex;
  font-size: 1rem;
  justify-content: center;
}
.apparel-warn {
  font-size: 15px;
  margin: 0;
  text-align: center;
}
.apparel-notice {
  color: #194fb4;
}
/* Error and Success Messages */
.error-message, .submission-error-message {
  color: red;
  font-size: 14px;
  text-align: center;
  margin-top: 5px;
}
.message-apparel-note {
  font-size: 1rem
}
.message-apparel-text {
  font-size: 1rem;
  height: 20rem;
  font-family: Arial, Helvetica, sans-serif;
}
.submission-message {
  color: green;
  font-size: 18px;
  text-align: center;
  margin-top: 20px;
}

/* Input Group Styling */
.name-section-apparel,
.company-apparel-section,
.emailphone-apparel-section,
.address-apparel-section,
.apparel-file-section,
.apparel-message-container,
.vehicle-type-apparel-section,
.vehicle-size-apparel-section,
.door-size-apparel-section,
.apparel-input-container {
  background-color: #f1f1f1;
  padding: 20px;
  border-radius: 5px;
  margin-bottom: 20px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.518);
}

.apparel-file-label, .remove-apparel-file-button, .select-more-files {
  border: none;
  margin-top: 10px;
  display: inline-block;
}

.file-apparel-label input[type=file] {
  display: none;
}
.photo-apparel-mx-note {
  font-size: 3rem;
  text-align: center;
  font-family: "Moveo Sans w00 Bold";
}
.apparel-finish-img-section {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Three equal columns */
  gap: 20px; /* Adds space between the columns */
  padding: 10px;
  height: auto;
}
.selected-file-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 5px 1rem;
  justify-content: center;
  width: 100%;
  max-width: 600px;
  height: 100%;
  background-color: #d3d3d3;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 1.3rem;
  border: 1px solid #ccc;
  margin: 0 auto;
}
.apparel-multi-note {
  font-size: 1.2rem;
  color: #333;
  background-color: #fff9db;
  border-left: 4px solid #ffc107;
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 4px;
}
.submit-apparels, .remove-apparel, .file-apparel-label, .select-more-files, .remove-apparel-file-button, .remove-single-file, .remove-all-files{
  background-color: rgb(117, 112, 100);
    color: #fff;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    text-align: center;
    font-size: 1rem;
    cursor: pointer;
}
.photo-apparel-mx-note {
  font-size: 3rem;
  text-align: center;
  font-family: "Moveo Sans w00 Bold";
}
@media screen and (min-width: 1200px) and (max-width: 1800px) and (orientation: landscape) {
  .first-name-apparel-input, 
  .emailphone-apparel-input, 
  .apparel-company-name-input, 
  .address-apparel-input, 
  .email-apparel-input, 
  .apparel-phone-name-input, 
  .length-apparel-section, 
  .width-apparel-section, 
  .file-apparel-section {
    display: block;
  }
}
@media screen and (max-width: 1200px) and (orientation: landscape) {
  .apparel-description {
  font-size: 4rem;
}
.photo-apparel-mx-note {
  font-size: 2.2rem;
}
.first-name-apparel-input, 
.emailphone-apparel-input, 
.apparel-company-name-input, 
.address-apparel-input, 
.email-apparel-input, 
.apparel-phone-name-input, 
.length-apparel-section, 
.width-apparel-section, 
.file-apparel-section {
display: block;
}
.first-name-apparel-input, 
.emailphone-apparel-input, 
.apparel-company-name-input, 
.address-apparel-input, 
.email-apparel-input, 
.apparel-phone-name-input, 
.length-apparel-section, 
.width-apparel-section, 
.file-apparel-section {
padding-left: 0;
}

.apparel-form-info {
margin: 0;
}
.apparel-app-box {
font-size: 1.9rem;
}
.apparel-fill {
margin: 10px;
      font-size: 1rem;
}
.apparel-set {
display: block;
}
.apparel-actual {
margin: 0;
}
.added-apparel-list {
  font-size: 1.6rem;
}
.added-apparels-li {
  list-style: none;
}
.apparel-type-p,  
.apparel-size-p, 
.apparel-side-p,
.apparel-finish-p, 
.apparel-quantity-p, 
.apparel-acrylic-color-p,
.apparel-acm-color-p, 
.apparel-thickness-p {
font-size: 1.2rem;

}
.page-apparel-banner {
padding-top: 30px; /* Reduce padding */
}
}
  @media screen and (max-width: 1200px) and (orientation: portrait) {
    .apparel-description {
    font-size: 2.2rem;
  }
  .photo-mx-apparel-note {
    font-size: 2rem;
  }
.first-name-apparel-input, 
.emailphone-apparel-input, 
.apparel-company-name-input, 
.address-apparel-input, 
.email-apparel-input, 
.apparel-phone-name-input, 
.length-apparel-section, 
.width-apparel-section, 
.file-apparel-section {
  display: block;
}

.firstname-apparel-name-input, 
.lastname-apparel-name-input, 
.company-apparel-name-input, 
.email-apparel-box, 
.phone-apparel-box, 
.address-apparel-box, 
.city-apparel-box, 
.state-apparel-box, 
.zip-apparel-box, 
.apparel-type-input, 
.apparel-size-input, 
.border-apparel-box,
.apparel-sides-input, 
.apparel-side-select, 
.apparel-length-input, 
.apparel-length-select, 
.apparel-width-input, 
.apparel-width-select, 
.finish-apparel-select,
.apparel-thickness-select, 
.apparel-acm-color-select, 
.apparel-acrylic-color-select, 
.apparel-quantity-input {
  font-size: 1.1rem;
}
.apparel-type-input,
.finish-apparel-select {
  font-size: 12px;
}
.apparel-form-info {
  margin: 0;
}
.apparel-app-box {
  font-size: 1.5rem;
}
.apparel-fill {
  margin: 10px;
        font-size:1rem;
}
.apparel-set {
  display: block;
}
.apparel-warn {
  font-size: 0.8rem;
}
.apparel-actual {
  margin: 0;
}
.added-apparel-list {
  font-size: 1.2rem;
}
.apparel-type-p, 
.apparel-size-p, 
.apparel-side-p,
.apparel-finish-p, 
.apparel-quantity-p, 
.apparel-acrylic-color-p,
.apparel-acm-color-p, 
.apparel-thickness-p {
  font-size: 1.1rem;
}
.page-apparel-banner {
  padding-top: 20px; /* Reduce padding */
}
.message-apparel-note {
  font-size: 0.8rem;
  text-align: center;
}
.apparel-finish-img-section {
  display: block;
}
}
  @media screen and (max-width: 320px) and (orientation: portrait) {
    .main-apparel-graphics {
      display: block;
    }
    .page-apparel-banner {
      padding-top: 10px; /* Reduce padding */
    }
    .apparel-description {
      font-size: 1.5rem; /* Reduce font size */
      padding: 0px; /* Add padding to avoid content touching the edges */
      margin: 0;
    }
    
    .apparel-form-info {
      margin: 0;
    }
    .apparel-app-box {
      font-size: 1rem;
    }
    .apparel-fill {
      margin: 10px;
      font-size: 0.6rem;
    }
    .apparel-actual {
      margin: 0;
    }
    .apparel-set {
      display: block;
    }
    .type-apparel-section {
      padding: 0;
    }
    .added-apparels-li {
      list-style: none;
    }
.apparel-type-input {
  font-size: 0.5rem;
}
.added-apparel-list {
  font-size: 1rem;
  
}
.apparel-type-p, 
.apparel-size-p, 
.apparel-side-p,
.apparel-color-p, 
.apparel-quantity-p, 
.apparel-acrylic-color-p,
.apparel-acm-color-p, 
.apparel-thickness-p {
  font-size: 0.7rem;
  margin: auto;
}
.submit-apparels, 
.remove-apparel, 
.submit-apparel,
.new-apparel-logo-button {
  font-size: 1rem;
}
.apparel-message-container {
  margin-top: 10px;
}
.message-apparel-label {
  margin-bottom: 0;
  margin-top: 10px;
  padding: 0;
  
}
.first-name-apparel-input
.emailphone-apparel-input, 
.address-apparel-input-container, 
.size-apparel-section,
.size-door-apparel-section {
  margin: 0;
  display: block;
}
.last-apparel-name {
  padding-left: 0;
}
.firstname-apparel-name-input, 
.lastname-apparel-name-input, 
.company-apparel-name-input, 
.email-apparel-box, .phone-apparel-box, 
.address-apparel-box, 
.city-apparel-box, 
.state-apparel-box,
.zip-apparel-box,
.apparel-size-input, 
.border-apparel-box, 
.apparel-sides-input, 
.apparel-side-select, 
.apparel-length-input, 
.apparel-length-select, 
.apparel-width-input, 
.apparel-width-select, 
.finish-apparel-select, 
.apparel-thickness-select, 
.apparel-acm-color-select, 
.apparel-acrylic-color-select, 
.apparel-quantity-input 
 {
  font-size: 12px;
}
.model-apparel-box {
  font-size: 6px;
}
.apparel-company-label {
  font-size: 18px;
  padding: 0;
}
.apparel-finish-img-section {
  display: block;
}
.finish-apparel-select {
  font-size: 7px;
}
.apparel-warn {
  font-size: 0.6rem;
  padding-top: 10%;
  margin: 0;
  text-align: center;
}
.emailphone-apparel-label {
  font-size: 24px;
  padding: 0;
}
.apparel-company-name-input {
  margin: 10px;
  padding-left: 0;
  display: block;
}
.company-apparel-input {
  padding-left: 0px;
}
.emailphone-apparel-input, 
.address-apparel-input-container, 
.size-apparel-section {
  margin: 0px;
  display: block;
}
.address-apparel-inputing, 
.city-apparel-input, 
.phone-apparel {
  padding-left: 0px;
}

.address-apparel-label, 
.type-apparel-label,
.size-apparel-label {
  font-size: 30px;
  padding: 0;
}
.size-driver-apparel-note, .size-passenger-apparel-note {
  font-size: 26px;
}
.driver-length-section, 
.driver-width-section, 
.passenger-length-section, 
.passenger-side-width, 
.length-door-apparel-section, 
.width-door-apparel-section {
  display: block;
}
.size-apparel-label {
  font-size: 20px;
}
.submit-size {
  margin-left: 0;
  font-size: 15px;
  text-align: center;
}
.choose-logo-contain {
  display: block;
  text-align: center;
}
.file-apparel-label, .remove-apparel-file-button {
  font-size: 1rem;
  display: block;
}

.message-apparel-text {
  margin-left: 0;
  text-align: center;
}
.submit-apparel {
  font-size: 20px;
}
.btn-apparel-submit {
  padding: 0;
  margin-top: 10px;
  width: 100%;
}
.photo-mx-apparel-note {
  font-size: 1rem;
}
.message-apparel-note {
  font-size: 0.6rem;
}
  }
  @media screen and (max-width: 320px) and (orientation: landscape) {
    .main-apparel-graphics {
      display: block;
    }
    .page-apparel-banner {
      padding-top: 10px; /* Reduce padding */
    }
    .apparel-description {
      font-size: 1.5rem; /* Reduce font size */
      padding: 0px; /* Add padding to avoid content touching the edges */
      margin: 0;
    }
    
    .apparel-form-info {
      margin: 0;
    }
    .apparel-app-box {
      font-size: 1rem;
    }
    .apparel-fill {
      margin: 10px;
      font-size: 0.6rem;
    }
    .apparel-actual {
      margin: 0;
    }
    .apparel-set {
      display: block;
    }
    .type-apparel-section {
      padding: 0;
    }
    .added-apparels-li {
      list-style: none;
    }
.apparel-type-input {
  font-size: 0.5rem;
}
.added-apparel-list {
  font-size: 1rem;
  
}
.apparel-type-p, 
.apparel-size-p, 
.apparel-side-p,
.apparel-color-p, 
.apparel-quantity-p, 
.apparel-acrylic-color-p,
.apparel-acm-color-p, 
.apparel-thickness-p {
  font-size: 0.9rem;
  margin: auto;
}
.submit-apparels, 
.remove-apparel, 
.submit-apparel,
.new-apparel-logo-button {
  font-size: 1rem;
}
.apparel-message-container {
  margin-top: 10px;
}
.message-apparel-label {
  margin-bottom: 0;
  margin-top: 10px;
  padding: 0;
  
}
.first-name-apparel-input
.emailphone-apparel-input, 
.address-apparel-input-container, 
.size-apparel-section,
.size-door-apparel-section {
  margin: 0;
  display: block;
}
.last-apparel-name {
  padding-left: 0;
}
.firstname-apparel-name-input, 
.lastname-apparel-name-input, 
.company-apparel-name-input, 
.email-apparel-box, .phone-apparel-box, 
.address-apparel-box, 
.city-apparel-box, 
.state-apparel-box,
.zip-apparel-box,
.apparel-size-input, 
.border-apparel-box, 
.apparel-sides-input, 
.apparel-side-select, 
.apparel-length-input, 
.apparel-length-select, 
.apparel-width-input, 
.apparel-width-select, 
.finish-apparel-select, 
.apparel-thickness-select, 
.apparel-acm-color-select, 
.apparel-acrylic-color-select, 
.apparel-quantity-input 
 {
  font-size: 12px;
}
.model-apparel-box {
  font-size: 6px;
}
.apparel-company-label {
  font-size: 18px;
  padding: 0;
}
.apparel-finish-img-section {
  display: block;
}
.finish-apparel-select {
  font-size: 7px;
}
.apparel-warn {
  font-size: 0.6rem;
  padding-top: 10%;
  margin: 0;
  text-align: center;
}
.emailphone-apparel-label {
  font-size: 24px;
  padding: 0;
}
.apparel-company-name-input {
  margin: 10px;
  padding-left: 0;
  display: block;
}
.company-apparel-input {
  padding-left: 0px;
}
.emailphone-apparel-input, 
.address-apparel-input-container, 
.size-apparel-section {
  margin: 0px;
  display: block;
}
.apparel-company-name-input, 
.address-apparel-input, 
.email-apparel-input, 
.apparel-phone-name-input, 
.length-apparel-section, 
.width-apparel-section, 
.place-apparel-section, 
.finish-apparel-section, 
.file-apparel-section, 
.border-apparel-section,
.type-apparel-section {
  margin: 0px;
  display: block;
  padding-left: 0;
}
.address-apparel-inputing, 
.city-apparel-input, 
.phone-apparel {
  padding-left: 0px;
}

.address-apparel-label, 
.type-apparel-label,
.size-apparel-label {
  font-size: 30px;
  padding: 0;
}
.size-driver-apparel-note, .size-passenger-apparel-note {
  font-size: 26px;
}
.driver-length-section, 
.driver-width-section, 
.passenger-length-section, 
.passenger-side-width, 
.length-door-apparel-section, 
.width-door-apparel-section {
  display: block;
}
.size-apparel-label {
  font-size: 20px;
}
.submit-size {
  margin-left: 0;
  font-size: 15px;
  text-align: center;
}
.choose-logo-contain {
  display: block;
  text-align: center;
}
.file-apparel-label, .remove-apparel-file-button {
  font-size: 1rem;
  display: block;
}

.btn-apparel-submit {
  padding: 0;
  margin-top: 10px;
  width: 100%;
}
.photo-apparel-mx-note {
  font-size: 1rem;
}
.message-apparel-note {
  font-size: 0.6rem;
}
  }
  
