@import url(https://db.onlinewebfonts.com/c/82baa4951eee7df05175ada4cb171e35?family=Moveo+Sans+W00+Bold);
@import url(https://db.onlinewebfonts.com/c/82302682c00aba868f6ae01a375b10ac?family=Moveo+Sans+SemiExt+W00+Bold);
/* ================================
   ================================
   TOP OF THE SIGN PAGE
   ================================
   ================================ */
   .page-sign-banner {
    padding: 80px 0 40px 0;
    position: relative;
    overflow: hidden;
    width: auto;
    padding-top: 300px;
    background-color: #b4feff;
    height: auto;
  }

  .sign-name-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: auto;
    width: auto;
  }

.sign-description {
    color: #000;
    font-family: "Kairos W04 Extended Bold";
    font-size: 110px;
    width: auto;
    height: auto;
    text-align: center;
    padding: 10px; /* Add padding to avoid content touching the edges */
  }
  /* ================================
   ================================
    PHOTO GALLERY
   ================================
   ================================ */
   .photo-sign-gal-sign {
    background-color: #8fafff;
    height: auto;
  }
  .photo-sign-mx-note {
    font-size: 50px;
    text-align: center;
    font-family: "Kairos W04 Extended Bold";
    height: auto;
  }
  .photo-mx-sign-note {
    font-size: 50px;
    text-align: center;
    font-family: "Kairos W04 Extended Bold";
    height: auto;
  }

  /* ================================
   ================================
    ADHESIVE SECTION FORM
   ================================
   ================================ */
   .sign-form-container {
    background-color: #e7e7e7;
    width: auto;
    padding: 0 20px;
    box-sizing: border-box;
    height: auto;
}
   .sign-set {
    padding-top: 10px;
    background-color: #e7e7e7;
    display: flex;
    width: auto;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: auto;
  }

  .page-section {
    padding-bottom: 3.5rem;
    width: auto;
    height: auto;
}
.sign-form-info {
    margin: 10px;
    width: 100%;
    height: auto;
}
  .sign-app-box {
    margin-top: 10px;
    text-align: center;
    color: #0f375a;
    width: auto;
    height: auto;
    font-size: 50px;
  }
.sign-fill {
    margin: 40px;
    text-align: center;
    color: #194fb4;
    font-size: 35px;
    height: auto;
}
.sign-notice,.logo-notice {
    color: #194fb4;
    height: auto;
}
.sign-warn {
    font-size: 30px;
    margin: 5%;
    color: #000;
    height: auto;
}
.logo-warn {
    font-size: 30px;
    margin-top: 0%;
    color: #000;
    height: auto;
}
.sign-actual {
    width: auto;
    margin: 50px;
    height: auto;
}
/* ================================
   Sign Boxed Sections
   ================================ */
   .name-section-sign,
   .company-sign-section,
   .emailphone-sign-section,
   .address-sign-section,
   .type-sign-section,
   .sign-file-section,
   .sign-message-container {
    border-color: #000;
  border-width: 4px;
  background-color: #cccbcb;
  border-style: solid;
  border-radius: 10px;
  margin: 10px;
  width: auto;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column; /* Stack items vertically */
  padding: 20px;
  }
  

  
/* ================================
   Larger Labels for Adhesive Section
   ================================ */
.first-sign-name-label, 
.sign-company-label, 
.emailphone-sign-label,
.address-sign-label,
.type-sign-label,
.message-sign-label,
.place-sign-label,
.finish-sign-label,
.sign-file-label,
.type-sign-label {
  padding: 50px;
  color:#000;
  font-family: "Moveo Sans w00 Bold";
  text-align: center;
  font-size: 80px;
  font-style: inherit;
  height: auto;
}

/* ================================
   Added Item Label Categories
   ================================ */
.added-sign-list {
  font-family: "Moveo Sans w00 Bold";
  font-style: normal;
  margin: 0;
  color: rgb(30, 255, 0);
  text-align: center;
  font-size: 70px;
  height: auto;
  text-shadow: 
    1.3px 1.3px #000,
    -1.3px 1.3px #000,
    1.3px -1.3px #000,
    -1.3px -1.3px #000
    ;
}
.no-added-signs {
  color: #000;
  font-size: 40px;
  height: auto;
  margin: 10px;
  text-align: center;
}
.added-signs-li {
  text-decoration: none;
  list-style: none;
}
.sign-type-p,
.sign-size-p,
.sign-side-p,
.sign-finish-p,
.sign-quantity-p,
.sign-acrylic-color-p,
.sign-acm-color-p,
.sign-thickness-p {
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  margin: 0;
  color: rgb(255, 238, 0);
  text-align: center;
  font-size: 60px;
  height: auto;
  text-shadow:
    1.3px 1.3px #000,
    -1.3px 1.3px #000,
    1.3px -1.3px #000,
    -1.3px -1.3px #000
    ;
}
.added-sign-b-type,
.added-sign-b-size,
.added-sign-b-side,
.added-sign-b-finish,
.added-sign-b-quantity,
.added-sign-b-acm-color,
.added-sign-b-acrylic-color,
.added-sign-b-thickness {
  font-family: "Moveo Sans w00 bold";
  font-style: normal;
  margin: 0;
  color: rgb(79, 255, 196);
}
.sign-length-label, 
.sign-width-label,
.sign-acm-color,
.sign-acrylic-color,
.sign-side-labels {
  font-family: "Moveo Sans w00 Regular";
  font-style: normal;
  margin: 10px;
  margin-bottom: 10px;
  color: rgb(0, 0, 0);
  text-align: center;
  font-size: 30px;
  height: auto;
}
/* ================================
   Grouped input sections
   ================================ */
  .first-sign-sign-input {
    margin: 40px;
    display: flex;
    height: auto;
  }
  .address-sign-input-container, 
  .size-door-sign-section {
    margin: 10px;
    height: auto;
  }

  /* ================================
   Grouped Labels and Input Box Styling
   ================================ */
   .last-sign-name {
    font-family: "Moveo Sans w00 Regular";
    font-style: normal;
    margin: 0;
    padding-left: 10px;
    font-size: 20px;
    height: auto;
  }
  .first-name-sign-input,
  .emailphone-sign-input,
  .sign-company-name-input, 
  .address-sign-input,
  .email-sign-input,
  .sign-phone-name-input,
  .length-sign-section,
  .width-sign-section, 
  .file-sign-section{
    font-family: "Moveo Sans w00 Regular";
    margin: 10px;
    margin-right: 0;
    position: relative;
    padding-left: 15px;
    display: flex;
    height: auto;
  }
  .finish-sign-section {
    display: block;
  }

  .address-sign-inputing, 
  .city-sign-input,
  .phone-sign {
    font-family: "Moveo Sans w00 Regular";
    font-style: normal;
    margin: 0;
    padding-left: 10px;
    font-size: 20px;
    height: auto;
  }
  .state-sign-input,  
  .zip-sign-input{
    font-family: "Moveo Sans w00 Regular";
    margin: 0px;
    margin-right: 0;
    position: relative;
    height: auto;
  }

/* ================================
   Small Label Styling
   ================================ */
 .first-sign-label-name, 
  .last-sign-label-name,
  .company-sign-name,
  .email-sign-name,
  .phone-sign-label,
  .addr-sign-label, 
  .city-sign-label,
  .state-sign-label,
  .zip-sign-label,
  .sign-type-label, 
  .sign-size-label, 
  .sign-sides-labeling,
  .sign-thick-label, 
  .sign-thickness-label,
  .sign-acm-color-label, 
  .sign-coloring-label, 
  .sign-side-label, 
  .finish-sign-label, 
  .sign-quantity-label,
  .sign-logo {
    font-family: "Highway Gothic Narrow";
    font-style: normal;
    margin: 0;
    color:#226daf;
    padding-left: 10px;
    font-size: 70px;
    height: auto;
  }
  

/* ================================
   Input Box Styling
   ================================ */
   .firstname-sign-name-input,
   .lastname-sign-name-input, 
   .company-sign-name-input,
   .email-sign-box,
   .phone-sign-box,
   .address-sign-box, 
   .city-sign-box,
   .state-sign-box,
   .zip-sign-box,
   .sign-type-input, 
   .sign-size-input,
   .border-sign-box,
   .sign-sides-input,
   .sign-side-select,
   .sign-length-input,
   .sign-length-select,
   .sign-width-input,
   .sign-width-select,
   .finish-sign-select,
   .sign-thickness-select,
   .sign-acm-color-select,
   .sign-acrylic-color-select,
   .sign-quantity-input {
     padding: 10px;
     color:#0f375a;
     font-size: 50px;
     margin-bottom: 20px;
     height: auto;
   }
   .length-sign-box, 
   .width-sign-box,
   .length-door-sign-box,
   .width-door-sign-box {
    font-size: 80px;

   }
/* ================================
   sign Image Section
   ================================ */

.place-img-container {
    flex: 1;
    text-align: center; /* Centers the text under each image */
    height: auto;
}

.place-img {
    width: 330px;
    height: auto;
    object-fit: contain; /* Fits the image inside the box without cropping, leaving empty space if necessary */
}

/* ================================
   Year Input Box Note Style
   ================================ */
.year-sign-note {
font-size: 20px;
font-display: flex;
margin: 10px;
font-family: "Kairos W01 Extended Medium";
height: auto;
}
/* ================================
   sign Finishing Image Section
   ================================ */
   .sign-finish-img-section {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Three equal columns */
    gap: 20px; /* Adds space between the columns */
    padding: 10px;
    height: auto;
  }
  
  .matte-img-sign, .gloss-img-sign, .ra-img-sign {
    text-align: center; /* Centers the image and text within each div */
    height: auto;
  }
  
  .matte-img, .gloss-img, .ORAFOL-img {
    max-width: 100%; /* Ensures the images do not exceed their container's width */
    height: auto; /* Maintains the image's aspect ratio */
  }
  

  /* ================================
   sign Message Styling
   ================================ */
  .message-sign-note {
    font-style: normal;
    text-align: center;
    text-emphasis: none;
    margin: 0px;
    font-size: 20px;
    font-family: "Moveo Sans W00 Regular";
    padding-top: 30px;
    height: auto;
  }
  
  .message-sign-text {
    font-style: normal;
    text-align: left;
    text-emphasis: none;
    font-size: 20px;
    font-family: "Moveo Sans W00 Regular";
    width: 100%;
    height: 300px;
  }
  .choose-logo-contain {
    display: flex;
    align-items: center;
    height: auto;
}
.file-sign-label, .remove-sign-file-button {
    display: flex;
    background-color: #0f375a;
    color: #fff;
    padding: 10px 20px;
    font-size: 2rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    height: auto;
}
.file-sign-label input[type=file] {
    display: none;
}
.submit-signs
 {
  width: 100%;
  font-size: 40px;
  height: auto;
}

  .submit-signs, .remove-sign, .submit-sign, .new-sign-logo-button {
    background-color: #0f375a;
    position: relative;
    font-size: 30px;
    text-align: center;
    color: #fff;
    margin: 5 auto;
    display: block;
    width: 100%;
    color: #fff;
    height: auto;
  }
  .submit-sign {
    width: 100%;
    font-size: 40px;
    height: auto;
  }
  .driver-submit-size, .passenger-submit-size, .driver-remove-submit-size,
  .passenger-remove-submit-size,
  .door-remove-length-submit-size,
  .door-length-submit-size {
    background-color: #0f375a;
    position: relative;
    font-size: 30px;
    text-align: center;
    color: #fff;
    margin: 5 auto;
    display: block;
    width: 100%;
    color: #fff;
    height: auto;
   }
  .submit-size:hover, 
  .submit-finishing:hover,
  .submit-sign:hover,
  .file-sign-label:hover,
  .remove-finishing:hover,
  .remove-sign-file-button:hover,
  .new-sign-logo-button:hover {
    background-color: #226daf;
  }
  .btn-submit, .btn-sign-submit {
    text-decoration: none;
      padding: 20px;
      border-radius: 9px;
      border: none;
      cursor: pointer;
      font-family: "Kairos W01 Extended Medium";
      transition: all .3s;
      margin-top: 1rem;
      height: auto;
  }
  .btn-sign-submit {
    padding: 0;
    height: auto;
  }
  /* ================================
   Message Styling
   ================================ */
.error-message {
  color: red;
    font-size: 20px;
    text-align: center;
    align-items: center;
    font-family: "Kairos W04 Extended Bold";
    margin-bottom: 10px;
    height: auto;
}

.submission-error-message {
  color: red;
  font-family: "Kairos W04 Extended Bold";
  font-size: large;
  font-style: bold;
  text-align: center;
  margin-bottom: 30px;
  width: 100%;
  height: auto;
}
.submission-message {
  color: rgb(38, 173, 38);
  font-family: "Kairos W04 Extended Bold";
  font-size: large;
  font-style: bold;
  text-align: center;
  margin-bottom: 30px;
  width: 100%;
  height: auto;
}
@media screen and (min-width: 1200px) and (max-width: 1800px) and (orientation: landscape) {
  .first-name-sign-input, 
  .emailphone-sign-input, 
  .sign-company-name-input, 
  .address-sign-input, 
  .email-sign-input, 
  .sign-phone-name-input, 
  .length-sign-section, 
  .width-sign-section, 
  .file-sign-section {
    display: block;
  }
}
@media screen and (max-width: 1200px) and (orientation: landscape) {
  .first-sign-name-label
  {
  font-size: 3.5rem;
  }
  .sign-description {
  font-size: 4rem;
}
.photo-sign-mx-note {
  font-size: 2.2rem;
}
.name-section-sign,
 .company-sign-section,
 .emailphone-sign-section,
 .address-sign-section,
 .vehicle-type-sign-section,
 .vehicle-size-sign-section,
 .door-size-sign-section,
 .finishing-sign-section,
 .sign-file-section,
 .sign-message-container {
  display: block;
  padding: 0;
  margin-top: 10px;
 }
.sign-company-label, 
.emailphone-sign-label,
.address-sign-label,
.size-sign-label,
.message-sign-label,
.place-sign-label,
.finish-sign-label,
.sign-file-label,
.type-sign-label {
font-size: 3rem;
padding: 0;
}
.first-name-sign-input, 
.emailphone-sign-input, 
.sign-company-name-input, 
.address-sign-input, 
.email-sign-input, 
.sign-phone-name-input, 
.length-sign-section, 
.width-sign-section, 
.file-sign-section {
display: block;
}
.first-sign-label-name, 
.last-sign-label-name, 
.company-sign-name, 
.email-sign-name, 
.phone-sign-label, 
.addr-sign-label, 
.city-sign-label, 
.state-sign-label, 
.zip-sign-label, 
.sign-type-label, 
.sign-size-label, 
.sign-sides-labeling, 
.sign-thick-label, 
.sign-thickness-label, 
.sign-acm-color-label, 
.sign-coloring-label, 
.sign-side-label, 
.finish-sign-label, 
.sign-quantity-label, 
.sign-logo {
font-size: 2rem;
}
.firstname-sign-name-input, 
.lastname-sign-name-input, 
.company-sign-name-input, 
.email-sign-box, 
.phone-sign-box, 
.address-sign-box, 
.city-sign-box, 
.state-sign-box, 
.zip-sign-box, 
.sign-type-input, 
.sign-size-input, 
.border-sign-box,
.sign-sides-input, 
.sign-side-select, 
.sign-length-input, 
.sign-length-select, 
.sign-width-input, 
.sign-width-select, 
.finish-sign-select,
.sign-thickness-select, 
.sign-acm-color-select, 
.sign-acrylic-color-select, 
.sign-quantity-input {
font-size: 1.1rem;
}
.first-name-sign-input, 
.emailphone-sign-input, 
.sign-company-name-input, 
.address-sign-input, 
.email-sign-input, 
.sign-phone-name-input, 
.length-sign-section, 
.width-sign-section, 
.file-sign-section {
padding-left: 0;
}

.sign-form-info {
margin: 0;
}
.sign-app-box {
font-size: 40px;
}
.sign-fill {
margin: 10px;
      font-size: 22px;
}
.sign-set {
display: block;
}
.sign-actual {
margin: 0;
}
.sign-type-p, 
.sign-size-p, 
.sign-side-p,
.sign-finish-p, 
.sign-quantity-p, 
.sign-acrylic-color-p,
.sign-acm-color-p, 
.sign-thickness-p {
font-size: 2.2rem;
margin: 1.7rem;
}
.page-sign-banner {
padding-top: 130px; /* Reduce padding */
}
}
  @media screen and (max-width: 1200px) and (orientation: portrait) {
    .first-sign-name-label
    {
    font-size: 3.5rem;
    }
    .sign-description {
    font-size: 2.2rem;
  }
  .photo-sign-mx-note {
    font-size: 2.2rem;
  }
  .name-section-sign,
   .company-sign-section,
   .emailphone-sign-section,
   .address-sign-section,
   .vehicle-type-sign-section,
   .vehicle-size-sign-section,
   .door-size-sign-section,
   .finishing-sign-section,
   .sign-file-section,
   .sign-message-container {
    display: block;
    padding: 0;
    margin-top: 10px;
   }
.sign-company-label, 
.emailphone-sign-label,
.address-sign-label,
.size-sign-label,
.message-sign-label,
.place-sign-label,
.finish-sign-label,
.sign-file-label,
.type-sign-label {
  font-size: 1.8rem;
  padding: 0;
}
.first-name-sign-input, 
.emailphone-sign-input, 
.sign-company-name-input, 
.address-sign-input, 
.email-sign-input, 
.sign-phone-name-input, 
.length-sign-section, 
.width-sign-section, 
.file-sign-section {
  display: block;
}
.first-sign-label-name, 
.last-sign-label-name, 
.company-sign-name, 
.email-sign-name, 
.phone-sign-label, 
.addr-sign-label, 
.city-sign-label, 
.state-sign-label, 
.zip-sign-label, 
.sign-type-label, 
.sign-size-label, 
.sign-sides-labeling, 
.sign-thick-label, 
.sign-thickness-label, 
.sign-acm-color-label, 
.sign-coloring-label, 
.sign-side-label, 
.finish-sign-label, 
.sign-quantity-label, 
.sign-logo {
  font-size: 2rem;
}
.firstname-sign-name-input, 
.lastname-sign-name-input, 
.company-sign-name-input, 
.email-sign-box, 
.phone-sign-box, 
.address-sign-box, 
.city-sign-box, 
.state-sign-box, 
.zip-sign-box, 
.sign-type-input, 
.sign-size-input, 
.border-sign-box,
.sign-sides-input, 
.sign-side-select, 
.sign-length-input, 
.sign-length-select, 
.sign-width-input, 
.sign-width-select, 
.finish-sign-select,
.sign-thickness-select, 
.sign-acm-color-select, 
.sign-acrylic-color-select, 
.sign-quantity-input {
  font-size: 1.1rem;
}
.first-name-sign-input, 
.emailphone-sign-input, 
.sign-company-name-input, 
.address-sign-input, 
.email-sign-input, 
.sign-phone-name-input, 
.length-sign-section, 
.width-sign-section, 
.file-sign-section {
  padding-left: 0;
}
.sign-type-input,
.finish-sign-select {
  font-size: 12px;
}
.sign-form-info {
  margin: 0;
}
.sign-app-box {
  font-size: 40px;
}
.sign-fill {
  margin: 10px;
        font-size: 22px;
}
.sign-set {
  display: block;
}
.sign-actual {
  margin: 0;
}
.sign-type-p, 
.sign-size-p, 
.sign-side-p,
.sign-finish-p, 
.sign-quantity-p, 
.sign-acrylic-color-p,
.sign-acm-color-p, 
.sign-thickness-p {
  font-size: 2.2rem;
  margin: 1.7rem;
}
.page-sign-banner {
  padding-top: 130px; /* Reduce padding */
}
}
  @media screen and (max-width: 320px) and (orientation: portrait) {
    .main-sign-graphics {
      display: block;
    }
    .page-sign-banner {
      padding-top: 130px; /* Reduce padding */
    }
    .sign-description {
      font-size: 1.5rem; /* Reduce font size */
      padding: 0px; /* Add padding to avoid content touching the edges */
    }
    
    .sign-form-info {
      margin: 0;
    }
    .sign-app-box {
      font-size: 37px;
    }
    .sign-fill {
      margin: 10px;
      font-size: 18px;
    }
    .sign-actual {
      margin: 0;
    }
    .sign-set {
      display: block;
    }
    .type-sign-section {
      padding: 0;
    }
    .name-section-sign,
   .company-sign-section,
   .emailphone-sign-section,
   .address-sign-section,
   .vehicle-type-sign-section,
   .vehicle-size-sign-section,
   .door-size-sign-section,
   .finishing-sign-section,
   .sign-file-section,
   .sign-message-container {
    display: block;
    padding: 0;
    margin: 0;
    margin-top: 10px;
   }
    .first-sign-name-label, 
.sign-company-label, 
.emailphone-sign-label,
.address-sign-label,
.size-sign-label,
.message-sign-label,
.place-sign-label,
.finish-sign-label,
.sign-file-label,
.type-sign-label {
  font-size: 33px;
}
.first-name-sign-input, 
.emailphone-sign-input, 
.sign-company-name-input, 
.address-sign-input, 
.email-sign-input, 
.sign-phone-name-input, 
.length-sign-section, 
.length-door-sign-section, 
.width-sign-section, 
.place-sign-section, 
.finish-sign-section, 
.file-sign-section, 
.border-sign-section, 
.type-sign-section {
  display: block;
  padding-left: 0;
}
.first-sign-label-name, 
.last-sign-label-name, 
.company-sign-name, 
.email-sign-name, 
.phone-sign-label, 
.addr-sign-label, 
.city-sign-label, 
.state-sign-label, 
.zip-sign-label, 
.sign-type-label, 
.sign-size-label, 
.sign-sides-labeling, 
.sign-thick-label, 
.sign-acm-color-label, 
.sign-coloring-label, 
.sign-side-label, 
.finish-sign-label, 
.sign-quantity-label, 
.sign-logo {
  font-size: 25px;
}
.sign-type-input {
  font-size: 0.5rem;
}
.added-sign-list {
  font-size: 3rem;
}
.sign-type-p, 
.sign-size-p, 
.sign-side-p,
.sign-finish-p, 
.sign-quantity-p, 
.sign-acrylic-color-p,
.sign-acm-color-p, 
.sign-thickness-p {
  font-size: 2.2rem;
  margin: 1.7rem;
}
.submit-signs, 
.remove-sign, 
.submit-sign,
.new-sign-logo-button {
  font-size: 1rem;
}
.sign-length-label, 
.sign-width-label, 
.sign-thickness-label, 
.sign-acm-color, 
.sign-acrylic-color, 
.sign-side-labels {
  font-size: 0.8rem;
}
.sign-message-container {
  margin-top: 10px;
}
.message-sign-label {
  margin-bottom: 0;
  margin-top: 10px;
  padding: 0;
  
}
.sign-file-label {
padding: 0;
font-size: 30px;
}
.first-name-sign-input
.emailphone-sign-input, 
.address-sign-input-container, 
.size-sign-section,
.size-door-sign-section {
  margin: 0;
  display: block;
}
.last-sign-name {
  padding-left: 0;
}
.firstname-sign-name-input, 
.lastname-sign-name-input, 
.company-sign-name-input, 
.email-sign-box, .phone-sign-box, 
.address-sign-box, 
.city-sign-box, 
.state-sign-box,
.zip-sign-box,
.sign-size-input, 
.border-sign-box, 
.sign-sides-input, 
.sign-side-select, 
.sign-length-input, 
.sign-length-select, 
.sign-width-input, 
.sign-width-select, 
.finish-sign-select, 
.sign-thickness-select, 
.sign-acm-color-select, 
.sign-acrylic-color-select, 
.sign-quantity-input 
 {
  font-size: 12px;
}
.model-sign-box {
  font-size: 6px;
}
.sign-company-label {
  font-size: 18px;
  padding: 0;
}
.finish-sign-label {
  font-size: 30px;
}
.sign-finish-img-section {
  display: block;
}
.finish-sign-select {
  font-size: 7px;
}
.sign-warn, .logo-warn {
  font-size: 15px;
  padding-top: 10%;
  margin: 0;
  text-align: center;
}
.emailphone-sign-label {
  font-size: 24px;
  padding: 0;
}
.sign-company-name-input {
  margin: 10px;
  padding-left: 0;
  display: block;
}
.company-sign-input {
  padding-left: 0px;
}
.emailphone-sign-input, 
.address-sign-input-container, 
.size-sign-section {
  margin: 0px;
  display: block;
}
.sign-company-name-input, 
.address-sign-input, 
.email-sign-input, 
.sign-phone-name-input, 
.length-sign-section, 
.width-sign-section, 
.place-sign-section, 
.finish-sign-section, 
.file-sign-section, 
.border-sign-section,
.type-sign-section {
  margin: 0px;
  display: block;
  padding-left: 0;
}
.address-sign-inputing, 
.city-sign-input, 
.phone-sign {
  padding-left: 0px;
}

.address-sign-label, 
.type-sign-label,
.size-sign-label {
  font-size: 30px;
  padding: 0;
}
.size-driver-sign-note, .size-passenger-sign-note {
  font-size: 26px;
}
.driver-length-section, 
.driver-width-section, 
.passenger-length-section, 
.passenger-side-width, 
.length-door-sign-section, 
.width-door-sign-section {
  display: block;
}
.vehicle-list, 
.vehicle-driver-size-li, 
.vehicle-passenger-size-li, 
.finishing-item,
.door-list {
  font-size: 22px;
}
.passenger-submit-size, .passenger-remove-submit-size {
  font-size: 15px;
}
.size-sign-label {
  font-size: 20px;
}
.submit-size {
  margin-left: 0;
  font-size: 15px;
  text-align: center;
}
.choose-logo-contain {
  display: block;
  text-align: center;
}
.file-sign-label, .remove-sign-file-button {
  font-size: 1rem;
  display: block;
}

.message-sign-text {
  margin-left: 0;
  text-align: center;
}
.submit-sign {
  font-size: 20px;
}
.submit-vehicle {
  font-size: 10px;
}
.btn-sign-submit {
  padding: 0;
  margin-top: 10px;
  width: 100%;
}
.door-length-submit-size, 
.door-remove-length-submit-size,
.submit-finishing,
.remove-finishing {
  font-size: 12px;
  margin-left: 0;
}
.photo-sign-mx-note {
  font-size: 1.5rem;
}
  }
  @media screen and (max-width: 320px) and (orientation: landscape) {
    .main-sign-graphics {
      display: block;
    }
    .page-sign-banner {
      padding-top: 130px; /* Reduce padding */
    }
    .sign-description {
      font-size: 1.5rem; /* Reduce font size */
      padding: 0px; /* Add padding to avoid content touching the edges */
    }
    
    .sign-form-info {
      margin: 0;
    }
    .sign-app-box {
      font-size: 37px;
    }
    .sign-fill {
      margin: 10px;
      font-size: 18px;
    }
    .sign-actual {
      margin: 0;
    }
    .sign-set {
      display: block;
    }
    .type-sign-section {
      padding: 0;
    }
    .name-section-sign,
   .company-sign-section,
   .emailphone-sign-section,
   .address-sign-section,
   .vehicle-type-sign-section,
   .vehicle-size-sign-section,
   .door-size-sign-section,
   .finishing-sign-section,
   .sign-file-section,
   .sign-message-container {
    display: block;
    padding: 0;
    margin: 0;
    margin-top: 10px;
   }
    .first-sign-name-label, 
.sign-company-label, 
.emailphone-sign-label,
.address-sign-label,
.size-sign-label,
.message-sign-label,
.place-sign-label,
.finish-sign-label,
.sign-file-label,
.type-sign-label {
  font-size: 33px;
}
.first-name-sign-input, 
.emailphone-sign-input, 
.sign-company-name-input, 
.address-sign-input, 
.email-sign-input, 
.sign-phone-name-input, 
.length-sign-section, 
.length-door-sign-section, 
.width-sign-section, 
.place-sign-section, 
.finish-sign-section, 
.file-sign-section, 
.border-sign-section, 
.type-sign-section {
  display: block;
  padding-left: 0;
}
.first-sign-label-name, 
.last-sign-label-name, 
.company-sign-name, 
.email-sign-name, 
.phone-sign-label, 
.addr-sign-label, 
.city-sign-label, 
.state-sign-label, 
.zip-sign-label, 
.sign-type-label, 
.sign-size-label, 
.sign-sides-labeling, 
.sign-thick-label, 
.sign-acm-color-label, 
.sign-coloring-label, 
.sign-side-label, 
.finish-sign-label, 
.sign-quantity-label, 
.sign-logo {
  font-size: 25px;
}
.sign-type-input {
  font-size: 0.5rem;
}
.added-sign-list {
  font-size: 3rem;
}
.sign-type-p, 
.sign-size-p, 
.sign-side-p,
.sign-finish-p, 
.sign-quantity-p, 
.sign-acrylic-color-p,
.sign-acm-color-p, 
.sign-thickness-p {
  font-size: 2.2rem;
  margin: 1.7rem;
}
.submit-signs, 
.remove-sign, 
.submit-sign,
.new-sign-logo-button {
  font-size: 1rem;
}
.sign-length-label, 
.sign-width-label, 
.sign-thickness-label, 
.sign-acm-color, 
.sign-acrylic-color, 
.sign-side-labels {
  font-size: 0.8rem;
}
.sign-message-container {
  margin-top: 10px;
}
.message-sign-label {
  margin-bottom: 0;
  margin-top: 10px;
  padding: 0;
  
}
.sign-file-label {
padding: 0;
font-size: 30px;
}
.first-name-sign-input
.emailphone-sign-input, 
.address-sign-input-container, 
.size-sign-section,
.size-door-sign-section {
  margin: 0;
  display: block;
}
.last-sign-name {
  padding-left: 0;
}
.firstname-sign-name-input, 
.lastname-sign-name-input, 
.company-sign-name-input, 
.email-sign-box, .phone-sign-box, 
.address-sign-box, 
.city-sign-box, 
.state-sign-box,
.zip-sign-box,
.sign-size-input, 
.border-sign-box, 
.sign-sides-input, 
.sign-side-select, 
.sign-length-input, 
.sign-length-select, 
.sign-width-input, 
.sign-width-select, 
.finish-sign-select, 
.sign-thickness-select, 
.sign-acm-color-select, 
.sign-acrylic-color-select, 
.sign-quantity-input 
 {
  font-size: 12px;
}
.model-sign-box {
  font-size: 6px;
}
.sign-company-label {
  font-size: 18px;
  padding: 0;
}
.finish-sign-label {
  font-size: 30px;
}
.sign-finish-img-section {
  display: block;
}
.finish-sign-select {
  font-size: 7px;
}
.sign-warn, .logo-warn {
  font-size: 15px;
  padding-top: 10%;
  margin: 0;
  text-align: center;
}
.emailphone-sign-label {
  font-size: 24px;
  padding: 0;
}
.sign-company-name-input {
  margin: 10px;
  padding-left: 0;
  display: block;
}
.company-sign-input {
  padding-left: 0px;
}
.emailphone-sign-input, 
.address-sign-input-container, 
.size-sign-section {
  margin: 0px;
  display: block;
}
.sign-company-name-input, 
.address-sign-input, 
.email-sign-input, 
.sign-phone-name-input, 
.length-sign-section, 
.width-sign-section, 
.place-sign-section, 
.finish-sign-section, 
.file-sign-section, 
.border-sign-section,
.type-sign-section {
  margin: 0px;
  display: block;
  padding-left: 0;
}
.address-sign-inputing, 
.city-sign-input, 
.phone-sign {
  padding-left: 0px;
}

.address-sign-label, 
.type-sign-label,
.size-sign-label {
  font-size: 30px;
  padding: 0;
}
.size-driver-sign-note, .size-passenger-sign-note {
  font-size: 26px;
}
.driver-length-section, 
.driver-width-section, 
.passenger-length-section, 
.passenger-side-width, 
.length-door-sign-section, 
.width-door-sign-section {
  display: block;
}
.vehicle-list, 
.vehicle-driver-size-li, 
.vehicle-passenger-size-li, 
.finishing-item,
.door-list {
  font-size: 22px;
}
.passenger-submit-size, .passenger-remove-submit-size {
  font-size: 15px;
}
.size-sign-label {
  font-size: 20px;
}
.submit-size {
  margin-left: 0;
  font-size: 15px;
  text-align: center;
}
.choose-logo-contain {
  display: block;
  text-align: center;
}
.file-sign-label, .remove-sign-file-button {
  font-size: 1rem;
  display: block;
}

.message-sign-text {
  margin-left: 0;
  text-align: center;
}
.submit-sign {
  font-size: 20px;
}
.submit-vehicle {
  font-size: 10px;
}
.btn-sign-submit {
  padding: 0;
  margin-top: 10px;
  width: 100%;
}
.door-length-submit-size, 
.door-remove-length-submit-size,
.submit-finishing,
.remove-finishing {
  font-size: 12px;
  margin-left: 0;
}
.photo-sign-mx-note {
  font-size: 1.5rem;
}
  }
  
