@import url(https://db.onlinewebfonts.com/c/82baa4951eee7df05175ada4cb171e35?family=Moveo+Sans+W00+Bold);
@import url(https://db.onlinewebfonts.com/c/82302682c00aba868f6ae01a375b10ac?family=Moveo+Sans+SemiExt+W00+Bold);
/* ================================
   ================================
   TOP OF THE web PAGE
   ================================
   ================================ */
  /* Form Container */
.web-form-container {
  background-color: #ffffff;
  padding: 20px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  margin: 20px auto;
  max-width: 900px;
}
.website-img-container {
  text-align: center;
}
.photo-web-mx-note {
  font-size: 3rem;
  text-align: center;
  font-family: "Moveo Sans w00 Bold";
}

.web-description {
  font-size: 4rem;
  color: #000000;
  text-align: center;
  font-family: "Moveo Sans w00 Bold";
  margin-bottom: 30px;
}
/* Section Headers */
.web-app-box {
  font-size: 32px;
  color: #0f375a;
  text-align: center;
  margin-bottom: 10px;
}

.web-fill {
  font-size: 20px;
  color: #194fb4;
  text-align: center;
  margin-bottom: 30px;
}

/* Input Fields */
input[type="text"], input[type="number"], select, textarea {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

/* Label Styling */

/* Buttons */
.submit-webs, .remove-web, .file-web-label,
.remove-web-file-button {
  background-color: #0f375a;
  color: #ffffff;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px 20px;
  text-align: center;
  font-size: 18px;
  cursor: pointer;
  width: 100%;
  border-radius: 5px;
}
.submit-web {
  display: flex;
  font-size: 1rem;
  justify-content: center;
}
.submit-s:hover, .remove-web:hover {
  background-color: #226daf;
}
.web-warn {
  font-size: 15px;
  margin: 0;
  text-align: center;
}
.web-notice {
  color: #194fb4;
}
/* Error and Success Messages */
.message-web-note, .web-domain-name-text {
  font-size: 1rem
}
.message-web-text {
  font-size: 1rem;
  height: 20rem;
  font-family: Arial, Helvetica, sans-serif;
}
.submission-message {
  color: green;
  font-size: 18px;
  text-align: center;
  margin-top: 20px;
}

/* Input Group Styling */
.name-section-web,
.company-web-section,
.emailphone-web-section,
.address-web-section,
.web-domain,
.web-message-container,
.vehicle-type-web-section,
.vehicle-size-web-section,
.web-size-section,
.web-stand-section,
.finishing-web-section {
  background-color: #f1f1f1;
  padding: 20px;
  border-radius: 5px;
  margin-bottom: 20px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.518);
}

.web-file-label, .remove-web-file-button {
  border: none;
  margin-top: 10px;
  display: inline-block;
}

.file-web-label input[type=file] {
  display: none;
}
.photo-web-mx-note {
  font-size: 3rem;
  text-align: center;
  font-family: "Moveo Sans w00 Bold";
}
.web-finish-img-section {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Three equal columns */
  gap: 20px; /* Adds space between the columns */
  padding: 10px;
  height: auto;
}
.submit-vehicle, .driver-submit-,
.driver-remove-submit-size,
.driver-submit-size,
.passenger-submit-size, .passenger-remove-submit-size,
.door-length-submit-size,
.door-remove-length-submit-size,
.remove-finishing,
.submit-finishing, 
.submit-web{
  background-color: #0f375a;
    color: #fff;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    text-align: center;
    font-size: 1rem;
    cursor: pointer;
}
.photo-web-mx-note {
  font-size: 3rem;
  text-align: center;
  font-family: "Moveo Sans w00 Bold";
}
.web-img-container {
  display: grid;
  justify-content: space-between;
  align-items: center;
  grid-template-columns: 2fr 2fr 2fr;
  height: auto;
}
.web-text-container {
  text-align: center;
}
.place-web-section {
  margin: 20px;
}
.submit-web-place, .remove-tint,
.submit-web-size {
  background-color: #0f375a;
  color: #fff;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  text-align: center;
  font-size: 1rem;
  cursor: pointer;
}
.tint-item,.size-item {
  list-style: none;
    padding: 0;
    font-size: 1.52rem;
    text-align: center;
    font-weight: bold;
    margin: 0;
}
.place-img {
  width: 100%;
  height: auto;
}
@media screen and (min-width: 1200px) and (max-width: 1800px) and (orientation: landscape) {
  .first-name-web-input, 
  .emailphone-web-input, 
  .web-company-name-input, 
  .address-web-input, 
  .email-web-input, 
  .web-phone-name-input, 
  .length-web-section, 
  .width-web-section, 
  .file-web-section {
    display: block;
  }
}
@media screen and (max-width: 1200px) and (orientation: landscape) {
  .web-description {
  font-size: 4rem;
}
.photo-web-mx-note {
  font-size: 2.2rem;
}
.name-section-web,
 .company-web-section,
 .emailphone-web-section,
 .address-web-section,
 .vehicle-type-web-section,
 .vehicle-size-web-section,
 .door-size-web-section,
 .finishing-web-section,
 .web-file-section,
 .web-message-container {
  display: block;
  margin-top: 10px;
 }
.first-name-web-input, 
.emailphone-web-input, 
.web-company-name-input, 
.address-web-input, 
.email-web-input, 
.web-phone-name-input, 
.length-web-section, 
.width-web-section, 
.file-web-section {
display: block;
}
.first-name-web-input, 
.emailphone-web-input, 
.web-company-name-input, 
.address-web-input, 
.email-web-input, 
.web-phone-name-input, 
.length-web-section, 
.width-web-section, 
.file-web-section {
padding-left: 0;
}

.web-form-info {
margin: 0;
}
.web-app-box {
font-size: 1.9rem;
}
.web-fill {
margin: 10px;
      font-size: 1rem;
}
.web-set {
display: block;
}
.web-actual {
margin: 0;
}
.added-web-list {
  font-size: 1.6rem;
}
.added-webs-li {
  list-style: none;
}
.web-type-p,  
.web-size-p, 
.web-side-p,
.web-finish-p, 
.web-quantity-p, 
.web-acrylic-color-p,
.web-acm-color-p, 
.web-thickness-p {
font-size: 1.2rem;

}
.web-img-contain {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  flex: 1;
}
.page-web-banner {
padding-top: 30px; /* Reduce padding */
}

.place-img-test {
  font-size: 0.8rem;
}
}
  @media screen and (max-width: 1200px) and (orientation: portrait) {
    .web-description {
    font-size: 2.2rem;
  }
  .photo-web-mx-note {
    font-size: 2rem;
  }
  .name-section-web,
   .company-web-section,
   .emailphone-web-section,
   .address-web-section,
   .vehicle-type-web-section,
   .vehicle-size-web-section,
   .door-size-web-section,
   .finishing-web-section,
   .web-file-section,
   .web-message-container {
    display: block;
    margin-top: 10px;
   }
.first-name-web-input, 
.emailphone-web-input, 
.web-company-name-input, 
.address-web-input, 
.email-web-input, 
.web-phone-name-input, 
.length-web-section, 
.width-web-section, 
.file-web-section {
  display: block;
}

.firstname-web-name-input, 
.lastname-web-name-input, 
.company-web-name-input, 
.email-web-box, 
.phone-web-box, 
.address-web-box, 
.city-web-box, 
.state-web-box, 
.zip-web-box, 
.web-type-input, 
.web-size-input, 
.border-web-box,
.web-sides-input, 
.web-side-select, 
.web-length-input, 
.web-length-select, 
.web-width-input, 
.web-width-select, 
.finish-web-select,
.web-thickness-select, 
.web-acm-color-select, 
.web-acrylic-color-select, 
.web-quantity-input {
  font-size: 1.1rem;
}
.first-name-web-input, 
.emailphone-web-input, 
.web-company-name-input, 
.address-web-input, 
.email-web-input, 
.web-phone-name-input, 
.length-web-section, 
.width-web-section, 
.file-web-section {
  padding-left: 0;
}
.web-type-input,
.finish-web-select {
  font-size: 12px;
}
.web-form-info {
  margin: 0;
}
.web-app-box {
  font-size: 1.5rem;
}
.web-fill {
  margin: 10px;
        font-size:1rem;
}
.web-set {
  display: block;
}
.web-warn {
  font-size: 0.8rem;
}
.web-actual {
  margin: 0;
}
.added-web-list {
  font-size: 1.2rem;
}
.web-type-p, 
.web-size-p, 
.web-side-p,
.web-finish-p, 
.web-quantity-p, 
.web-acrylic-color-p,
.web-acm-color-p, 
.web-thickness-p {
  font-size: 1.1rem;
}
.page-web-banner {
  padding-top: 20px; /* Reduce padding */
}
.message-web-note {
  font-size: 0.8rem;
  text-align: center;
}
.web-finish-img-section {
  display: block;
}
.web-design-img{
  width: 100%;
}
}
  @media screen and (max-width: 320px) and (orientation: portrait) {
    .main-web-graphics {
      display: block;
    }
    .page-web-banner {
      padding-top: 10px; /* Reduce padding */
    }
    .web-description {
      font-size: 1.5rem; /* Reduce font size */
      padding: 0px; /* Add padding to avoid content touching the edges */
      margin: 0;
    }
    
    .web-form-info {
      margin: 0;
    }
    .web-app-box {
      font-size: 1rem;
    }
    .web-fill {
      margin: 10px;
      font-size: 0.6rem;
    }
    .web-actual {
      margin: 0;
    }
    .web-set {
      display: block;
    }
    .type-web-section {
      padding: 0;
    }
    .added-webs-li {
      list-style: none;
    }
.web-type-input {
  font-size: 0.5rem;
}
.added-web-list {
  font-size: 1rem;
  
}
.web-type-p, 
.web-size-p, 
.web-side-p,
.web-finish-p, 
.web-quantity-p, 
.web-acrylic-color-p,
.web-acm-color-p, 
.web-thickness-p {
  font-size: 0.7rem;
  margin: auto;
}
.submit-webs, 
.remove-web, 
.submit-web,
.new-web-logo-button {
  font-size: 1rem;
}
.web-message-container {
  margin-top: 10px;
}
.message-web-label {
  margin-bottom: 0;
  margin-top: 10px;
  padding: 0;
  
}
.first-name-web-input
.emailphone-web-input, 
.address-web-input-container, 
.size-web-section,
.size-door-web-section {
  margin: 0;
  display: block;
}
.last-web-name {
  padding-left: 0;
}
.firstname-web-name-input, 
.lastname-web-name-input, 
.company-web-name-input, 
.email-web-box, .phone-web-box, 
.address-web-box, 
.city-web-box, 
.state-web-box,
.zip-web-box,
.web-size-input, 
.border-web-box, 
.web-sides-input, 
.web-side-select, 
.web-length-input, 
.web-length-select, 
.web-width-input, 
.web-width-select, 
.finish-web-select, 
.web-thickness-select, 
.web-acm-color-select, 
.web-acrylic-color-select, 
.web-quantity-input 
 {
  font-size: 12px;
}
.model-web-box {
  font-size: 6px;
}
.web-company-label {
  font-size: 18px;
  padding: 0;
}
.web-finish-img-section {
  display: block;
}
.finish-web-select {
  font-size: 7px;
}
.web-warn {
  font-size: 0.6rem;
  padding-top: 10%;
  margin: 0;
  text-align: center;
}
.emailphone-web-label {
  font-size: 24px;
  padding: 0;
}
.web-company-name-input {
  margin: 10px;
  padding-left: 0;
  display: block;
}
.company-web-input {
  padding-left: 0px;
}
.emailphone-web-input, 
.address-web-input-container, 
.size-web-section {
  margin: 0px;
  display: block;
}
.web-company-name-input, 
.address-web-input, 
.email-web-input, 
.web-phone-name-input, 
.length-web-section, 
.width-web-section, 
.place-web-section, 
.finish-web-section, 
.file-web-section, 
.border-web-section,
.type-web-section {
  margin: 0px;
  display: block;
  padding-left: 0;
}
.address-web-inputing, 
.city-web-input, 
.phone-web {
  padding-left: 0px;
}

.address-web-label, 
.type-web-label,
.size-web-label {
  font-size: 30px;
  padding: 0;
}
.size-driver-web-note, .size-passenger-web-note {
  font-size: 26px;
}
.driver-length-section, 
.driver-width-section, 
.passenger-length-section, 
.passenger-side-width, 
.length-door-web-section, 
.width-door-web-section {
  display: block;
}
.size-web-label {
  font-size: 20px;
}
.submit-size {
  margin-left: 0;
  font-size: 15px;
  text-align: center;
}
.choose-logo-contain {
  display: block;
  text-align: center;
}
.file-web-label, .remove-web-file-button {
  font-size: 1rem;
  display: block;
}

.message-web-text {
  margin-left: 0;
  text-align: center;
}
.submit-web {
  font-size: 20px;
}
.btn-web-submit {
  padding: 0;
  margin-top: 10px;
  width: 100%;
}
.photo-web-mx-note {
  font-size: 1rem;
}
.message-web-note, .message-web-note, .web-domain-name-text {
  font-size: 0.6rem;
}
.web-img-container {
  display: block;
}
.web-design-img{
  width: 100%;
}
  }
  @media screen and (max-width: 320px) and (orientation: landscape) {
    .main-web-graphics {
      display: block;
    }
    .page-web-banner {
      padding-top: 10px; /* Reduce padding */
    }
    .web-description {
      font-size: 1.5rem; /* Reduce font size */
      padding: 0px; /* Add padding to avoid content touching the edges */
      margin: 0;
    }
    
    .web-form-info {
      margin: 0;
    }
    .web-app-box {
      font-size: 1rem;
    }
    .web-fill {
      margin: 10px;
      font-size: 0.6rem;
    }
    .web-actual {
      margin: 0;
    }
    .web-set {
      display: block;
    }
    .type-web-section {
      padding: 0;
    }
    .added-webs-li {
      list-style: none;
    }
.web-type-input {
  font-size: 0.5rem;
}
.added-web-list {
  font-size: 1rem;
  
}
.web-type-p, 
.web-size-p, 
.web-side-p,
.web-finish-p, 
.web-quantity-p, 
.web-acrylic-color-p,
.web-acm-color-p, 
.web-thickness-p {
  font-size: 0.7rem;
  margin: auto;
}
.submit-webs, 
.remove-web, 
.submit-web,
.new-web-logo-button {
  font-size: 1rem;
}
.web-message-container {
  margin-top: 10px;
}
.message-web-label {
  margin-bottom: 0;
  margin-top: 10px;
  padding: 0;
  
}
.first-name-web-input
.emailphone-web-input, 
.address-web-input-container, 
.size-web-section,
.size-door-web-section {
  margin: 0;
  display: block;
}
.last-web-name {
  padding-left: 0;
}
.firstname-web-name-input, 
.lastname-web-name-input, 
.company-web-name-input, 
.email-web-box, .phone-web-box, 
.address-web-box, 
.city-web-box, 
.state-web-box,
.zip-web-box,
.web-size-input, 
.border-web-box, 
.web-sides-input, 
.web-side-select, 
.web-length-input, 
.web-length-select, 
.web-width-input, 
.web-width-select, 
.finish-web-select, 
.web-thickness-select, 
.web-acm-color-select, 
.web-acrylic-color-select, 
.web-quantity-input 
 {
  font-size: 12px;
}
.model-web-box {
  font-size: 6px;
}
.web-company-label {
  font-size: 18px;
  padding: 0;
}
.web-finish-img-section {
  display: block;
}
.finish-web-select {
  font-size: 7px;
}
.web-warn {
  font-size: 0.6rem;
  padding-top: 10%;
  margin: 0;
  text-align: center;
}
.emailphone-web-label {
  font-size: 24px;
  padding: 0;
}
.web-company-name-input {
  margin: 10px;
  padding-left: 0;
  display: block;
}
.company-web-input {
  padding-left: 0px;
}
.emailphone-web-input, 
.address-web-input-container, 
.size-web-section {
  margin: 0px;
  display: block;
}
.web-company-name-input, 
.address-web-input, 
.email-web-input, 
.web-phone-name-input, 
.length-web-section, 
.width-web-section, 
.place-web-section, 
.finish-web-section, 
.file-web-section, 
.border-web-section,
.type-web-section {
  margin: 0px;
  display: block;
  padding-left: 0;
}
.address-web-inputing, 
.city-web-input, 
.phone-web {
  padding-left: 0px;
}

.address-web-label, 
.type-web-label,
.size-web-label {
  font-size: 30px;
  padding: 0;
}
.size-driver-web-note, .size-passenger-web-note {
  font-size: 26px;
}
.driver-length-section, 
.driver-width-section, 
.passenger-length-section, 
.passenger-side-width, 
.length-door-web-section, 
.width-door-web-section {
  display: block;
}
.size-web-label {
  font-size: 20px;
}
.submit-size {
  margin-left: 0;
  font-size: 15px;
  text-align: center;
}
.choose-logo-contain {
  display: block;
  text-align: center;
}
.file-web-label, .remove-web-file-button {
  font-size: 1rem;
  display: block;
}

.message-web-text {
  margin-left: 0;
  text-align: center;
}
.submit-web {
  font-size: 20px;
}
.btn-web-submit {
  padding: 0;
  margin-top: 10px;
  width: 100%;
}
.photo-web-mx-note {
  font-size: 1rem;
}
.message-web-note, .message-web-note, .web-domain-name-text {
  font-size: 0.6rem;
}
.web-img-container {
  display: block;
}
.web-design-img{
  width: 100%;
}
  }
  
