@import url(https://db.onlinewebfonts.com/c/82baa4951eee7df05175ada4cb171e35?family=Moveo+Sans+W00+Bold);
@import url(https://db.onlinewebfonts.com/c/82302682c00aba868f6ae01a375b10ac?family=Moveo+Sans+SemiExt+W00+Bold);
/* ================================
   ================================
   TOP OF THE window PAGE
   ================================
   ================================ */
   .page-window-container {
    padding: 80px 0 40px 0;
    position: relative;
    overflow: hidden;
    width: auto;
    padding-top: 300px;
    background-color: #b4feff;
    height: auto;
  }

  .window-name-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: auto;
    width: auto;
  }

.window-description {
    color: #000;
    font-family: "Kairos W04 Extended Bold";
    font-size: 110px;
    width: auto;
    height: auto;
    text-align: center;
    padding: 10px; /* Add padding to avoid content touching the edges */
  }
  /* ================================
   ================================
    PHOTO GALLERY
   ================================
   ================================ */
   .photo-window-gal-window {
    background-color: #8fafff;
    height: auto;
  }
  .photo-mx-window-note {
    font-size: 50px;
    text-align: center;
    font-family: "Kairos W04 Extended Bold";
    height: auto;
  }

  /* ================================
   ================================
    ADHESIVE SECTION FORM
   ================================
   ================================ */
   .window-form-container {
    background-color: #e7e7e7;
    width: auto;
    padding: 0 20px;
    box-sizing: border-box;
    height: auto;
}
   .window-set {
    padding-top: 10px;
    background-color: #e7e7e7;
    display: flex;
    width: auto;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: auto;
  }

  .page-section {
    padding-bottom: 3.5rem;
    width: auto;
    height: auto;
}
.window-form-info {
    margin: 10px;
    width: 100%;
    height: auto;
}
  .window-app-box {
    margin-top: 10px;
    text-align: center;
    color: #0f375a;
    width: auto;
    height: auto;
    font-size: 50px;
  }
  .log-re {
    margin: 40px;
    text-align: center;
    font-size: 50px;
    width: auto;
    height: auto;
  }
.window-fill {
    margin: 40px;
    text-align: center;
    color: #194fb4;
    font-size: 35px;
    height: auto;
}
.window-notice,.logo-notice {
    color: #194fb4;
    height: auto;
}
.window-warn {
    font-size: 30px;
    margin: 5%;
    color: #000;
    height: auto;
}
.logo-warn {
    font-size: 30px;
    margin-top: 0%;
    color: #000;
    height: auto;
}
.window-actual {
    width: auto;
    margin: 50px;
    height: auto;
}
/* ================================
   window Boxed Sections
   ================================ */
   .name-section-window,
   .company-window-section,
   .emailphone-window-section,
   .address-window-section,
   .window-type-window-section,
   .window-size-section,
   .window-stand-section,
   .finishing-window-section,
   .window-file-section,
   .window-message-container {
    border-color: #000;
  border-width: 4px;
  background-color: #cccbcb;
  border-style: solid;
  border-radius: 10px;
  margin: 10px;
  width: auto;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column; /* Stack items vertically */
  padding: 20px;
  }
  
  
/* ================================
   Larger Labels for Adhesive Section
   ================================ */
.first-window-name-label, 
.window-company-label, 
.emailphone-window-label,
.address-window-label,
.size-window-label,
.message-window-label,
.place-window-label,
.finish-window-label,
.window-file-label,
.type-window-label {
  padding: 50px;
  color:#000;
  font-family: "Moveo Sans w00 Bold";
  text-align: center;
  font-size: 80px;
  font-style: inherit;
  height: auto;
}

/* ================================
   Added Item Label Categories
   ================================ */
.size-driver-window-note, .size-passenger-window-note {
  font-family: "Moveo Sans w00 bold";
  font-style: normal;
  display: block;
  text-align: center;
  font-size: 70px;
  height: auto;
}

.vehicle-list, .vehicle-driver-size-li, .vehicle-passenger-size-li,
.finishing-item, .door-list {
  font-size: 70px;
  list-style: none;
  color: #000;
  font-family: "Kairos W01 Extended Medium";
}
.size-item, .tint-item {
  text-decoration: none;
  list-style: none;
  font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    margin: 0;
    color: rgb(255, 238, 0);
    text-align: center;
    font-size: 60px;
    height: auto;
    text-shadow: 1.3px 1.3px #000, -1.3px 1.3px #000, 1.3px -1.3px #000, -1.3px -1.3px #000;
}

/* ================================
   Added Items Labels
   ================================ */
.added-vehicle-label {
  font-family: "Moveo Sans w00 Regular";
  font-style: normal;
  margin: 10px;
  padding-left: 10px;
  font-size: 50px;
  height: auto;
}
.no-added-vehicles, .no-added-finishings {
  margin: 50px;
  text-align: center;
  font-size: 40px;
  height: auto;
}
/* ================================
   Grouped input sections
   ================================ */
  .first-window-window-input {
    margin: 40px;
    display: flex;
    height: auto;
  }
  .address-window-input-container, 
  .size-door-window-section {
    margin: 10px;
    height: auto;
  }

  .size-window-section {
    margin-top: 30px;
    display: inline-block;
    height: auto;
  }
  /* ================================
   Grouped Labels and Input Box Styling
   ================================ */
   .last-window-name {
    font-family: "Moveo Sans w00 Regular";
    font-style: normal;
    margin: 0;
    padding-left: 10px;
    font-size: 20px;
    height: auto;
  }
  .first-name-window-input,
  .emailphone-window-input,
  .window-company-name-input, 
  .address-window-input,
  .email-window-input,
  .window-phone-name-input,
  .length-window-section,
  .length-door-window-section,
  .width-window-section,
  .place-window-section, 
  .finish-window-section,
  .file-window-section,
  .border-window-section,
  .type-window-section {
    font-family: "Moveo Sans w00 Regular";
    margin: 10px;
    margin-right: 0;
    position: relative;
    padding-left: 15px;
    display: flex;
    height: auto;
  }
  .finish-window-section {
    display: block;
  }

  .address-window-inputing, 
  .city-window-input,
  .phone-window {
    font-family: "Moveo Sans w00 Regular";
    font-style: normal;
    margin: 0;
    padding-left: 10px;
    font-size: 20px;
    height: auto;
  }
  .state-window-input,  
  .zip-window-input{
    font-family: "Moveo Sans w00 Regular";
    margin: 0px;
    margin-right: 0;
    position: relative;
    height: auto;
  }

/* ================================
   Small Label Styling
   ================================ */
 .first-window-label-name, 
  .last-window-label-name,
  .company-window-name,
  .email-window-name,
  .phone-window-label,
  .addr-window-label, 
  .city-window-label,
  .state-window-label,
  .zip-window-label,
  .length-window-label, 
  .width-window-label,
  .place-label,
  .finish-label,
  .border-label,
  .window-logo,
  .year-window-label,
  .make-window-label,
  .model-window-label,
  .trim-window-label,
  .length-window-label,
  .width-window-label {
    font-family: "Highway Gothic Narrow";
    font-style: normal;
    margin: 0;
    color:#226daf;
    padding-left: 10px;
    font-size: 70px;
    height: auto;
  }
  

/* ================================
   Input Box Styling
   ================================ */
   .firstname-window-name-input,
   .lastname-window-name-input, 
   .company-window-name-input,
   .email-window-box,
   .phone-window-box,
   .address-window-box, 
   .city-window-box,
   .state-window-box,
   .zip-window-box,
   .length-window-box, 
   .width-window-box,
   .border-window-box,
   .width-door-window-box,
   .length-window-select,
   .width-window-select, 
   .place-select,
   .finish-window-select,
   .border-select,
   .make-window-box,
   .model-window-box,
   .trim-window-box {
     padding: 10px;
     color:#0f375a;
     font-size: 50px;
     margin-bottom: 20px;
     height: auto;
   }
   .length-window-box, 
   .width-window-box,
   .length-door-window-box,
   .width-door-window-box {
    font-size: 80px;

   }
   .type-window-box,
   .year-window-box,
   .make-window-box,
   .model-window-box {
    font-size: 40px;
   }
   /* ================================
   Length and Width Display Boxes
   ================================ */
   .driver-length-section, 
   .driver-width-section,
   .passenger-length-section,
   .passenger-side-width,
   .length-door-window-section,
   .width-door-window-section {
    display: grid;
    padding-left: 0;
    margin-top: 0;
    margin: 0;
   }
/* ================================
   window Image Section
   ================================ */

.place-img-container {
    flex: 1;
    text-align: center; /* Centers the text under each image */
    height: auto;
}

.place-img {
    width: 330px;
    height: auto;
    object-fit: contain; /* Fits the image inside the box without cropping, leaving empty space if necessary */
}

/* ================================
   Year Input Box Note Style
   ================================ */
.year-window-note {
font-size: 20px;
font-display: flex;
margin: 10px;
font-family: "Kairos W01 Extended Medium";
height: auto;
}
/* ================================
   window Finishing Image Section
   ================================ */
   .window-finish-img-section {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Three equal columns */
    gap: 20px; /* Adds space between the columns */
    padding: 10px;
    height: auto;
  }
  
  .matte-img-window, .gloss-img-window, .ra-img-window {
    text-align: center; /* Centers the image and text within each div */
    height: auto;
  }
  
  .matte-img, .gloss-img, .ORAFOL-img {
    max-width: 100%; /* Ensures the images do not exceed their container's width */
    height: auto; /* Maintains the image's aspect ratio */
  }
  

  /* ================================
   window Message Styling
   ================================ */
  .message-window-note {
    font-style: normal;
    text-align: center;
    text-emphasis: none;
    margin: 0px;
    font-size: 20px;
    font-family: "Moveo Sans W00 Regular";
    padding-top: 30px;
    height: auto;
  }
  
  .message-window-text {
    font-style: normal;
    text-align: left;
    text-emphasis: none;
    font-size: 20px;
    font-family: "Moveo Sans W00 Regular";
    width: 100%;
    height: 300px;
  }

    
/* ================================
   Submit Button Styling
   ================================ */
   .submit-window-size, .submit-finishing,
   .remove-finishing {
    background-color: #0f375a;
    position: relative;
    font-size: 30px;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 80px;
    color: #fff;
    height: auto;
  }  
  .submit-vehicle {
    background-color: #0f375a;
    color: #fff;
    margin-bottom: 30px;
    height: auto;
  }
  .choose-logo-contain {
    display: flex;
    align-items: center;
    height: auto;
}
.file-window-label, .remove-window-file-button {
    display: flex;
    background-color: #0f375a;
    color: #fff;
    padding: 10px 20px;
    font-size: 2rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    height: auto;
}
.file-window-label input[type=file] {
    display: none;
}
.submit-window, .submit-vehicle {
  width: 100%;
  font-size: 40px;
  height: auto;
}
  .submit-window {
    background-color: #0f375a;
    position: relative;
    font-size: 30px;
    text-align: center;
    color: #fff;
    margin: 5 auto;
    display: block;
    width: 100%;
    color: #fff;
    height: auto;
  }
  .driver-submit-size, .passenger-submit-size, .driver-remove-submit-size,
  .remove-size,
  .remove-tint,
  .door-length-submit-size, .submit-window-place {
    background-color: #0f375a;
    position: relative;
    font-size: 30px;
    text-align: center;
    color: #fff;
    margin: 5 auto;
    display: block;
    width: 100%;
    color: #fff;
    height: auto;
   }
  .submit-size:hover, 
  .submit-finishing:hover,
  .submit-window:hover,
  .file-window-label:hover,
  .remove-finishing:hover,
  .door-length-submit-size:hover,
  .remove-size:hover,
  .remove-tint:hover,
  .submit-window-size:hover,
  .remove-window-file-button:hover,
  .submit-window-place:hover {
    background-color: #226daf;
  }
  .btn-submit, .btn-window-submit {
    text-decoration: none;
      padding: 20px;
      border-radius: 9px;
      border: none;
      cursor: pointer;
      font-family: "Kairos W01 Extended Medium";
      transition: all .3s;
      margin-top: 1rem;
      height: auto;
  }
  .btn-window-submit {
    padding: 0;
    height: auto;
  }
  /* ================================
   Message Styling
   ================================ */
.error-message {
  color: red;
    font-size: 20px;
    text-align: center;
    align-items: center;
    font-family: "Kairos W04 Extended Bold";
    margin-bottom: 10px;
    height: auto;
}

.submission-error-message {
  color: red;
  font-family: "Kairos W04 Extended Bold";
  font-size: large;
  font-style: bold;
  text-align: center;
  margin-bottom: 30px;
  width: 100%;
  height: auto;
}
.submission-message {
  color: rgb(38, 173, 38);
  font-family: "Kairos W04 Extended Bold";
  font-size: large;
  font-style: bold;
  text-align: center;
  margin-bottom: 30px;
  width: 100%;
  height: auto;
}
@media screen and (min-width: 1200px) and (max-width: 1800px) and (orientation: landscape) {
  .main-window-graphics {
    display: block;
  }
  .page-window-container {
    padding-top: 130px; /* Reduce padding */
  }
  .window-description {
    font-size: 55px; /* Reduce font size */
    padding: 10px; /* Add padding to avoid content touching the edges */
  }
  .photo-mx-window-note {
    font-size: 30px; /* Reduce font size */
  }
  .window-form-info {
    margin: 0;
  }
  .window-app-box {
    font-size: 40px;
  }
  .window-fill {
    margin: 10px;
    font-size: 22px;
  }
  .window-actual {
    margin: 0;
  }
  .window-set {
    display: block;
  }
  .name-section-window,
 .company-window-section,
 .emailphone-window-section,
 .address-window-section,
 .vehicle-type-window-section,
 .vehicle-size-window-section,
 .door-size-window-section,
 .finishing-window-section,
 .window-file-section,
 .window-message-container {
  padding: 0;
  margin: 0;
  margin-top: 10px;
 }
  .first-window-name-label, 
.window-company-label, 
.emailphone-window-label,
.address-window-label,
.size-window-label,
.message-window-label,
.place-window-label,
.finish-window-label,
.window-file-label,
.type-window-label {
font-size: 70px;
}
.first-window-label-name, 
.last-window-label-name, 
.company-window-name, 
.email-window-name, 
.phone-window-label, 
.addr-window-label, 
.city-window-label, 
.state-window-label, 
.zip-window-label, 
.length-window-label, 
.width-window-label, 
.place-label, 
.finish-label, 
.border-label, 
.window-logo, 
.year-window-label, 
.make-window-label, 
.model-window-label, 
.trim-window-label {
font-size: 40px;
padding-left: 0;
}
.window-message-container {
margin-top: 10px;
}
.message-window-label {
margin-bottom: 0;
margin-top: 10px;
padding: 0;

}
.window-file-label {
padding: 0;
font-size: 30px;
}
.first-name-window-input
.emailphone-window-input, 
.address-window-input-container, 
.size-window-section,
.size-door-window-section {
margin: 0;
display: block;
}
.last-window-name {
padding-left: 0;
}
.firstname-window-name-input, 
.lastname-window-name-input, 
.company-window-name-input, 
.email-window-box, 
.phone-window-box, 
.address-window-box, 
.city-window-box, 
.state-window-box, 
.zip-window-box, 
.length-window-box, 
.width-window-box, 
.border-window-box, 
.length-window-select, 
.width-window-select, 
.place-select, 
.border-select, 
.type-window-box,
.year-window-box,
.make-window-box,
.length-door-window-box,
.width-door-window-box
{
font-size: 24px;
}
.company-window-input {
font-family: "Moveo Sans w00 Regular";
    margin: 10px;
    margin-right: 0;
    position: relative;
    padding-left: 15px;
    display: flex;
    height: auto;
}
.model-window-box {
font-size: 10px;
}
.window-company-label {
font-size: 50px;
padding: 0;
}
.finish-window-label {
font-size: 30px;
}
.window-finish-img-section {
display: block;
}
.finish-window-select {
font-size: 7px;
}
.window-warn, .logo-warn {
font-size: 15px;
padding-top: 10%;
margin: 0;
text-align: center;
}
.log-re {
font-size: 17px;
padding-top: 10%;
margin: 0;
text-align: center;
}
.emailphone-window-label {
font-size: 50px;
padding: 0;
}
.window-company-name-input {
margin: 10px;
padding-left: 0;
display: block;
}
.window-company-name-input, 
.address-window-input, 
.email-window-input, 
.window-phone-name-input, 
.length-window-section, 
.width-window-section, 
.place-window-section, 
.finish-window-section, 
.file-window-section, 
.border-window-section,
.type-window-section {
margin: 0px;
display: block;
padding-left: 0;
}
.address-window-inputing, 
.city-window-input, 
.phone-window {
padding-left: 0px;
}

.address-window-label, 
.type-window-label,
.size-window-label {
font-size: 50px;
padding: 0;
}
.size-driver-window-note, .size-passenger-window-note {
font-size: 26px;
}
.driver-length-section, 
.driver-width-section, 
.passenger-length-section, 
.passenger-side-width, 
.length-door-window-section, 
.width-door-window-section {
display: block;
}
.vehicle-list, 
.vehicle-driver-size-li, 
.vehicle-passenger-size-li, 
.finishing-item,
.door-list {
font-size: 22px;
}
.passenger-submit-size, .passenger-remove-submit-size {
font-size: 15px;
}
.size-window-label {
font-size: 35px;
}
.submit-size {
margin-left: 0;
font-size: 15px;
text-align: center;
}
.choose-logo-contain {
display: block;
text-align: center;
}
.file-window-label, .remove-window-file-button {
font-size: 1rem;
display: block;
}

.message-window-text {
margin-left: 0;
text-align: center;
}
.submit-window {
margin: 0;
font-size: 20px;
}
.btn-window-submit {
padding: 0;
margin-top: 10px;
width: 100%;
}
.submit-window-size, .remove-size, .submit-window-place, .remove-tint {
font-size: 30px;
margin-left: 0;
}
}
@media screen and (max-width: 1200px) and (orientation: landscape) {
  .main-window-graphics {
    display: block;
  }
  .page-window-container {
    padding-top: 130px; /* Reduce padding */
  }
  .window-description {
    font-size: 43px; /* Reduce font size */
    padding: 10px; /* Add padding to avoid content touching the edges */
  }
  .photo-mx-window-note {
    font-size: 30px; /* Reduce font size */
  }
  .window-form-info {
    margin: 0;
  }
  .window-app-box {
    font-size: 40px;
  }
  .window-fill {
    margin: 10px;
    font-size: 22px;
  }
  .window-actual {
    margin: 0;
  }
  .window-set {
    display: block;
  }
  .name-section-window,
 .company-window-section,
 .emailphone-window-section,
 .address-window-section,
 .vehicle-type-window-section,
 .vehicle-size-window-section,
 .door-size-window-section,
 .finishing-window-section,
 .window-file-section,
 .window-message-container {
  display: block;
  padding: 0;
  margin: 0;
  margin-top: 10px;
 }
  .first-window-name-label, 
.window-company-label, 
.emailphone-window-label,
.address-window-label,
.size-window-label,
.message-window-label,
.place-window-label,
.finish-window-label,
.window-file-label,
.type-window-label {
font-size: 70px;
}
.first-name-window-input, 
.emailphone-window-input, 
.window-company-name-input, 
.address-window-input, 
.email-window-input, 
.window-phone-name-input, 
.length-window-section, 
.length-door-window-section, 
.width-window-section, 
.place-window-section, 
.finish-window-section, 
.file-window-section, 
.border-window-section, 
.type-window-section {
display: block;
padding-left: 0;
}
.first-window-label-name, 
.last-window-label-name, 
.company-window-name, 
.email-window-name, 
.phone-window-label, 
.addr-window-label, 
.city-window-label, 
.state-window-label, 
.zip-window-label, 
.length-window-label, 
.width-window-label, 
.place-label, 
.finish-label, 
.border-label, 
.window-logo, 
.year-window-label, 
.make-window-label, 
.model-window-label, 
.trim-window-label {
font-size: 40px;
padding-left: 0;
}
.window-message-container {
margin-top: 10px;
}
.message-window-label {
margin-bottom: 0;
margin-top: 10px;
padding: 0;

}
.window-file-label {
padding: 0;
font-size: 30px;
}
.first-name-window-input
.emailphone-window-input, 
.address-window-input-container, 
.size-window-section,
.size-door-window-section {
margin: 0;
display: block;
}
.last-window-name {
padding-left: 0;
}
.firstname-window-name-input, 
.lastname-window-name-input, 
.company-window-name-input, 
.email-window-box, 
.phone-window-box, 
.address-window-box, 
.city-window-box, 
.state-window-box, 
.zip-window-box, 
.length-window-box, 
.width-window-box, 
.border-window-box, 
.length-window-select, 
.width-window-select, 
.place-select, 
.finish-window-select, 
.border-select, 
.type-window-box,
.year-window-box,
.make-window-box,
.length-door-window-box,
.width-door-window-box
{
font-size: 24px;
}
.model-window-box {
font-size: 10px;
}
.window-company-label {
font-size: 50px;
padding: 0;
}
.finish-window-label {
font-size: 30px;
}
.window-finish-img-section {
display: block;
}
.finish-window-select {
font-size: 7px;
}
.window-warn, .logo-warn {
font-size: 15px;
padding-top: 10%;
margin: 0;
text-align: center;
}
.log-re {
font-size: 17px;
padding-top: 10%;
margin: 0;
text-align: center;
}
.emailphone-window-label {
font-size: 50px;
padding: 0;
}
.window-company-name-input {
margin: 10px;
padding-left: 0;
display: block;
}
.company-window-input {
padding-left: 0px;
}
.emailphone-window-input, 
.address-window-input-container, 
.size-window-section {
margin: 0px;
}
.window-company-name-input, 
.address-window-input, 
.email-window-input, 
.window-phone-name-input, 
.length-window-section, 
.width-window-section, 
.place-window-section, 
.finish-window-section, 
.file-window-section, 
.border-window-section,
.type-window-section {
margin: 0px;
display: block;
padding-left: 0;
}
.address-window-inputing, 
.city-window-input, 
.phone-window {
padding-left: 0px;
}

.address-window-label, 
.type-window-label,
.size-window-label {
font-size: 50px;
padding: 0;
}
.size-driver-window-note, .size-passenger-window-note {
font-size: 26px;
}
.driver-length-section, 
.driver-width-section, 
.passenger-length-section, 
.passenger-side-width, 
.length-door-window-section, 
.width-door-window-section {
display: block;
}
.vehicle-list, 
.vehicle-driver-size-li, 
.vehicle-passenger-size-li, 
.finishing-item,
.door-list {
font-size: 22px;
}
.passenger-submit-size, .passenger-remove-submit-size {
font-size: 15px;
}
.size-window-label {
font-size: 35px;
}
.submit-size {
margin-left: 0;
font-size: 15px;
text-align: center;
}
.choose-logo-contain {
display: block;
text-align: center;
}
.file-window-label, .remove-window-file-button {
font-size: 1rem;
display: block;
}

.message-window-text {
margin-left: 0;
text-align: center;
}
.submit-window {
margin: 0;
font-size: 20px;
}
.btn-window-submit {
padding: 0;
margin-top: 10px;
width: 100%;
}
.submit-window-size, .remove-size, .submit-window-place, .remove-tint {
font-size: 40px;
margin-left: 0;
}
}
@media screen and (max-width: 1200px) and (orientation: portrait) {
  .main-window-graphics {
    display: block;
  }
  .page-window-container {
    padding-top: 130px; /* Reduce padding */
  }
  .window-description {
    font-size: 43px; /* Reduce font size */
    padding: 10px; /* Add padding to avoid content touching the edges */
  }
  .photo-mx-window-note {
    font-size: 30px; /* Reduce font size */
  }
  .window-form-info {
    margin: 0;
  }
  .window-app-box {
    font-size: 40px;
  }
  .window-fill {
    margin: 10px;
    font-size: 22px;
  }
  .window-actual {
    margin: 0;
  }
  .window-set {
    display: block;
  }
  .name-section-window,
 .company-window-section,
 .emailphone-window-section,
 .address-window-section,
 .vehicle-type-window-section,
 .vehicle-size-window-section,
 .door-size-window-section,
 .finishing-window-section,
 .window-file-section,
 .window-message-container {
  display: block;
  padding: 0;
  margin: 0;
  margin-top: 10px;
 }
  .first-window-name-label, 
.window-company-label, 
.emailphone-window-label,
.address-window-label,
.size-window-label,
.message-window-label,
.place-window-label,
.finish-window-label,
.window-file-label,
.type-window-label {
font-size: 70px;
}
.first-name-window-input, 
.emailphone-window-input, 
.window-company-name-input, 
.address-window-input, 
.email-window-input, 
.window-phone-name-input, 
.length-window-section, 
.length-door-window-section, 
.width-window-section, 
.place-window-section, 
.finish-window-section, 
.file-window-section, 
.border-window-section, 
.type-window-section {
display: block;
padding-left: 0;
}
.first-window-label-name, 
.last-window-label-name, 
.company-window-name, 
.email-window-name, 
.phone-window-label, 
.addr-window-label, 
.city-window-label, 
.state-window-label, 
.zip-window-label, 
.length-window-label, 
.width-window-label, 
.place-label, 
.finish-label, 
.border-label, 
.window-logo, 
.year-window-label, 
.make-window-label, 
.model-window-label, 
.trim-window-label {
font-size: 50px;
padding-left: 0;
}
.window-message-container {
margin-top: 10px;
}
.message-window-label {
margin-bottom: 0;
margin-top: 10px;
padding: 0;

}
.window-file-label {
padding: 0;
font-size: 30px;
}
.first-name-window-input
.emailphone-window-input, 
.address-window-input-container, 
.size-window-section,
.size-door-window-section {
margin: 0;
display: block;
}
.last-window-name {
padding-left: 0;
}
.firstname-window-name-input, 
.lastname-window-name-input, 
.company-window-name-input, 
.email-window-box, 
.phone-window-box, 
.address-window-box, 
.city-window-box, 
.state-window-box, 
.zip-window-box, 
.length-window-box, 
.width-window-box, 
.border-window-box, 
.length-window-select, 
.width-window-select, 
.place-select, 
.finish-window-select, 
.border-select, 
.type-window-box,
.year-window-box,
.make-window-box,
.length-door-window-box,
.width-door-window-box
{
font-size: 50px;
}
.model-window-box {
font-size: 10px;
}
.window-company-label {
font-size: 50px;
padding: 0;
}
.finish-window-label {
font-size: 30px;
}
.window-finish-img-section {
display: block;
}
.finish-window-select {
font-size: 7px;
}
.window-warn, .logo-warn {
font-size: 15px;
padding-top: 10%;
margin: 0;
text-align: center;
}
.log-re {
font-size: 17px;
padding-top: 10%;
margin: 0;
text-align: center;
}
.emailphone-window-label {
font-size: 50px;
padding: 0;
}
.window-company-name-input {
margin: 10px;
padding-left: 0;
display: block;
}
.company-window-input {
padding-left: 0px;
}
.emailphone-window-input, 
.address-window-input-container, 
.size-window-section {
margin: 0px;

}
.window-company-name-input, 
.address-window-input, 
.email-window-input, 
.window-phone-name-input, 
.length-window-section, 
.width-window-section, 
.place-window-section, 
.finish-window-section, 
.file-window-section, 
.border-window-section,
.type-window-section {
margin: 0px;
display: block;
padding-left: 0;
}
.address-window-inputing, 
.city-window-input, 
.phone-window {
padding-left: 0px;
}

.address-window-label, 
.type-window-label,
.size-window-label {
font-size: 50px;
padding: 0;
}
.size-driver-window-note, .size-passenger-window-note {
font-size: 26px;
}
.driver-length-section, 
.driver-width-section, 
.passenger-length-section, 
.passenger-side-width, 
.length-door-window-section, 
.width-door-window-section {
display: block;
}
.vehicle-list, 
.vehicle-driver-size-li, 
.vehicle-passenger-size-li, 
.finishing-item,
.door-list {
font-size: 22px;
}
.passenger-submit-size, .passenger-remove-submit-size {
font-size: 15px;
}
.size-window-label {
font-size: 50px;
}
.submit-size {
margin-left: 0;
font-size: 15px;
text-align: center;
}
.choose-logo-contain {
display: block;
text-align: center;
}
.file-window-label, .remove-window-file-button {
font-size: 1rem;
display: block;
}

.message-window-text {
margin-left: 0;
text-align: center;
}
.submit-window {
margin: 0;
font-size: 40px;
}
.btn-window-submit {
padding: 0;
margin-top: 10px;
width: 100%;
}
.submit-window-size, .remove-size, .submit-window-place, .remove-tint {
font-size: 40px;
margin-left: 0;
}
}
@media screen and (min-width: 360px) and (max-width: 640px) and (orientation: portrait) {
  .main-window-graphics {
    display: block;
  }
  .page-window-container {
    padding-top: 130px; /* Reduce padding */
  }
  .window-description {
    font-size: 43px; /* Reduce font size */
    padding: 10px; /* Add padding to avoid content touching the edges */
  }
  .photo-mx-window-note {
    font-size: 30px; /* Reduce font size */
  }
  .window-form-info {
    margin: 0;
  }
  .window-app-box {
    font-size: 40px;
  }
  .window-fill {
    margin: 10px;
    font-size: 22px;
  }
  .window-actual {
    margin: 0;
  }
  .window-set {
    display: block;
  }
  .name-section-window,
 .company-window-section,
 .emailphone-window-section,
 .address-window-section,
 .vehicle-type-window-section,
 .vehicle-size-window-section,
 .door-size-window-section,
 .finishing-window-section,
 .window-file-section,
 .window-message-container {
  display: block;
  padding: 0;
  margin: 0;
  margin-top: 10px;
 }
  .first-window-name-label, 
.window-company-label, 
.emailphone-window-label,
.address-window-label,
.size-window-label,
.message-window-label,
.place-window-label,
.finish-window-label,
.window-file-label,
.type-window-label {
font-size: 50px;
}
.first-name-window-input, 
.emailphone-window-input, 
.window-company-name-input, 
.address-window-input, 
.email-window-input, 
.window-phone-name-input, 
.length-window-section, 
.length-door-window-section, 
.width-window-section, 
.place-window-section, 
.finish-window-section, 
.file-window-section, 
.border-window-section, 
.type-window-section {
display: block;
padding-left: 0;
}
.first-window-label-name, 
.last-window-label-name, 
.company-window-name, 
.email-window-name, 
.phone-window-label, 
.addr-window-label, 
.city-window-label, 
.state-window-label, 
.zip-window-label, 
.length-window-label, 
.width-window-label, 
.place-label, 
.finish-label, 
.border-label, 
.window-logo, 
.year-window-label, 
.make-window-label, 
.model-window-label, 
.trim-window-label {
font-size: 35px;
padding-left: 0;
}
.window-message-container {
margin-top: 10px;
}
.message-window-label {
margin-bottom: 0;
margin-top: 10px;
padding: 0;

}
.window-file-label {
padding: 0;
font-size: 30px;
}
.first-name-window-input
.emailphone-window-input, 
.address-window-input-container, 
.size-window-section,
.size-door-window-section {
margin: 0;
display: block;
}
.last-window-name {
padding-left: 0;
}
.firstname-window-name-input, 
.lastname-window-name-input, 
.company-window-name-input, 
.email-window-box, 
.phone-window-box, 
.address-window-box, 
.city-window-box, 
.state-window-box, 
.zip-window-box, 
.length-window-box, 
.width-window-box, 
.border-window-box, 
.length-window-select, 
.width-window-select, 
.place-select, 
.finish-window-select, 
.border-select, 
.type-window-box,
.year-window-box,
.make-window-box,
.length-door-window-box,
.width-door-window-box
{
font-size: 18px;
}
.model-window-box {
font-size: 10px;
}
.window-company-label {
font-size: 25px;
padding: 0;
}
.finish-window-label {
font-size: 30px;
}
.window-finish-img-section {
display: block;
}
.finish-window-select {
font-size: 7px;
}
.window-warn, .logo-warn {
font-size: 15px;
padding-top: 10%;
margin: 0;
text-align: center;
}
.log-re {
font-size: 17px;
padding-top: 10%;
margin: 0;
text-align: center;
}
.emailphone-window-label {
font-size: 24px;
padding: 0;
}
.window-company-name-input {
margin: 10px;
padding-left: 0;
display: block;
}
.company-window-input {
padding-left: 0px;
}
.emailphone-window-input, 
.address-window-input-container, 
.size-window-section {
margin: 0px;
display: block;
}
.window-company-name-input, 
.address-window-input, 
.email-window-input, 
.window-phone-name-input, 
.length-window-section, 
.width-window-section, 
.place-window-section, 
.finish-window-section, 
.file-window-section, 
.border-window-section,
.type-window-section {
margin: 0px;
display: block;
padding-left: 0;
}
.address-window-inputing, 
.city-window-input, 
.phone-window {
padding-left: 0px;
}

.address-window-label, 
.type-window-label,
.size-window-label {
font-size: 30px;
padding: 0;
}
.size-driver-window-note, .size-passenger-window-note {
font-size: 26px;
}
.driver-length-section, 
.driver-width-section, 
.passenger-length-section, 
.passenger-side-width, 
.length-door-window-section, 
.width-door-window-section {
display: block;
}
.vehicle-list, 
.vehicle-driver-size-li, 
.vehicle-passenger-size-li, 
.finishing-item,
.door-list {
font-size: 22px;
}
.passenger-submit-size, .passenger-remove-submit-size {
font-size: 15px;
}
.size-window-label {
font-size: 35px;
}
.submit-size {
margin-left: 0;
font-size: 15px;
text-align: center;
}
.choose-logo-contain {
display: block;
text-align: center;
}
.file-window-label, .remove-window-file-button {
font-size: 1rem;
display: block;
}

.message-window-text {
margin-left: 0;
text-align: center;
}
.submit-window {
margin: 0;
font-size: 22px;
}
.btn-window-submit {
padding: 0;
margin-top: 10px;
width: 100%;
}
.submit-window-size, .remove-size, .submit-window-place, .remove-tint {
font-size: 30px;
margin-left: 0;
}
}
  @media screen and (max-width: 320px) and (orientation: portrait) {
    .main-window-graphics {
      display: block;
    }
    .page-window-container {
      padding-top: 130px; /* Reduce padding */
    }
    .window-description {
      font-size: 37px; /* Reduce font size */
      padding: 10px; /* Add padding to avoid content touching the edges */
    }
    .photo-mx-window-note {
      font-size: 25px; /* Reduce font size */
    }
    .window-form-info {
      margin: 0;
    }
    .window-app-box {
      font-size: 37px;
    }
    .window-fill {
      margin: 10px;
      font-size: 18px;
    }
    .window-actual {
      margin: 0;
    }
    .window-set {
      display: block;
    }
    .name-section-window,
   .company-window-section,
   .emailphone-window-section,
   .address-window-section,
   .vehicle-type-window-section,
   .vehicle-size-window-section,
   .door-size-window-section,
   .finishing-window-section,
   .window-file-section,
   .window-message-container {
    display: block;
    padding: 0;
    margin: 0;
    margin-top: 10px;
   }
    .first-window-name-label, 
.window-company-label, 
.emailphone-window-label,
.address-window-label,
.size-window-label,
.message-window-label,
.place-window-label,
.finish-window-label,
.window-file-label,
.type-window-label {
  font-size: 33px;
}
.first-name-window-input, 
.emailphone-window-input, 
.window-company-name-input, 
.address-window-input, 
.email-window-input, 
.window-phone-name-input, 
.length-window-section, 
.length-door-window-section, 
.width-window-section, 
.place-window-section, 
.finish-window-section, 
.file-window-section, 
.border-window-section, 
.type-window-section {
  display: block;
  padding-left: 0;
}
.first-window-label-name, 
.last-window-label-name, 
.company-window-name, 
.email-window-name, 
.phone-window-label, 
.addr-window-label, 
.city-window-label, 
.state-window-label, 
.zip-window-label, 
.length-window-label, 
.width-window-label, 
.place-label, 
.finish-label, 
.border-label, 
.window-logo, 
.year-window-label, 
.make-window-label, 
.model-window-label, 
.trim-window-label {
  font-size: 25px;
}
.window-message-container {
  margin-top: 10px;
}
.message-window-label {
  margin-bottom: 0;
  margin-top: 10px;
  padding: 0;
  
}
.window-file-label {
padding: 0;
font-size: 30px;
}
.first-name-window-input
.emailphone-window-input, 
.address-window-input-container, 
.size-window-section,
.size-door-window-section {
  margin: 0;
  display: block;
}
.last-window-name {
  padding-left: 0;
}
.firstname-window-name-input, 
.lastname-window-name-input, 
.company-window-name-input, 
.email-window-box, 
.phone-window-box, 
.address-window-box, 
.city-window-box, 
.state-window-box, 
.zip-window-box, 
.length-window-box, 
.width-window-box, 
.border-window-box, 
.length-window-select, 
.width-window-select, 
.place-select, 
.finish-window-select, 
.border-select, 
.type-window-box,
.year-window-box,
.make-window-box,
.length-door-window-box,
.width-door-window-box
 {
  font-size: 12px;
}
.model-window-box {
  font-size: 6px;
}
.window-company-label {
  font-size: 18px;
  padding: 0;
}
.finish-window-label {
  font-size: 30px;
}
.window-finish-img-section {
  display: block;
}
.finish-window-select {
  font-size: 7px;
}
.window-warn, .logo-warn {
  font-size: 15px;
  padding-top: 10%;
  margin: 0;
  text-align: center;
}
.log-re {
  font-size: 17px;
  padding-top: 10%;
  margin: 0;
  text-align: center;
}
.emailphone-window-label {
  font-size: 24px;
  padding: 0;
}
.window-company-name-input {
  margin: 10px;
  padding-left: 0;
  display: block;
}
.company-window-input {
  padding-left: 0px;
}
.emailphone-window-input, 
.address-window-input-container, 
.size-window-section {
  margin: 0px;
  display: block;
}
.window-company-name-input, 
.address-window-input, 
.email-window-input, 
.window-phone-name-input, 
.length-window-section, 
.width-window-section, 
.place-window-section, 
.finish-window-section, 
.file-window-section, 
.border-window-section,
.type-window-section {
  margin: 0px;
  display: block;
  padding-left: 0;
}
.address-window-inputing, 
.city-window-input, 
.phone-window {
  padding-left: 0px;
}

.address-window-label, 
.type-window-label,
.size-window-label {
  font-size: 30px;
  padding: 0;
}
.size-driver-window-note, .size-passenger-window-note {
  font-size: 26px;
}
.driver-length-section, 
.driver-width-section, 
.passenger-length-section, 
.passenger-side-width, 
.length-door-window-section, 
.width-door-window-section {
  display: block;
}
.vehicle-list, 
.vehicle-driver-size-li, 
.vehicle-passenger-size-li, 
.finishing-item,
.door-list {
  font-size: 22px;
}
.passenger-submit-size, .passenger-remove-submit-size {
  font-size: 15px;
}
.size-window-label {
  font-size: 20px;
}
.submit-size {
  margin-left: 0;
  font-size: 15px;
  text-align: center;
}
.choose-logo-contain {
  display: block;
  text-align: center;
}
.file-window-label, .remove-window-file-button {
  font-size: 1rem;
  display: block;
}

.message-window-text {
  margin-left: 0;
  text-align: center;
}
.submit-window {
  margin: 0;
  font-size: 16px;
}
.submit-vehicle {
  font-size: 10px;
}
.btn-window-submit {
  padding: 0;
  margin-top: 10px;
  width: 100%;
}
.submit-window-size, .remove-size, .submit-window-place, .remove-tint {
  font-size: 12px;
  margin-left: 0;
}
.size-item, .tint-item  {
  max-width: 150px;
  font-size: 20px;
}
  }
  @media screen and (max-width: 320px) and (orientation: landscape) {
    .main-window-graphics {
      display: block;
    }
    .page-window-container {
      padding-top: 130px; /* Reduce padding */
    }
    .window-description {
      font-size: 37px; /* Reduce font size */
      padding: 10px; /* Add padding to avoid content touching the edges */
    }
    .photo-mx-window-note {
      font-size: 25px; /* Reduce font size */
    }
    .window-form-info {
      margin: 0;
    }
    .window-app-box {
      font-size: 37px;
    }
    .window-fill {
      margin: 10px;
      font-size: 18px;
    }
    .window-actual {
      margin: 0;
    }
    .window-set {
      display: block;
    }
    .name-section-window,
   .company-window-section,
   .emailphone-window-section,
   .address-window-section,
   .vehicle-type-window-section,
   .vehicle-size-window-section,
   .door-size-window-section,
   .finishing-window-section,
   .window-file-section,
   .window-message-container {
    display: block;
    padding: 0;
    margin: 0;
    margin-top: 10px;
   }
    .first-window-name-label, 
.window-company-label, 
.emailphone-window-label,
.address-window-label,
.size-window-label,
.message-window-label,
.place-window-label,
.finish-window-label,
.window-file-label,
.type-window-label {
  font-size: 33px;
}
.first-name-window-input, 
.emailphone-window-input, 
.window-company-name-input, 
.address-window-input, 
.email-window-input, 
.window-phone-name-input, 
.length-window-section, 
.length-door-window-section, 
.width-window-section, 
.place-window-section, 
.finish-window-section, 
.file-window-section, 
.border-window-section, 
.type-window-section {
  display: block;
  padding-left: 0;
}
.first-window-label-name, 
.last-window-label-name, 
.company-window-name, 
.email-window-name, 
.phone-window-label, 
.addr-window-label, 
.city-window-label, 
.state-window-label, 
.zip-window-label, 
.length-window-label, 
.width-window-label, 
.place-label, 
.finish-label, 
.border-label, 
.window-logo, 
.year-window-label, 
.make-window-label, 
.model-window-label, 
.trim-window-label {
  font-size: 25px;
}
.window-message-container {
  margin-top: 10px;
}
.message-window-label {
  margin-bottom: 0;
  margin-top: 10px;
  padding: 0;
  
}
.window-file-label {
padding: 0;
font-size: 30px;
}
.first-name-window-input
.emailphone-window-input, 
.address-window-input-container, 
.size-window-section,
.size-door-window-section {
  margin: 0;
  display: block;
}
.last-window-name {
  padding-left: 0;
}
.firstname-window-name-input, 
.lastname-window-name-input, 
.company-window-name-input, 
.email-window-box, 
.phone-window-box, 
.address-window-box, 
.city-window-box, 
.state-window-box, 
.zip-window-box, 
.length-window-box, 
.width-window-box, 
.border-window-box, 
.length-window-select, 
.width-window-select, 
.place-select, 
.finish-window-select, 
.border-select, 
.type-window-box,
.year-window-box,
.make-window-box,
.length-door-window-box,
.width-door-window-box
 {
  font-size: 12px;
}
.model-window-box {
  font-size: 6px;
}
.window-company-label {
  font-size: 18px;
  padding: 0;
}
.finish-window-label {
  font-size: 30px;
}
.window-finish-img-section {
  display: block;
}
.finish-window-select {
  font-size: 7px;
}
.window-warn, .logo-warn {
  font-size: 15px;
  padding-top: 10%;
  margin: 0;
  text-align: center;
}
.log-re {
  font-size: 17px;
  padding-top: 10%;
  margin: 0;
  text-align: center;
}
.emailphone-window-label {
  font-size: 24px;
  padding: 0;
}
.window-company-name-input {
  margin: 10px;
  padding-left: 0;
  display: block;
}
.company-window-input {
  padding-left: 0px;
}
.emailphone-window-input, 
.address-window-input-container, 
.size-window-section {
  margin: 0px;
  display: block;
}
.window-company-name-input, 
.address-window-input, 
.email-window-input, 
.window-phone-name-input, 
.length-window-section, 
.width-window-section, 
.place-window-section, 
.finish-window-section, 
.file-window-section, 
.border-window-section,
.type-window-section {
  margin: 0px;
  display: block;
  padding-left: 0;
}
.address-window-inputing, 
.city-window-input, 
.phone-window {
  padding-left: 0px;
}

.address-window-label, 
.type-window-label,
.size-window-label {
  font-size: 30px;
  padding: 0;
}
.size-driver-window-note, .size-passenger-window-note {
  font-size: 26px;
}
.driver-length-section, 
.driver-width-section, 
.passenger-length-section, 
.passenger-side-width, 
.length-door-window-section, 
.width-door-window-section {
  display: block;
}
.vehicle-list, 
.vehicle-driver-size-li, 
.vehicle-passenger-size-li, 
.finishing-item,
.door-list {
  font-size: 22px;
}
.passenger-submit-size, .passenger-remove-submit-size {
  font-size: 15px;
}
.size-window-label {
  font-size: 20px;
}
.submit-size {
  margin-left: 0;
  font-size: 15px;
  text-align: center;
}
.choose-logo-contain {
  display: block;
  text-align: center;
}
.file-window-label, .remove-window-file-button {
  font-size: 1rem;
  display: block;
}

.message-window-text {
  margin-left: 0;
  text-align: center;
}
.submit-window {
  margin: 0;
  font-size: 16px;
}
.submit-vehicle {
  font-size: 10px;
}
.btn-window-submit {
  padding: 0;
  margin-top: 10px;
  width: 100%;
}
.submit-window-size, .remove-size, .submit-window-place, .remove-tint {
  font-size: 12px;
  margin-left: 0;
}
.size-item, .tint-item  {
  max-width: 150px;
  font-size: 20px;
}
  }
  
